@import './vendor/normalize';
@import './vendor/django-admin-mixins';
@import './partials/base';
@import './partials/cards';

body {
    padding: 50px 100px;
}

form {
    margin-bottom: 20px;

    label { padding-right: 10px; }

    button,
    input[type='submit'] { @include django-admin-button; }

    select { @include django-admin-select; }
}

table {
    border-spacing: 0;

    &.ready {
        margin-top: 30px;

        th { min-width: 100px; }
    }

    th { text-align: left; }

    td { padding: 5px 20px 5px 0; }

    thead th { border-bottom: 1px solid #000; }

    th:last-child,
    td:last-child {
        border-left: 1px solid #000;
        padding-left: 10px;
    }

    .totals td {
        border-top: 1px solid #000;
        padding-top: 10px;
    }

    .push-pull td {
        color: #999;
    }
}
