venv/
*.css
!/tailwind/**/*.css
staticfiles/
node_modules/
*.sqlite*
.env*
fly.env
playwright.env
.coverage
htmlcov/
backups/
/test-results/
/playwright-report/
/playwright/.cache/
!.vscode
.pytest_cache/
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth/
