# For debugging if needed. Runs every minute.
# */1 * * * * /code/fly/backup.sh >> /var/log/cron.log 2>&1

# 5am Eastern US time every day
0 9 * * * /code/fly/backup.sh && curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/5d3ee45d-0e44-4b2b-b79b-41fdc2a065d4
