[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
autopep8 = "==1.5.2"
dj-stripe = "==2.4.0"
django-capture-tag = "==1.0"
django-compressor = "==2.4"
django-debug-toolbar = "~=3.1.1"
django-libsass = "==0.8"
django-markdown-deux = "==1.0.5"
model-bakery = "==1.2.0"
pycodestyle = "==2.5.0"
pytz = "==2020.1"
stripe = "==2.55.0"
django = "~=3.1.3"
psycopg2-binary = "==2.8.5"
whitenoise = "==5.2.0"
gunicorn = "==20.0.4"
coverage = "*"

[requires]
python_version = "3.8"
