[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.7"
autopep8 = "==1.5.2"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
dj-stripe = "==2.3.0"
django-appconf = "==1.0.4"
django-capture-tag = "==1.0"
django-compressor = "==2.4"
django-debug-toolbar = "==2.2"
django-libsass = "==0.8"
django-markdown-deux = "==1.0.5"
idna = "==2.9"
jsonfield = "==3.1.0"
jsonfield2 = "==4.0.0.post0"
libsass = "==0.20.0"
markdown2 = "==2.3.9"
model-bakery = "==1.1.0"
pycodestyle = "==2.5.0"
python-dotenv = "==0.13.0"
pytz = "==2020.1"
rcssmin = "==1.0.6"
requests = "==2.23.0"
rjsmin = "==1.1.0"
six = "==1.14.0"
sqlparse = "==0.3.1"
stripe = "==2.47.0"
urllib3 = "==1.25.9"
Django = "==3.0.7"
psycopg2-binary = "==2.8.5"

[requires]
python_version = "3.8"
