autopep8
black
coverage
dj-database-url
django
django-bleach
django-browser-reload
django-capture-tag
django-cors-headers
django-debug-toolbar
django-extensions
django-htmx
django-registration
django-waffle
django-widget-tweaks
environs[django]
flake8
freezegun
gunicorn
ipython
markdown
model-bakery
phpserialize
pip-lock
pip-tools
pre-commit
psycopg[binary]
pycodestyle
pycryptodome
pyquery
pytest-django
pytest-playwright
pytest-xdist
python-dotenv
pytz
requests
sentry-sdk
whitenoise
