autopep8
black
coverage
django
django-bleach
django-browser-reload
django-capture-tag
django-cors-headers
django-debug-toolbar
django-htmx
django-waffle
django-widget-tweaks
flake8
freezegun
gunicorn
ipython
markdown
model-bakery
phpserialize
pip-lock
pip-tools
pre-commit
psycopg[binary]
pycodestyle
pycryptodome
pytest-django
pytest-xdist
python-dotenv
pytz
requests
sentry-sdk
whitenoise
