autopep8
coverage
django
django-bleach
django-browser-reload
django-capture-tag
django-cors-headers
django-dbbackup==4.0.0b0
django-debug-toolbar
django-htmx
django-waffle
django-widget-tweaks
freezegun
gunicorn
ipython
markdown
model-bakery
phpserialize
pip-lock
pip-tools
psycopg2-binary
pycodestyle
pycryptodome
python-dotenv
pytz
pywatchman
requests
whitenoise
