asgiref==3.2.7
autopep8==1.5.1
certifi==2019.11.28
chardet==3.0.4
dj-stripe==2.2.3
Django==3.0.5
django-appconf==1.0.4
django-capture-tag==1.0
django-compressor==2.4
django-debug-toolbar==2.2
django-libsass==0.8
django-markdown-deux==1.0.5
idna==2.9
jsonfield==3.1.0
jsonfield2==4.0.0.post0
libsass==0.19.4
markdown2==2.3.8
model-bakery==1.1.0
pycodestyle==2.5.0
python-dotenv==0.12.0
pytz==2019.3
rcssmin==1.0.6
requests==2.23.0
rjsmin==1.1.0
six==1.14.0
sqlparse==0.3.1
stripe==2.44.0
urllib3==1.25.8
