body {
    font-family: sans-serif;
}

.help {
    border-bottom: 1px dashed #ccc;
    cursor: help;
}

// For parts of the app that still need to be properly designed.
.raw {
    padding: 1.25rem;
}
