.cards {
    padding: 0;

    li { list-style: none; }
}

// The <li />
.card {
    color: white;
    background: blue;
    display: flex;
    position: relative;
    align-items: stretch;
    margin-bottom: 1px;

    &__e6 {
        @include gradient($e6);
    }

    &__c41 {
        @include gradient($c41);
    }

    &__bw {
        @include gradient($bw);
    }

    header {
        padding: 0 20px;
    }

    a {
        color: white;
        text-decoration: none;
        flex-grow: 1;

        &:hover {
            text-decoration: underline;
        }
    }

    form {
        margin: auto 20px;
        flex-grow: 0;
    }

    .count {
        background: rgba(0, 0, 0, .25);
        display: flex;
        padding: 0 10px;
        min-width: 20px;

        span {
            margin: auto;
        }
    }
}
