form {
    margin-bottom: 20px;

    .c-field__widget & { margin-bottom: 0; }
}

button,
input[type='submit'] { @include django-admin-button; }

input[type='number'] { width: 5em; }

.action {
    margin-top: 3rem;
    text-align: right;
}
