.c-field {
    padding: 2rem 0;

    & + & {
        @include divider-solid;
        border-top-width: $divider-width;
    }

    input[type=text],
    input[type=number],
    input[type=password],
    textarea { border: 1px solid $bw; }

    textarea { width: 100%; }

    label {
        display: block;
        margin-bottom: .5rem;
        font-weight: 600;
    }

    input[type=number] { width: 5em; }

    // For when you can't actually edit a field.
    &__input-placeholder { margin-bottom: 0; }

    &__help {
        display: block;
        margin-bottom: .5rem;

        ul, p { margin-top: 0; }

        ul { padding-left: 1rem; }
    }

    &__fieldset {
        * + * { margin-left: .5rem; }
    }
}
