form {
    margin-bottom: 20px;

    table &,
    body.camera-load & { margin-bottom: 0; }

    .c-card & { margin: auto 20px; }
}

button,
input[type='submit'] { @include django-admin-button; }

input[type='number'] { width: 5em; }

.action {
    margin-top: 3rem;
    text-align: right;
}
