.c-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem 0;

    & + & {
        @include divider-solid;
        border-top-width: $divider-width;
    }

    &--textarea {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        label { margin-bottom: 1rem; }
    }

    // Fields don't need to be full-width all the time.
    > *:nth-child(2) { justify-self: end; }

    label { padding-right: 1rem; }

    input[type=number] { width: 5em; }

    p { margin: 0; }

    p,
    &__help { text-align: right; }

    &__help {
        grid-column-start: 2;
        margin-top: .5rem;

        ul { text-align: left; }

        ul, p { margin-top: 0; }
    }

    &__fieldset {
        display: flex;
        justify-content: flex-end;

        * + * { margin-left: 1rem; }
    }
}
