form {
    width: 22rem;
    border: 1rem solid #eee;
    border-radius: .5rem;

    input[type=number] {
        width: 3rem;
    }

    textarea {
        resize: vertical;
        min-height: 4rem;
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: .5rem solid #eee;
        padding: .5rem;

        &.notes {
            flex-direction: column;
            align-items: stretch;

            label { padding-bottom: .5rem; }
        }

        &.action {
            justify-content: center;

            input { width: 100%; }
        }
    }
}
