body {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    cursor: pointer; // For the sake of JS-created links without `href`s.
    color: $button;
    text-decoration: underline;

    &:hover {
        background: lighten($button, 55%);
        color: $dark;
    }
}

.wrapper {
    > footer {
        font-size: 0.6rem;

        .timezone { color: $medium; }
    }
}

.subdued {
    color: lighten($bw, 20%);
    font-size: 0.8em;
}
