.print-only { display: none; }

@media print {
    a {
        text-decoration: none;
        color: black;

        &[href^='http'] {
            text-decoration: underline;
            &::after { content: ' (' attr(href) ')'; }
        }
    }

    .action,
    .do-not-print { display: none !important; }

    .print-only { display: block; }

    .c-site-nav { background: transparent; }
}
