$e6: #6542f4;
$c41: #419af4;
$bw: #555;
$dark: rgba(0, 0, 0, .9);

$spacing: .6rem;

@mixin gradient($color) {
  background: $color;
  background-image: linear-gradient($color, darken($color, 10%));

  &:hover {
    background: darken($color, 15%);
    background-image: linear-gradient(darken($color, 15%), darken($color, 20%));
  }
}
