$spacing: .6rem;

$breakpoints: (
    S:  '(min-width: 580px)',
    M:  '(min-width: 890px)',
    L:  '(min-width: 1120px)',
    XL: '(min-width: 1400px)'
);

// Example usage:
//     @include breakpoint('S') { /*...*/ }

@mixin breakpoint($query) {
    @media only screen and #{map-get($breakpoints, $query)} {
        @content;
    }
}

@mixin gradient($color) {
  background: $color;
  background-image: linear-gradient($color, darken($color, 10%));

  &:hover {
    background: darken($color, 15%);
    background-image: linear-gradient(darken($color, 15%), darken($color, 20%));
  }
}

// For wide tables or whatever.
.overflow-x {
    overflow-x: auto;
}

// For parts of the app that still need to be properly designed.
.raw {
    padding: 1.25rem;
}
