form { @apply space-y-6; }

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='number'],
input[type='checkbox'],
input[type='radio'],
input[type='url'],
select,
textarea {
  @apply
    border-stone-300
    focus:ring-2
    focus:ring-offset-2
    focus:ring-blue-500
    focus:ring-offset-stone-100
    dark:focus:ring-offset-stone-800;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='number'],
input[type='url'],
select,
textarea {
  @apply
    max-w-full
    text-stone-800
    block
    px-3
    py-2
    rounded-md
    shadow-xs
    placeholder-stone-400
    focus:outline-hidden
    sm:text-sm
    focus:placeholder-stone-400;
}

textarea { @apply w-full; }

select { @apply pr-8; }

input[type='date'] {
  @apply
    /* To keep things vertically centered in Safari: */
    flex
    align-middle
    min-w-[6rem];
}

input[type='checkbox'],
input[type='radio'] {
  @apply mr-2;
}

input[type='checkbox'] {
  @apply
    h-4
    w-4
    text-blue-600
    rounded-sm
}

input[type='number'] {
  appearance: textfield;

  @apply
    max-w-[5rem]
    rounded-none
    text-center
    font-bold
    text-xl
    md:text-base
    md:font-normal;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @apply appearance-none;
  }
}

.no-js input[type='number'] {
  @apply font-normal text-base;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: auto;
  }
}

fieldset {
  legend { @apply mb-2; }

  select,
  input[type='number'] { @apply inline; }
}
