@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
      bg-stone-100
      dark:bg-stone-800
      text-stone-900
      dark:text-stone-200;

    --folded-corner: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0% 80%);
  }

  a {
    @apply
      text-blue-600
      dark:text-blue-400
      underline
      hover:text-blue-500
      dark:hover:text-blue-300
      hover:underline;
  }

  .text-subdued {
    @apply
      text-stone-500
      dark:text-stone-400;

    a& {
      @apply
        hover:text-stone-700
        dark:hover:text-stone-100;
    }
  }
}

@layer components {
  .page-heading {
    @apply
      md:flex
      md:items-center
      md:justify-between;

    .inner {
      @apply
        flex-1
        min-w-0;
    }

    h1 {
      @apply
        text-2xl
        font-bold
        leading-7
        sm:text-3xl
        sm:truncate;
    }
  }

  .button {
    @apply
      inline-flex
      items-center
      px-4
      py-2
      border
      border-stone-300
      dark:border-stone-500
      rounded-md
      shadow-sm
      text-sm
      font-medium
      text-stone-700
      dark:text-stone-200
      hover:text-stone-700
      dark:hover:text-stone-200
      bg-white
      dark:bg-stone-600
      hover:bg-stone-50
      dark:hover:bg-stone-900
      dark:hover:border-stone-600
      focus:outline-none
      focus:ring-2
      focus:ring-offset-2
      focus:ring-offset-stone-100
      dark:focus:ring-offset-stone-800
      focus:ring-blue-500;

    &,
    &:hover {
      @apply no-underline;
    }

    &.primary,
    &.destructive {
      @apply
        border-transparent
        text-white;
    }

    &.primary {
      @apply
        bg-blue-600
        hover:bg-blue-700;
    }

    &.destructive {
      @apply
        bg-red-600
        hover:bg-red-700;
    }
  }

  #menu-inner {
    @apply
      bg-stone-800
      dark:bg-stone-900;

    svg {
      @apply
        text-stone-400
        mr-3
        flex-shrink-0
        h-6
        w-6;
    }

    ul {
      a {
        @apply
          p-2
          no-underline
          text-stone-300
          flex-grow;
      }

      li,
      a {
        @apply
          text-stone-300
          hover:bg-stone-700
          dark:hover:bg-stone-800
          hover:text-white
          flex
          items-center
          text-sm
          font-medium
          rounded-md;

        &.current {
          @apply
            p-2
            bg-stone-900
            dark:bg-black
            text-white;

          a { @apply -m-2; }

          svg { @apply text-stone-300; }
        }
      }
    }
  }

  section .tabs {
    a {
      @apply
        border-transparent
        text-stone-500
        dark:text-stone-400
        hover:text-stone-700
        dark:hover:text-stone-200
        hover:border-stone-300
        no-underline;
    }

    a.current {
      @apply
        border-blue-400
        text-blue-600
        dark:text-blue-300;
    }
  }

  .type {
    &-empty {
      @apply border-2 border-dashed rounded-lg bg-transparent border-stone-300 dark:border-stone-500;

      .reminder-iso { @apply text-stone-300 dark:text-stone-500; }
    }

    &-c41 {
      @apply bg-blue-500 dark:bg-blue-600;

      .fold { @apply bg-blue-300 dark:bg-blue-400; }
      .reminder-type { @apply text-blue-300 dark:text-blue-400; }
      .reminder-iso { @apply text-white; }
      .reminder-push-pull { @apply text-blue-300 dark:text-blue-400; }
    }

    &-bw {
      @apply bg-stone-400 dark:bg-stone-500;

      .fold { @apply bg-stone-300 dark:bg-stone-400; }
      .reminder-type { @apply text-stone-300 dark:text-stone-400; }
      .reminder-iso { @apply text-white; }
      .reminder-push-pull { @apply text-stone-300 dark:text-stone-400; }
    }

    &-e6 {
      @apply bg-purple-600;

      .fold { @apply bg-purple-400; }
      .reminder-type { @apply text-purple-400; }
      .reminder-iso { @apply text-white; }
      .reminder-push-pull { @apply text-purple-400; }
    }
  }

  .stats {
    @apply
      grid
      grid-cols-1
      gap-5
      sm:grid-cols-2;

    > div {
      @apply
        px-4
        py-5
        bg-white
        dark:bg-stone-600
        shadow
        rounded-lg
        overflow-hidden
        sm:p-6;
    }

    dt {
      @apply
        text-sm
        font-medium
        truncate
        text-stone-500
        dark:text-stone-300;
    }

    dd {
      @apply
        mt-1
        text-3xl
        font-semibold
        text-stone-900
        dark:text-white;
    }
  }
}

@layer utilities {
  .has-js .no-js { @apply hidden; }

  .folded .reminder-square:not(.type-empty) {
    clip-path: var(--folded-corner);

    .fold { @apply block; }
  }

  .unfolded .reminder-square:not(.type-empty) {
    clip-path: none;

    .fold { @apply hidden; }
  }
}
