[role=button],
a.button,
button,
input[type=submit] {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: $button;
    border: 0.2rem solid rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    user-select: none;

    & + & { margin-left: 1rem; }

    &:active {
        position: relative;
        top: 1px;
        box-shadow: none;
    }

    &:hover { background: $button-hover; }

    &.secondary {
        color: $bw;
        background: $light;

        &:hover {
            color: $dark;
            background: $medium;
        }
    }

    &.destructive {
        background: $destructive;

        &:hover { background: darken($destructive, 10%); }
    }

    &.icon {
        padding: 0;
        background: none;
        box-shadow: none;
        border: none;
        fill: $medium-dark;

        // Keep button vertically centered in a card
        .c-card & { display: flex; }

        &:hover { fill: black; }

        &-back { padding-right: 0.5rem; }

        &-destructive:hover { fill: darken($destructive, 10%); }
    }

    &[disabled] {
        color: $medium-dark;
        background: $medium;
        border-color: transparent;
        box-shadow: 1px 1px 5px transparent;
        cursor: not-allowed;
    }
}
