.c-card {
    display: flex;

    a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: map-get($govuk-colours, black);

        &,
        .c-card__name { flex-grow: 1; }

        .c-card__name {
            display: flex;
            align-items: center;
            padding: 0 2rem;
            margin: 0.8rem 0;
            font-size: 1.2rem;
        }
    }

    // Less spacing for card name if there’s a form.
    form + a .c-card__name { padding: 0 0.5rem; }

    // Default close button styles (film cards override this).
    button.icon-destructive {
        svg { fill: rgba(0, 0, 0, 0.25); }

        &:hover svg { fill: darken($destructive, 10%); }

        &:focus svg {
            fill: $medium-dark;
            outline: 5px solid $gold;
        }
    }

    &--default,
    &--blank {
        background: lighten($light, 5%);

        &:focus,
        &:hover,
        a:focus,
        a:hover {
            background: $light;

            .c-card__name { color: #000; }
        }
    }

    &--blank a {
        .c-card__name {
            font-style: italic;
            color: $medium-dark;
        }

        &:hover .c-card__name { color: #000; }
    }

    &--film {
        &__e6 { @include film-card-colors('purple'); }

        &__c41 { @include film-card-colors('blue'); }

        &__bw { @include film-card-colors('grey'); }
    }

    &__count {
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        min-width: 3rem;
        box-shadow: inset 0.3rem 0 0 0 rgba(0, 0, 0, 0.05);

        span { margin: auto; }
    }

    & + & { border-top: 1px solid $light-border; }
}
