.c-card {
    margin-bottom: 1px;
    display: flex;

    a {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        &:hover { background: none; }

        &,
        > header,
        > header h1 { flex-grow: 1; }

        > header {
            display: flex;
            align-items: center;

            h1 {
                padding: 0 1.25rem;
                font-size: 1.2rem;
                font-weight: normal;
            }
        }
    }

    &--default {
        @include gradient($light);

        a {
            color: #000;
            text-decoration: none;

            > header h1 {
                font-weight: normal;
                color: #000;
            }
        }
    }

    &--film {
        @include gradient(blue);
        color: white;

        &__e6 { @include gradient($e6); }

        &__c41 { @include gradient($c41); }

        &__bw { @include gradient($bw); }

        a {
            color: white;
            text-decoration: none;

            > header h1 { color: white; }
        }
    }

    &__count {
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        min-width: 3rem;

        span { margin: auto; }
    }
}
