@mixin input-style {
    border: 2px solid $bw;
    border-radius: 0;
    padding: 0.5rem;
}

@mixin input-focus-style {
    outline: none;
    box-shadow: 0 0 1px 4px $gold;
}

form {
    margin-bottom: 1.2rem;

    table &,
    body.camera-load & { margin-bottom: 0; }

    .c-card & { margin: auto 1.2rem; }

    .action {
        margin-top: 1rem;

        input[type=submit] + a,
        button + a { margin-left: 1rem; }
    }
}

fieldset {
    padding: 0;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // A little crude, but it does the job for when things wrap.
    > * {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

input[type='number'] { width: 5em; }

// Make sure cool outline happens on mobile Safari and that empty date field
// doesn't collapse.
input:not([type=checkbox]):not([type=submit]):not([type=date]):not([type=radio]),
textarea { -webkit-appearance: none; }

input:not([type=checkbox]):not([type=submit]),
textarea { @include input-style; }

textarea {
    width: 100%;
    resize: vertical;
}

input:not([type=checkbox]):not([type=radio]),
input[type=submit],
textarea,
button,
a.button { &:focus { @include input-focus-style; } }

label { display: block; }

label,
legend {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input[type=number] { width: 5em; }

select:focus { outline: 5px solid $gold; }

.has-js .markdown-toolbar.js-required {
    display: flex;
    background: $light;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;

    small { text-align: right; }

    .button + .button {
        margin-left: 0.5rem;

        @include breakpoint('XS') { margin-left: 1rem; }
    }
}
