@mixin input-style {
    border: 2px solid $bw;
    border-radius: 0;
    padding: 0.5rem;
}

@mixin input-focus-style {
    outline: none;
    box-shadow: 0 0 1px 4px $gold;
}

form {
    margin-bottom: 1.2rem;

    table &,
    body.camera-load & { margin-bottom: 0; }

    .c-card & { margin: auto 1.2rem; }

    .action { margin-top: 1rem; }
}

fieldset {
    padding: 0;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // A little crude, but it does the job for when things wrap.
    > * {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

input[type='number'] { width: 5em; }

// Make sure cool outline happens on mobile Safari and that empty date field
// doesn't collapse.
input:not([type=checkbox]):not([type=submit]):not([type=date]):not([type=radio]),
textarea { -webkit-appearance: none; }

input:not([type=checkbox]):not([type=submit]),
textarea { @include input-style; }

textarea { width: 100%; }

input,
input[type=submit],
textarea,
button,
a.button { &:focus { @include input-focus-style; } }

label { display: block; }

label,
legend {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input[type=number] { width: 5em; }

select:focus { outline: 5px solid $gold; }

// Stripe
// ------
.StripeElement {
    @include input-style;
    max-width: 50ch;

    &--focus { @include input-focus-style; }

    &--invalid { border-color: $destructive; }

    &--focus#{&}--invalid { box-shadow: 0 0 1px 4px $destructive; }

    // TODO: Figure out how this should look and keep the color in _colors.scss
    &--webkit-autofill { background-color: #fefde5 !important; }
}

#payment-form {
    .form-row {
        margin-bottom: 1rem;

        div + div { margin-top: 1rem; }
    }
}

#card-errors { color: darken($destructive, 10%); }
