.c-field {
    padding: 2rem 0;

    & + & {
        @include divider-solid;
        border-top-width: $divider-width;
    }

    // For when you can't actually edit a field.
    &__input-placeholder { margin-bottom: 0; }

    &__help {
        display: block;
        margin-bottom: 0.5rem;

        ul,
        p { margin-top: 0; }

        ul { padding-left: 1rem; }
    }

    input[type=checkbox],
    input[type=radio] {
        transform: scale(1.2);
        margin-right: 0.8rem;
    }

    &--checkbox,
    &--radio {
        label {
            align-items: center;
            background: $light;
            padding: 1rem;
            border: 0.25rem solid $light;

            &:hover {
                border-color: $medium;
            }
        }

        fieldset { display: block; }
    }

    &--checkbox label { display: inline-flex; }

    &--radio label { display: flex; }
}
