$logo-size: 35px;

.c-site-nav {
    background: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;

    a {
        text-decoration: none;
        color: $medium;

        &:hover {
            text-decoration: underline;
            background: none;
        }
    }

    .film-icon {
        height: $logo-size;
        width: $logo-size;
    }

    .badge-wrapper {
        position: relative;

        .beta {
            position: absolute;
            top: -0.3rem;
            right: -0.75rem;
            background: rgb(30, 64, 175); // blue-800
            color: rgb(219, 234, 254); // blue-100
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            padding: 0.05rem 0.4rem;
            border-radius: 9999px;
        }
    }

    nav {
        @media print { display: none; }

        ul {
            margin: 0;

            @include breakpoint('S') { font-size: 0.9rem; }
        }

        li {
            display: inline-block;
            margin-left: 0.5rem;
            margin-bottom: 0;

            // Currently selected item.
            span { color: $bw; }

            &:first-child { margin-left: 0; }

            &.admin a,
            &.feedback a { color: $gold; }
        }
    }
}

.c-status-nav {
    background: $bw;
    margin: 0;
    padding: 0;
    color: $white;
    list-style: none;
    display: flex;
    font-size: 0.8rem;
    border-bottom: 1px solid $medium-dark-solid;

    a span,
    span span { display: none; }

    @include breakpoint('S') {
        font-size: unset;

        a span,
        span span { display: inline; }
    }

    li {
        flex-grow: 1;
        text-align: center;
    }

    li + li { border-left: 1px solid $medium-dark; }

    a {
        color: $white;

        &:hover { background: rgba(0, 0, 0, 0.2); }
    }

    a,
    li > span {
        display: block;
        padding: 0.75rem 1rem;

        @include breakpoint('S') { padding: 0.75rem; }
    }

    ol { display: none; }

    li.current a,
    li > span {
        color: $dark;
        background: rgba(255, 255, 255, 0.75);
    }

    li.current a:hover { text-decoration: none; }
}
