$logo-size: 35px;

.c-site-nav {
    background: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;
    border-bottom: 1px solid $bw;

    a {
        text-decoration: none;
        color: $medium;

        &:hover {
            text-decoration: underline;
            background: none;
        }
    }

    .film-icon {
        height: $logo-size;
        width: $logo-size;
    }

    nav {
        @media print { display: none; }

        ul {
            margin: 0;
            // font-size: 0.6rem;

            @include breakpoint('S') { font-size: 0.9rem; }
        }

        li {
            display: inline-block;
            margin-left: 0.5rem;
            margin-bottom: 0;

            &:first-child { margin-left: 0; }

            &.admin a,
            &.feedback a { color: $gold; }
        }
    }
}

.c-status-nav {
    background: $bw;
    margin: 0;
    color: $white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-bottom: 0.5rem solid $dark;

    a {
        color: $white;

        &:hover { background: rgba(0, 0, 0, 0.2); }
    }

    a,
    span {
        display: block;
        padding: 1rem;
        margin-top: 0.5rem;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    li + li { margin-left: 0.5rem; }

    ol { display: none; }

    li.current a,
    li span {
        color: $white;
        background: $dark;
    }

    li.current a:hover { text-decoration: none; }
}
