$onboarding-foreground: black;
$onboarding-background: $bs-blue-bg;

.wrapper > main > .onboarding {
    color: $onboarding-foreground;
    background: $onboarding-background;
    padding: 1rem 2rem 1.5rem;

    a {
        color: $onboarding-foreground;

        &:hover {
            background: $bw;
            color: white;
            text-decoration: none;
        }
    }

    ol,
    ul { padding: 0; }

    li {
        margin-bottom: 1rem;
        display: flex;
        list-style-type: none;

        .icon { margin-right: 0.5rem; }
    }

    hr { border-color: darken($onboarding-background, 5%); }

    svg { fill: $onboarding-foreground; }
}
