.c-subscription-banner {
    background: $bs-blue-bg;
    color: $bs-blue;
    text-align: center;
    padding: 0.75rem;
    border-bottom: 1px solid $medium-dark-solid;

    a {
        color: $bs-blue;

        &:hover { background: darken($bs-blue-bg, 10%); }
    }

    &--deleted {
        color: $bs-yellow;
        background: $bs-yellow-bg;

        a {
            color: $bs-yellow;

            &:hover { background: darken($bs-yellow-bg, 10%); }
        }
    }

    &--paused,
    &--past_due {
        color: $bs-red;
        background: $bs-red-bg;

        a {
            color: $bs-red;

            &:hover { background: darken($bs-red-bg, 10%); }
        }
    }
}
