{% load capture_tags %}
<section class="c-card c-card--{{ type|default:'default' }}{% if type == 'film' %} c-card--{{ type|default:'default' }}__{{ film_type|default:'c41' }}{% endif %}">
    {% if project and film %}
        <form onsubmit="return confirmRemove('film');" action="{% url 'project-rolls-remove' project.id %}" method="post" class="do-not-print">
            {% csrf_token %}
            <input type="hidden" name="film" value="{{ film.id }}" />
            <button class="icon icon-destructive" title="Remove from project.">
                {% include 'inventory/_github-icon.html' with id='x' title='Remove from project.' %}
            </button>
        </form>
    {% endif %}
    {% if project and camera %}
        <form onsubmit="return confirmRemove('camera')" action="{% url 'project-camera-update' project.id %}" method="post" class="do-not-print">
            {% csrf_token %}
            <input type="hidden" name="camera" value="{{ camera.id }}" />
            <input type="hidden" name="action" value="remove" />
            <button class="icon icon-destructive" title="Remove from project.">
                {% include 'inventory/_github-icon.html' with id='x' title='Remove from project.' %}
            </button>
        </form>
    {% endif %}
    {% if project and back %}
        <form onsubmit="return confirmRemove('camera and all of its backs')" action="{% url 'project-camera-update' project.id %}" method="post" class="do-not-print">
            {% csrf_token %}
            <input type="hidden" name="camera" value="{{ back.camera.id }}" />
            <input type="hidden" name="action" value="remove" />
            <button class="icon icon-destructive" title="Remove from project.">
                {% include 'inventory/_github-icon.html' with id='x' title='Remove from project.' %}
            </button>
        </form>
    {% endif %}
    {% if project and roll and roll in rolls_loaded_outside_project %}
        {% capture as remove_text silent %}{% if roll.camera_back %}camera and all of its backs{% else %}camera{% endif %}{% endcapture %}
        <form onsubmit="return confirmRemove('{{ remove_text }}')" action="{% url 'project-camera-update' project.id %}" method="post" class="do-not-print">
            {% csrf_token %}
            <input type="hidden" name="camera" value="{{ roll.camera.id }}" />
            <input type="hidden" name="action" value="remove" />
            <button class="icon icon-destructive" title="Remove from project.">
                {% include 'inventory/_github-icon.html' with id='x' title='Remove from project.' %}
            </button>
        </form>
    {% endif %}
    <a href="{{ location|default:'#' }}{% if project and querystring == 'project' %}?project={{ project.id }}{% endif %}">
        <section class="c-card__name"><span>{{ name }}</span></section>
        {% if slot == 'count' %}
            {% if sub_type == 'stock' %}
                <div class="c-card__count" title="Number of films for this stock."><span>{{ count|default:'0' }}</span></div>
            {% else %}
                <div class="c-card__count" title="Number of rolls"><span>{{ count|default:'0' }}</span></div>
            {% endif %}
        {% elif slot == 'reminder' %}
            <section class="c-reminder c-reminder--{{ roll.film.type|default:'empty' }}">
                {% if roll.film.iso %}
                    {% capture as iso silent %}{% if roll.push_pull %}{{ roll.effective_iso }}{% else %}{{ roll.film.iso }}{% endif %}{% endcapture %}
                    {% capture as film_description silent %}Loaded with {{ roll.film.type|upper }} film with an ISO of {{ iso }}.{% endcapture %}
                    <div class="c-reminder__iso" title="{{ film_description }}" aria-label="{{ film_description }}">{{ iso }}</div>
                {% endif %}
                <ul class="c-reminder__meta">
                    {% comment %}
                        Not using this yet. Maybe never.
                        {% if roll.film.color_balance %}
                        <li title="Daylight balanced" class="color_balance">{{ roll.film.color_balance|upper }}</li>
                        {% endif %}
                    {% endcomment %}
                    {% if roll.push_pull %}
                    <li class="push_pull" title="{{ roll.film.iso }} {{ roll.get_push_pull_display }}">{{ roll.film.iso }} {{ roll.push_pull }}</li>
                    {% endif %}
                    <li class="type">{{ roll.film.type|upper }}</li>
                </ul>
            </section>
        {% endif %}
    </a>
</section>
