<select name="film" id="id_film" required>
    <option value="">Select a film</option>

    {# Note: this no longer works with film manufacturers, only via film.stock. #}
    {% regroup films by stock.manufacturer as films_list %}

    {% for manufacturer in films_list %}
        {# TODO: remove this if statement. #}
        {% if manufacturer.grouper != None %}
            <optgroup label="{{ manufacturer.grouper }}">
                {% for film in manufacturer.list %}
                    <option value="{{ film.id }}">{{ film.stock }} in {{ film.get_format_display }}</option>
                {% endfor %}
            </optgroup>
        {% endif %}
    {% endfor %}
</select>
