{% include 'inventory/_form-field.html' with field=form.started_on %}
{% include 'inventory/_form-field.html' with field=form.ended_on %}
{% if status != '02_loaded' %}
{% include 'inventory/_form-field.html' with field=form.status %}
{% else %}
<div class="c-field">
    <input type="hidden" name="status" value="{{ status }}" />
    <label>Status</label>
    <small class="c-field__help">You can't update the status of a loaded roll from this form.</small>
    <p class="c-field__input-placeholder">Loaded</p>
</div>
{% endif %}
{% include 'inventory/_form-field.html' with field=form.camera %}
{% include 'inventory/_form-field.html' with field=form.lens %}
{% include 'inventory/_form-field.html' with field=form.project %}
{% include 'inventory/_form-field.html' with field=form.push_pull %}
{% include 'inventory/_form-field.html' with field=form.location %}
{% include 'inventory/_form-field.html' with field=form.notes %}
{% include 'inventory/_form-field.html' with field=form.lab %}
{% include 'inventory/_form-field.html' with field=form.scanner %}
{% include 'inventory/_form-field.html' with field=form.notes_on_development %}
