{% if field.field.widget.input_type == 'hidden' %}
    {{ field }}
{% else %}
<div class="c-field {% if not field.field.widget.input_type %} c-field--textarea{% else %}c-field--{{field.field.widget.input_type}}{% endif %}">
    {% if field.field.widget.input_type == 'checkbox' %}
        {% if field.help_text %}
        <small class="c-field__help">{{ field.help_text }}</small>
        {% endif %}
        <label for="{{ field.id_for_label }}">
            {{ field }}
            {{ field.label }}
        </label>
    {% elif field.field.widget.input_type == 'radio' %}
        <fieldset>
            <legend>{{ field.label }}</legend>
            {% if field.help_text %}
            <div><small class="c-field__help">{{ field.help_text }}</small></div>
            {% endif %}
            {% for key, value in field.field.choices %}
                <div>
                    <label for="id_{{ key }}">
                        <input id="id_{{ key }}" type="radio" name="{{ field.name }}" value="{{ key }}" />
                        {{ value }}
                    </label>
                </div>
            {% endfor %}
        </fieldset>
    {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text and field.label != 'Username' %}
        <small class="c-field__help">{{ field.help_text }}</small>
        {% endif %}
        {% if not field.field.widget.input_type %}
        <small class="c-field__help"><a href="https://guides.github.com/features/mastering-markdown/" target="_blank" rel="noopener">Markdown</a> enabled.</small>
        <markdown-toolbar for="id_notes" class="markdown-toolbar">
            <md-bold class="btn btn-sm">bold</md-bold>
            <md-italic class="btn btn-sm">italic</md-italic>
            <md-link class="btn btn-sm">link</md-link>
            <md-unordered-list class="btn btn-sm">unordered-list</md-unordered-list>
            <md-ordered-list class="btn btn-sm">ordered-list</md-ordered-list>
        </markdown-toolbar>
        {% endif %}
        {{ field }}
    {% endif %}
    {% if progressive_link %}
        <div class="js-link"></div>
    {% endif %}
</div>
{% endif %}
