<div class="c-field {% if not field.field.widget.input_type %} c-field--textarea{% else %}c-field--{{field.field.widget.input_type}}{% endif %}">
    {% if field.field.widget.input_type == 'checkbox' %}
        {% if field.help_text %}
        <small class="c-field__help">{{ field.help_text }}</small>
        {% endif %}
        <label for="{{ field.id_for_label }}">
            {{ field }}
            {{ field.label }}
        </label>
    {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text and field.label != 'Username' %}
        <small class="c-field__help">{{ field.help_text }}</small>
        {% endif %}
        {{ field }}
    {% endif %}
</div>
