<form method="get">
    <details class="open:bg-stone-200 open:dark:bg-stone-700 p-4 pt-2 -m-4 -mt-2">
        <summary class="cursor-pointer text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300">
            Project filter: {{ current_project.name|default:'All available rolls' }}
        </summary>
        <div class="flex gap-3 mt-3">
            <select name="project" id="id_project">
                <option value="0">All available rolls</option>
                {% for project in projects %}
                <option value="{{ project.id }}" {% if project.id == current_project.id %}selected{% endif %}>
                    {{ project.name }}
                </option>
                {% endfor %}
            </select>
            <button>Filter</button>
        </div>
    </details>
</form>
