<form method="get">
    {% if current_project %}
    <input type="hidden" name="project" value="{{ current_project.id }}" />
    {% endif %}

    <div class="c-field">
        {% if iso_range and iso_value %}
            <label for="id_iso_filter">ISO filter:
                {% ifequal iso_range 'gte' %}greater than or equal to{% endifequal %}
                {% ifequal iso_range 'lte' %}less than or equal to{% endifequal %}
                {% ifequal iso_range 'equals' %}equal to{% endifequal %}
            {{ iso_value }}</label>
        {% else %}
            <label for="id_iso_filter">ISO filter: inactive</label>
        {% endif %}

        <button id="id_iso_filter" class="toggle-button">Show</button>
    </div>

    <div class="toggle">
        <div class="c-field c-field--multi">
          <label for="id_iso_range">Filter by ISO</label>
          <div class="c-field__fieldset">
              <select id="id_iso_range" name="iso_range" required>
                  <option value="0">All ISOs</option>
                  <option value="lte" {% if iso_range == 'lte' %}selected{% endif %}>&lt;= Less than or equal to</option>
                  <option value="gte" {% if iso_range == 'gte' %}selected{% endif %}>&gt;= Greater than or equal to</option>
                  <option value="equals" {% if iso_range == 'equals' %}selected{% endif %}>= Equal to</option>
              </select>
              <input type="number" min="1" name="iso_value" placeholder="ISO" value="{{ iso_value }}" required />
          </div>
        </div>

        <div class="action"><input type="submit" value="Filter" /></div>
    </div>
</form>
