{% if field.field.widget.input_type == 'hidden' %}
    {{ field }}
{% else %}
<div
    class="c-field {% if not field.field.widget.input_type %} c-field--textarea
        {% else %} c-field--{{ field.field.widget.input_type }}{% endif %}
        {% if progressive %} c-field--progressive
            {% if primary %} c-field--progressive-primary{% endif %}
        {% endif %}
        {% if top_field %} c-field--progressive__top{% endif %}"
    {% if progressive_text %} data-progressive-text="{{ progressive_text }}"{% endif %}
    {% if label_override %} data-label-override="{{ label_override }}"{% endif %}
    {% if show_first %} data-show-first="self"{% endif %}
    data-label="{{ field.field.label }}">
    {% if field.field.widget.input_type == 'checkbox' %}
        {% if field|length > 1 %}
            <fieldset>
                <legend>{{ field.label }}</legend>
                {% if field.help_text %}
                    <small class="c-field__help">{{ field.help_text }}</small>
                {% endif %}
                {% for f in field %}
                    <div>{{ f }}</div>
                {% endfor %}
            </fieldset>
        {% else %}
            {% if field.help_text %}
                <small class="c-field__help">{{ field.help_text }}</small>
            {% endif %}
            <label for="{{ field.id_for_label }}">
                {{ field }}
                {{ field.label }}
            </label>
        {% endif %}
    {% elif field.field.widget.input_type == 'radio' %}
        <fieldset>
            <legend>{{ field.label }}</legend>
            {% if field.help_text %}
                <small class="c-field__help">{{ field.help_text }}</small>
            {% endif %}
            {% for f in field %}
                <div>{{ f }}</div>
            {% endfor %}
        </fieldset>
    {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text and field.label != 'Username' %}
            <small class="c-field__help">{{ field.help_text }}</small>
        {% endif %}
        {% if not field.field.widget.input_type %}
            {% include 'inventory/_form-markdown-toolbar.html' with id=field.id_for_label %}
        {% endif %}
        {% if enhanced_label.before %}
            <span class="subdued"{% if enhanced_label.before_tooltip %} title="{{ enhanced_label.before_tooltip }}"{% endif %}>{{ enhanced_label.before }}</span>
        {% endif %}

        {{ field }}

        {% if enhanced_label.after %}
            <span class="subdued"{% if enhanced_label.after_tooltip %} title="{{ enhanced_label.after_tooltip }}"{% endif %}>{{ enhanced_label.after }}</span>
        {% endif %}
    {% endif %}
    {% if progressive %}
        <div class="js-link"></div>
    {% endif %}
</div>
{% endif %}
