<div class="action">
    {% if parent_item %}
        <a aria-label="Edit {{ name }}" class="button icon icon-edit" href="{% url name|add:'-edit' parent_item.id item.id %}">
    {% else %}
        <a aria-label="Edit {{ name }}" class="button icon icon-edit" href="{% url name|add:'-edit' item.id %}">
    {% endif %}
            {% include 'inventory/_github-icon.html' with id='pencil' title='Edit '|add:name %}
        </a>
    {% if not prevent_delete %}
        {% if parent_item %}
            <form action="{% url name|add:'-delete' parent_item.id item.id %}" onsubmit="return confirmDelete('{{ name }}');" method="post">
        {% else %}
            <form action="{% url name|add:'-delete' item.id %}" onsubmit="return confirmDelete('{{ name }}');" method="post">
        {% endif %}
                {% csrf_token %}
                <button aria-label="Delete {{ name }}" class="icon icon-destructive">
                    {% include 'inventory/_github-icon.html' with id='trashcan' title='Delete '|add:name %}
                </button>
            </form>
    {% endif %}
</div>
