<div id="inventory-content-wrapper">
    <h1 id="page-name">Inventory{% if filters.format_name != 'all' %} <small>({{ filters.format_name }}{% if filters.type_name != 'all' %}, {{ filters.type_name }}{% endif %})</small>{% elif filters.type_name != 'all' %} <small>({{ filters.type_name }})</small>{% endif %}</h1>

    <p><a href="{% url 'stocks' %}">View all Film Stocks</a> <small><a href="https://cassettenest.com/docs/stocks">(What is this?)</a></small></p>

    <div class="flex flex-wrap gap-3 my-3">
        <a class="button primary" href="{% url 'rolls-add' %}">Add rolls to storage</a>
        <a class="button" href="{% url 'roll-add' %}">Add a roll to your logbook</a>
    </div>

    {% if total_rolls %}
    <form
        id="film_filter"
        method="get"
        hx-get="{% url 'inventory' %}"
        hx-trigger="change"
        hx-indicator="#spinner"
        hx-target="#inventory-content-wrapper"
        class="mb-10">
        <div class="field--filter">
            <div class="flex flex-col gap-3">
                <label for="id_format">
                    <div class="mb-2">Format:</div>
                    <select name="format" id="id_format">
                        <option value="all">All formats</option>
                        {% for format in format_counts %}
                        <option value="{{ format.format }}"{% if filters.format == format.format %} selected{% endif %}>
                            {{ format.format_display }}
                        </option>
                        {% endfor %}
                    </select>
                </label>
                <label for="id_type">
                    <div class="mb-2">Type:</div>
                    <select name="type" id="id_type">
                        <option value="all">All types</option>
                        {% for type in type_counts %}
                            {# TODO: Remove this if statement. #}
                            {% if type.stock__type != None %}
                                <option value="{{ type.stock__type }}"{% if filters.type == type.stock__type %} selected{% endif %}>
                                    {{ type.type_display }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
            <button class="block mt-6 no-js">Filter</button>
        </div>
    </form>

    <div id="unused-rolls-wrapper">
        {% include 'inventory/_unused-rolls.html' %}
    </div>

    {% else %}
    <p>No film found.</p>
    {% endif %}
</div>
