{# Make sure this partial is wrapped in a <form> if you need to perform an action with this data. #}
<div class="overflow-x">
    <table x-data="bulkUpdate('.roll-checkbox')">
        <thead>
            <tr>
                {% if page != 'project' and status in bulk_status_keys %}
                <th class="do-not-print">
                    <input @change="toggleAll" class="select-all" type="checkbox" title="Select or deselect all items" x-model="selectAll" />
                </th>
                {% endif %}
                <th>Code</th>
                <th>Film</th>
                <th>Started</th>
                <th>Finished</th>
                {% if page != 'project' %}
                <th style="min-width: 80px">Project</th>
                {% endif %}
                {% if page == 'logbook' or page == 'project' %}
                <th>Status</th>
                {% endif %}
                {% if page == 'camera_with_backs' %}
                <th>Back</th>
                {% endif %}
            </tr>
        </thead>
        {% for roll in page_obj %}
        <tr>
            {% if page != 'project' and status in bulk_status_keys %}
            <td class="do-not-print">
                <input @change="checkboxChange" type="checkbox" class="roll-checkbox" value="{{ roll.id }}" name="roll" />
            </td>
            {% endif %}
            <td><a href="{% url 'roll-detail' roll.id %}">{{ roll.code }}</a></td>
            <td>{{ roll.film }}</td>
            <td>{{ roll.started_on|date:'Y-m-d' }}</td>
            <td>{{ roll.ended_on|date:'Y-m-d' }}</td>
            {% if page != 'project' %}
            <td class="wrap">{% if roll.project %}<a href="{% url 'project-detail' roll.project.id %}">{{ roll.project }}</a>{% endif %}</td>
            {% endif %}
            {% if page == 'logbook' or page == 'project' %}
            <td>{{ roll.get_status_display }}</td>
            {% endif %}
            {% if page == 'camera_with_backs' %}
            <td>{{ roll.camera_back.name }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% include 'inventory/_logbook-pagination.html' %}
