{% if messages %}
<ul class="messages do-not-print">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if 'safe' in message.tags %}
            {{ message|safe }}
        {% else %}
            {{ message }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if form.errors %}
<ul class="messages errors do-not-print">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors  %}
            <li>{{ error|escape }}</li>
        {% endfor %}
    {% else %}
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        {% endfor %}
    {% endif %}
</ul>
{% endif %}
