{% url 'inventory' as inventory_url %}
{% url 'index' as index_url %}
{% url 'ready' as ready_url %}
{% url 'logbook' as logbook_url %}

<ul class="mt-5 flex-1 px-2 space-y-1 print:hidden">
    <li{% if 'camera' in request.path or request.path == index_url %} class="current"{% endif %}>
        {% if request.path != index_url %}
            <a href="{% url 'index' %}">
                {% include 'svg/heroicons/home.svg' %}
                Dashboard
            </a>
        {% else %}
            {% include 'svg/heroicons/home.svg' %}
            <span>Dashboard</span>
        {% endif %}
    </li>

    <li{% if inventory_url in request.path or 'rolls/' in request.path %} class="current"{% endif %}>
        {% if request.path != inventory_url %}
            <a href="{% url 'inventory' %}">
                {% include 'svg/heroicons/film.svg' %}
                Inventory
            </a>
        {% else %}
            {% include 'svg/heroicons/film.svg' %}
            <span>Inventory</span>
        {% endif %}
    </li>
    <li{% if request.path == ready_url %} class="current"{% endif %}>
        {% if request.path != ready_url %}
            <a href="{% url 'ready' %}">
                {% include 'svg/heroicons/clipboard-list.svg' %}
                Ready to Process
            </a>
        {% else %}
            {% include 'svg/heroicons/clipboard-list.svg' %}
            Ready to Process
        {% endif %}
    </li>

    <li{% if logbook_url in request.path or 'roll/' in request.path or 'project' in request.path %} class="current"{% endif %}>
        {% if request.path != logbook_url %}
            <a href="{% url 'logbook' %}">
                {% include 'svg/heroicons/book.svg' %}
                Logbook
            </a>
        {% else %}
            {% include 'svg/heroicons/book.svg' %}
            <span>Logbook</span>
        {% endif %}
        {% comment %}
            <!-- This is for a dropdown that doesn’t exist and may never. -->
            <ol>
                <li><a href="{% url 'logbook' %}?status=loaded">Loaded</a></li>
                <li><a href="{% url 'logbook' %}?status=shot">Shot</a></li>
                <li><a href="{% url 'logbook' %}?status=processing">Processing</a></li>
                <li><a href="{% url 'logbook' %}?status=processed">Processed</a></li>
                <li><a href="{% url 'logbook' %}?status=scanned">Scanned</a></li>
                <li><a href="{% url 'logbook' %}?status=archived">Archived</a></li>
            </ol>
        {% endcomment %}
    </li>
</ul>
