{% url 'inventory' as inventory_url %}
{% url 'index' as index_url %}
{% url 'ready' as ready_url %}
{% url 'logbook' as logbook_url %}

<ol class="c-status-nav">
    {% if 'camera' in request.path %}
    <li class="current">
    {% else %}
    <li>
    {% endif %}
        {% if request.path != index_url %}
            <a href="{% url 'index' %}">Dashboard</a>
        {% else %}
            <span>Dashboard</span>
        {% endif %}
    </li>
    {% if inventory_url in request.path or 'rolls/' in request.path %}
    <li class="current">
    {% else %}
    <li>
    {% endif %}
        {% if request.path != inventory_url %}
            <a href="{% url 'inventory' %}">Inventory</a>
        {% else %}
            <span>Inventory</span>
        {% endif %}
    </li>
    <li>
        {% if request.path != ready_url %}
            <a href="{% url 'ready' %}">Ready<span> to Process</span></a>
        {% else %}
            <span>Ready<span> to Process</span></span>
        {% endif %}
    </li>
    {% if logbook_url in request.path or 'roll/' in request.path or 'project' in request.path %}
    <li class="current">
    {% else %}
    <li>
    {% endif %}
        {% if request.path != logbook_url %}
            <a href="{% url 'logbook' %}">Logbook</a>
        {% else %}
            <span>Logbook</span>
        {% endif %}
        {% comment %}
        <!-- This is for a dropdown that doesn’t exist and may never. -->
        <ol>
            <li><a href="{% url 'logbook' %}?status=loaded">Loaded</a></li>
            <li><a href="{% url 'logbook' %}?status=shot">Shot</a></li>
            <li><a href="{% url 'logbook' %}?status=processing">Processing</a></li>
            <li><a href="{% url 'logbook' %}?status=processed">Processed</a></li>
            <li><a href="{% url 'logbook' %}?status=scanned">Scanned</a></li>
            <li><a href="{% url 'logbook' %}?status=archived">Archived</a></li>
        </ol>
        {% endcomment %}
    </li>
</ol>
