{% load tz %}
{% get_current_timezone as TIME_ZONE %}

<section class="onboarding bg-white shadow-lg dark:shadow-none dark:bg-stone-900 rounded-xl p-5">
    <h1 class="text-2xl mb-5">Welcome to <span class="dark:text-gold">Cassette Nest</span>! Let’s get started:</h1>

    <ol class="space-y-3">
        <li class="flex items-center">
            {% include 'inventory/_status-check.html' with check=True %}
            Register
        </li>
        <li class="flex items-center">
            {% include 'inventory/_status-check.html' with check=True %}
            Timezone set to&nbsp;<a href="{% url 'settings' %}">{{ TIME_ZONE }}</a>
        </li>
        <li class="flex items-center">
            {% include 'inventory/_status-check.html' with check=cameras_total %}
            <a href="{% url 'camera-add' %}">Add a camera</a>
        </li>
        <li class="flex items-center">
            {% include 'inventory/_status-check.html' with check=rolls %}
            <a href="{% url 'rolls-add' %}">Add rolls</a>
        </li>
        {% if not email %}
        <li class="flex items-center">
            {% include 'inventory/_status-check.html' with check=email %}
            <a href="{% url 'settings' %}">Add your email address</a>
        </li>
        {% endif %}
        <li class="flex items-center">
            {% include 'inventory/_status-check.html' with check=user.profile.has_active_subscription %}
            <div class="flex flex-wrap gap-0 sm:gap-3 items-center">
                <a href="{% url 'settings' %}#subscription">Choose a plan</a>
                <span class="pt-1 text-xs text-stone-400">You have <b>{{ user.profile.trial_days_remaining }} days</b> left in your free trial.</span>
            </div>
        </li>
    </ol>
</section>
