<section class="onboarding">
    <h2>Welcome! Let&rsquo;s get started!</h2>
    <ol>
        <li>
            {% if cameras_total %}
            <span class="icon">{% include 'inventory/_github-icon.html' with id='check' %}</span>
            {% else %}
            <span class="icon">{% include 'inventory/_github-icon.html' with id='dot' %}</span>
            {% endif %}
            <a href="{% url 'camera-add' %}">Add a camera</a>
        </li>
        <li>
            {% if rolls %}
            <span class="icon">{% include 'inventory/_github-icon.html' with id='check' %}</span>
            {% else %}
            <span class="icon">{% include 'inventory/_github-icon.html' with id='dot' %}</span>
            {% endif %}
            <a href="{% url 'rolls-add' %}">Add rolls</a>
        </li>
        <li>
            {% if email %}
            <span class="icon">{% include 'inventory/_github-icon.html' with id='check' %}</span>
            {% else %}
            <span class="icon">{% include 'inventory/_github-icon.html' with id='dot' %}</span>
            {% endif %}
            <a href="{% url 'settings' %}">Add your email address</a>
        </li>
    </ol>
</section>
