<div class="order">
    <input type="hidden" name="current_status" value="shot" />
    <input type="hidden" name="updated_status" value="processing" />
    <input type="hidden" name="redirect_to" value="dashboard" />

    {% include 'inventory/_form-field.html' with field=form.lab %}
    {% include 'inventory/_form-field.html' with field=form.scanner %}
    {% include 'inventory/_form-field.html' with field=form.notes_on_development %}

    <div class="action"><input id="update-selected" type="submit" value="Update selected" /></div>
</div>
