<div class="order">
    <input type="hidden" name="updated_status" value="processing">
    <input type="hidden" name="redirect_to" value="dashboard">
    <p><label>Lab: <input name="lab" type="text" placeholder="Or &ldquo;Self&rdquo;, &ldquo;Home&rdquo;, etc." /></label></p>
    <p><label>Scanner: <input name="scanner" type="text" /></label></p>
    <p><label>Notes on development:</label></p>
    <p><textarea name="notes_on_development" cols="40" rows="10" placeholder="Chemicals used, development times, or whatever you want."></textarea></p>
    <input type="submit" value="Update Selected" />
</div>
