<h2>Camera{{ project.cameras.count|pluralize }}</h2>

<ul>
{% if project.status == 'archived' %}
    {% for camera in project.cameras.all %}
    <li><a href="{% url 'camera-detail' camera.id %}">{{ camera.name }}</a></li>
    {% endfor %}
{% else %}
    {% regroup project.cameras.all by get_status_display as camera_list %}
    {% for status in camera_list %}
    <li>
        {{ status.grouper }}
        <ul>
            {% for camera in status.list %}
            <li>{% include 'inventory/_project-camera.html' %}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
{% endif %}
</ul>
