<form action="{% url 'project-rolls-add' project.id %}" method="post">
    {% csrf_token %}

    <div class="field last">
        <fieldset class="col-span-3">
            <legend>Add rolls to this project</legend>
            <div class="flex flex-wrap items-center gap-3">
                {% include 'inventory/_film-selector.html' with films=film_available_count %}
                {% include 'components/form-stepper-field.html' with field=stepper_form.quantity %}
            </div>
        </fieldset>
    </div>
    <div><button>Add rolls</button></div>
</form>
