<h3>Add a camera to this project</h3>

<form action="{% url 'project-camera-update' project.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="add" />

    <div class="c-field">
        <label for="id_camera">Add a camera</label>
        <div class="c-field__widget">
            <select id="id_camera" name="camera">
                <option value="">Choose a camera</option>
            {% for camera in cameras %}
                <option value="{{ camera.id }}">{{ camera.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>

    <div class="action"><input type="submit" value="Add to project" /></div>
</form>
