<script>
    {% if paddle.live_mode == 0 %}
    Paddle.Environment.set('sandbox');
    {% endif %}

    Paddle.Setup({ vendor: {{ paddle.vendor_id }} });

    function openCheckout(product) {
        Paddle.Checkout.open({
            product: product,
            email: '{{ user.email }}',
            passthrough: '{{ user.id }}',
            success: `${window.location.protocol}//${window.location.host}{% url 'subscription-created' %}?plan=${product}`,
        });
    }

    {% if user.profile.paddle_update_url %}
    function openUpdate() {
        Paddle.Checkout.open({
            override: '{{ user.profile.paddle_update_url|safe }}',
        });
    }
    {% endif %}

    {% if user.profile.paddle_cancel_url %}
    function openCancel() {
        Paddle.Checkout.open({
            override: '{{ user.profile.paddle_cancel_url|safe }}',
            success: `${window.location.protocol}//${window.location.host}{% url 'settings' %}`,
        });
    }
    {% endif %}
</script>
