<div class="subscription-plans">
    <div class="flex flex-wrap gap-3">
        {% if subscription.update_url %}
        <button onclick="openUpdate()" class="paddle-update">Update your payment method.</button>
        {% endif %}
        {% if subscription.cancel_url %}
        <button onclick="openCancel()" class="destructive paddle-cancel">Cancel your subscription.</button>
        {% endif %}
    </div>

    <form onsubmit="return confirm('Are you sure?')" id="change-plan" action="{% url 'subscription-update' %}" method="post">
        {% csrf_token %}
        <div class="field field--radio border-b-0">
            <fieldset class="col-span-3 space-y-2">
                <legend>Change your plan</legend>
                <div>
                    <label>
                        <input _="on change send updateExplanation(plan: {{ paddle.standard_monthly_id }}) to (.plan-change-explanation in the closest .field)" type="radio" name="plan" value="{{ paddle.standard_monthly_id }}"{% if subscription.plan_id == paddle.standard_monthly_id %} checked{% endif %}>
                        {{ paddle.standard_monthly_name }}
                        &nbsp;<small>(<span class="paddle-gross" data-product="{{ paddle.standard_monthly_id }}">$2</span>&nbsp;per month)</small>
                    </label>
                </div>
                <div>
                    <label>
                        <input _="on change send updateExplanation(plan: {{ paddle.standard_annual_id }}) to (.plan-change-explanation in the closest .field)" type="radio" name="plan" value="{{ paddle.standard_annual_id }}"{% if subscription.plan_id == paddle.standard_annual_id %} checked{% endif %}>
                        {{ paddle.standard_annual_name }}
                        &nbsp;<small>(<span class="paddle-gross" data-product="{{ paddle.standard_annual_id }}">$20</span>&nbsp;per year)</small>
                    </label>
                </div>
                <div>
                    <label>
                        <input _="on change send updateExplanation(plan: {{ paddle.awesome_annual_id }}) to (.plan-change-explanation in the closest .field)" type="radio" name="plan" value="{{ paddle.awesome_annual_id }}"{% if subscription.plan_id == paddle.awesome_annual_id %} checked{% endif %}>
                        {{ paddle.awesome_annual_name }}
                        &nbsp;<small>(<span class="paddle-gross" data-product="{{ paddle.awesome_annual_id }}">$100</span>&nbsp;per year)</small>
                    </label>
                </div>
                <div data-plan="{{ subscription.plan_id }}" class="plan-change-explanation"
                    _="on updateExplanation(plan)
                       set existingPlan to my @data-plan
                       set changeButton to (.change-plan-button in the closest .field)
                       set changeMonthlyToAnnual to (.change-plan-message-monthly-to-annual in the closest .field)
                       set changeAnnualToMonthly to (.change-plan-message-annual-to-monthly in the closest .field)
                       set changeAnnualToAwesome to (.change-plan-message-annual-to-awesome in the closest .field)
                       set changeAwesomeToAnnual to (.change-plan-message-awesome-to-annual in the closest .field)

                       add .hidden to changeMonthlyToAnnual
                       add .hidden to changeAnnualToMonthly
                       add .hidden to changeAnnualToAwesome
                       add .hidden to changeAwesomeToAnnual

                       if plan is not existingPlan
                           remove [@disabled] from changeButton
                           add .primary to changeButton

                           if existingPlan is '{{ paddle.standard_annual_id }}' and plan is '{{ paddle.standard_monthly_id }}'
                               remove .hidden from changeAnnualToMonthly
                           end
                           if existingPlan is '{{ paddle.standard_monthly_id }}' and plan is '{{ paddle.standard_annual_id }}'
                               remove .hidden from changeMonthlyToAnnual
                            end
                           if existingPlan is '{{ paddle.standard_monthly_id }}' and plan is '{{ paddle.awesome_annual_id }}'
                               remove .hidden from changeMonthlyToAnnual
                           end
                           if existingPlan is '{{ paddle.standard_annual_id }}' and plan is '{{ paddle.awesome_annual_id }}'
                               remove .hidden from changeAnnualToAwesome
                           end
                           if existingPlan is '{{ paddle.awesome_annual_id }}' and plan is '{{ paddle.standard_annual_id }}'
                               remove .hidden from changeAwesomeToAnnual
                           end
                           if existingPlan is '{{ paddle.awesome_annual_id }}' and plan is '{{ paddle.standard_monthly_id }}'
                               remove .hidden from changeAnnualToMonthly
                           end
                       else
                           add [@disabled] to changeButton
                           remove .primary from changeButton">

                    <p class="hidden change-plan-message-monthly-to-annual py-3 text-sm opacity-75">
                        If you change from a <b>monthly</b> to an <b>annual</b> plan, you will be charged immedately and
                        your subscription will renew every year on this date. Any remaining pro-rated balance will be
                        used towards this first payment.
                    </p>
                    <p class="hidden change-plan-message-annual-to-monthly py-3 text-sm opacity-75">
                        If you change from an <b>annual</b> to a <b>monthly</b> plan, your remaining pro-rated balance
                        will be used until it runs out, at which point your subscription will renew on this day each
                        month.
                    </p>
                    <p class="hidden change-plan-message-annual-to-awesome py-3 text-sm opacity-75">
                        If you change from an <b>{{ paddle.standard_annual_name }}</b> to a
                        <b>{{ paddle.awesome_annual_name}}</b> plan, you will be charged immedately and your
                        subscription will renew every year on this date. Any remaining pro-rated balance will be used
                        towards this first payment.
                    </p>
                    <p class="hidden change-plan-message-awesome-to-annual py-3 text-sm opacity-75">
                        If you change from an <b>{{ paddle.awesome_annual_name }}</b> to a
                        <b>{{ paddle.standard_annual_name}}</b> plan, your remaining pro-rated balance will be used
                        until it runs out, at which point your subscription will renew on this day each month.
                    </p>
                </div>
                <button class="primary change-plan-button" _="on load add [@disabled] remove .primary">Change plan</button>
            </fieldset>
        </div>
    </form>
</div>
