<div id="subscription" class="subscription-settings">
    <h2>Manage your subscription</h2>
    {% if user.is_staff or user.profile.friend %}
        <p>You’re a friend of Trey Labs and you don’t need to subscribe! 🖤</p>
        <p class="subscription-note">Thank you for your help in creating Cassette Nest!</p>
    {% else %}
        <div class="js-required">
            {% if not user.profile.has_active_subscription %}
                <h3>You’re not currently subscribed. Please choose a plan.</h3>
                <p class="policies">By subscribing, you agree to our <a href="https://cassettenest.com/policies/terms/" target="_blank" rel="noopener">Terms of Service</a> and <a href="https://cassettenest.com/policies/privacy/" target="_blank" rel="noopener">Privacy Policy</a>.</p>

                <div class="subscription-plans">
                    <button class="subscribe" id="btn-monthly" data-price="monthly">$2 per month</button>
                    <button class="subscribe" id="btn-yearly" data-price="annual">$20 per year</button>
                </div>
            {% else %}
                <p>You’re currently subscribed to the <b>{{ user.profile.subscription }}</b> plan.</p>
                <div class="subscription-plans">
                    <button class="manage-subscription">View and manage your subscription details.</button>
                </div>
            {% endif %}
        </div>
        <div class="no-js">
            <p>Sorry, subscription management requires JavaScript to work. :(</p>
        </div>
        <p class="subscription-note">Easy and secure billing management with <a href="https://stripe.com">Stripe</a>. Cancel any time.</p>
    {% endif %}
</div>
