<div class="subscription-settings">
    <h2 class="text-xl mb-0 pb-0 font-bold">Manage your subscription</h2>
    {% if subscription.friend %}
        <p>You’re a friend of Piepworks and you don’t need to subscribe! 🖤</p>
        <p class="subscription-note">Thank you for your help in creating Cassette Nest!</p>
    {% else %}
        <div class="js-required space-y-4">
            {% if not subscription.active %}
                <h3 class="border-b-0 mb-2">You’re not currently subscribed. Please choose a plan.</h3>

                {% if subscription.trial.enabled %}
                    <p>Try it free for <strong>{{ subscription.trial.duration }} days!</strong></p>
                {% endif %}

                {% include 'inventory/_settings-subscription-plans.html' %}

                <p class="policies text-sm text-stone-500 dark:text-stone-400">By subscribing, you agree to our <a href="https://cassettenest.com/policies/terms/" target="_blank" rel="noopener">Terms of Service</a> and <a href="https://cassettenest.com/policies/privacy/" target="_blank" rel="noopener">Privacy Policy</a>.</p>
            {% else %}
                <p>You’re currently subscribed to the <b>{{ subscription.plan }}</b> plan.</p>

                {% if subscription.status == 'trialing' %}
                    <p>Your free trial will end in <strong>{{ subscription.trial_days_remaining }} day{{ subscription.trial_days_remaining|pluralize }}</strong>.</p>
                {% endif %}

                {% if subscription.status == 'deleted' and subscription.cancellation_date %}
                    <p>Your subscription is scheduled to be cancelled and will become inactive on <b>{{ subscription.cancellation_date }}</b>.</p>

                    <h3>Restore your subscription</h3>

                    {% include 'inventory/_settings-subscription-plans.html' %}
                {% else %}
                    {% include 'inventory/_settings-subscription-update.html' %}
                {% endif %}
            {% endif %}
        </div>
        <div class="no-js">
            <p>Sorry, subscription management requires JavaScript to work. :(</p>
        </div>
        <div class="pt-4 flex gap-2 sm:gap-3 sm:items-center text-sm text-stone-500 dark:text-stone-400">
            {% include 'svg/heroicons/shield-check.svg' with class='h-9 w-9 text-stone-400 dark:text-stone-500 flex-shrink-0' %}
            <div class="space-y-2 sm:space-y-0">
                <p>Easy and secure billing management with <a href="https://paddle.com" target="_blank" rel="noopener">Paddle</a>. Cancel any time.</p>
                <p>Depending on your location, tax may be added to the price.</p>
            </div>
        </div>
    {% endif %}
</div>
