{% load capture_tags %}

{% capture as change_plan_hyperscript silent %}
on updateExplanation(plan)
set existingPlan to my @data-plan
set changeButton to (.change-plan-button in the closest .field)
set changeLowToHigh to (.low-to-high in the closest .field)
set changeHighToLow to (.high-to-low in the closest .field)

add .hidden to changeLowToHigh
add .hidden to changeHighToLow

if plan is not existingPlan
    remove [@disabled] from changeButton
    add .primary to changeButton

    if existingPlan is '{{ paddle.standard_annual_id }}'
        if plan is '{{ paddle.standard_monthly_id }}'
            put '{{ paddle.standard_annual_name }}' into .from in changeHighToLow
            put '{{ paddle.standard_monthly_name }}' into .to in changeHighToLow
            remove .hidden from changeHighToLow
        end
        if plan is '{{ paddle.awesome_annual_id }}'
            put '{{ paddle.standard_annual_name }}' into .from in changeLowToHigh
            put '{{ paddle.awesome_annual_name }}' into .to in changeLowToHigh
            remove .hidden from changeLowToHigh
        end
    end
    if existingPlan is '{{ paddle.standard_monthly_id }}'
        if plan is '{{ paddle.standard_annual_id }}'
            put '{{ paddle.standard_monthly_name }}' into .from in changeLowToHigh
            put '{{ paddle.standard_annual_name }}' into .to in changeLowToHigh
            remove .hidden from changeLowToHigh
        end
        if plan is '{{ paddle.awesome_annual_id }}'
            put '{{ paddle.standard_monthly_name }}' into .from in changeLowToHigh
            put '{{ paddle.awesome_annual_name }}' into .to in changeLowToHigh
            remove .hidden from changeLowToHigh
        end
    end
    if existingPlan is '{{ paddle.awesome_annual_id }}'
        if plan is '{{ paddle.standard_annual_id }}'
            put '{{ paddle.awesome_annual_name }}' into .from in changeHighToLow
            put '{{ paddle.standard_annual_name }}' into .to in changeHighToLow
            remove .hidden from changeHighToLow
        end
        if plan is '{{ paddle.standard_monthly_id }}'
            put '{{ paddle.awesome_annual_name }}' into .from in changeHighToLow
            put '{{ paddle.standard_monthly_name }}' into .to in changeHighToLow
            remove .hidden from changeHighToLow
        end
    end
else
    add [@disabled] to changeButton
    remove .primary from changeButton
end
{% endcapture %}

<div class="subscription-plans">
    <div class="flex flex-wrap gap-3">
        {% if subscription.update_url %}
        <button onclick="openUpdate()" class="paddle-update">Update your payment method.</button>
        {% endif %}
        {% if subscription.cancel_url %}
        <button onclick="openCancel()" class="destructive paddle-cancel">Cancel your subscription.</button>
        {% endif %}
    </div>

    <form onsubmit="return confirm('Are you sure?')" id="change-plan" action="{% url 'subscription-update' %}" method="post">
        {% csrf_token %}
        <div class="field field--radio border-b-0">
            <fieldset class="col-span-3 space-y-2">
                <legend>Change your plan</legend>
                <div>
                    <label>
                        <input _="on change send updateExplanation(plan: {{ paddle.standard_monthly_id }}) to (.plan-change-explanation in the closest .field)" type="radio" name="plan" value="{{ paddle.standard_monthly_id }}"{% if subscription.plan_id == paddle.standard_monthly_id %} checked{% endif %}>
                        {{ paddle.standard_monthly_name }}
                        &nbsp;<small>(<span class="paddle-gross" data-product="{{ paddle.standard_monthly_id }}">$5</span>&nbsp;per month)</small>
                    </label>
                </div>
                <div>
                    <label>
                        <input _="on change send updateExplanation(plan: {{ paddle.standard_annual_id }}) to (.plan-change-explanation in the closest .field)" type="radio" name="plan" value="{{ paddle.standard_annual_id }}"{% if subscription.plan_id == paddle.standard_annual_id %} checked{% endif %}>
                        {{ paddle.standard_annual_name }}
                        &nbsp;<small>(<span class="paddle-gross" data-product="{{ paddle.standard_annual_id }}">$50</span>&nbsp;per year)</small>
                    </label>
                </div>
                <div>
                    <label>
                        <input _="on change send updateExplanation(plan: {{ paddle.awesome_annual_id }}) to (.plan-change-explanation in the closest .field)" type="radio" name="plan" value="{{ paddle.awesome_annual_id }}"{% if subscription.plan_id == paddle.awesome_annual_id %} checked{% endif %}>
                        {{ paddle.awesome_annual_name }}
                        &nbsp;<small>(<span class="paddle-gross" data-product="{{ paddle.awesome_annual_id }}">$100</span>&nbsp;per year)</small>
                    </label>
                </div>
                <div data-plan="{{ subscription.plan_id }}" class="plan-change-explanation" _="{{ change_plan_hyperscript }}">
                    <p class="hidden low-to-high py-3 text-sm opacity-75">
                        <b>What’s going to happen?</b> If you change from a <b class="from"></b> to an <b class="to"></b>
                        plan, you will be charged immedately and your subscription will renew every year on this date.
                        Any remaining pro-rated balance will be used towards this first payment.
                    </p>
                    <p class="hidden high-to-low py-3 text-sm opacity-75">
                        <b>What’s going to happen?</b> If you change from an <b class="from"></b> to a <b class="to"></b>
                        plan, your remaining pro-rated balance will be used until it runs out, at which point your
                        subscription will renew on this day each month.
                    </p>
                </div>
                <button class="change-plan-button" disabled>Change plan</button>
            </fieldset>
        </div>
    </form>
</div>
