<h1>
    <span id="page-name">
        {% if manufacturer %}<a hx-get="{% url 'stocks' %}" hx-target=".main-content" href="{% url 'stocks' %}">{% endif %}
        Film Stocks
        {% if manufacturer %}</a>{% endif %}
    </span>
    <span id="manufacturer-name">
        {% if manufacturer %} &gt; {{ manufacturer }}{% endif %}
    </span>
</h1>

<form
    id="stock_filter"
    method="get"
    action="{% url 'stocks' %}"
    hx-get="{% url 'stocks' %}"
    hx-trigger="change"
    hx-target=".main-content">
    <div class="field--filter">
        <div class="flex flex-col sm:flex-row gap-3">
            <label for="id_manufacturer">
                <div class="mb-2">Manufacturer:</div>
                <select name="manufacturer" id="id_manufacturer">
                    <option value="all">All manufacturers</option>
                    {% for m in manufacturers %}
                    <option value={{ m.slug }}{% if manufacturer.slug == m.slug %} selected{% endif %}>
                        {{ m }}
                    </option>
                    {% endfor %}
                </select>
            </label>
            <label for="id_type">
                <div class="mb-2">Type:</div>
                <select name="type" id="id_type"{% if type_choices.items|length == 1 %} disabled{% endif %}>
                    {% if type_choices.items|length > 1 %}
                        <option value="all">All types</option>
                    {% endif %}
                    {% for key, value in type_choices.items %}
                    <option value="{{ key }}"{% if filters.type == key %} selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <button class="no-js">Filter</button>
    </div>
</form>

<div id="stocks-list-wrapper" class="space-y-6">
    {% if filters.manufacturer != 'all' or filters.type != 'all' %}
        <p class="space-x-1">
            <span>
                {% if manufacturer %}{{ manufacturer }}{% endif %}
                {% if manufacturer and type_name != 'all' %}({% endif %}{% if type_name != 'all' %}{{ type_name }}{% endif %}{% if manufacturer and type_name != 'all' %}){% endif %}
            </span>
            <a class="text-xs" hx-get="{% url 'stocks' %}" hx-target=".main-content" href="{% url 'stocks' %}">Reset filters</a>
        </p>
    {% endif %}

    <section class="logbook">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                            <tr>
                                <td><a href="{{ stock.get_absolute_url }}">{{ stock }}</a></td>
                                <td>{{ stock.get_type_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="htmx-indicator hidden" _="on load remove .hidden from me">…</div>
    </section>
</div>

{% if request.htmx %}
<script>
    // Reset the document <title> with the current info.
    manufacturerName = '{{ manufacturer }}';
    typeName = '{{ type_name }}';

    document.title = document.title.replace(/^[^/]+/, 'Film Stocks ');

    if (manufacturerName !== 'None') {
        const titlePrefix = `Film Stocks: ${manufacturerName} `;

        document.title = document.title.replace('Film Stocks ', titlePrefix);

        if (typeName !== 'all') {
            document.title = document.title.replace(titlePrefix, `${titlePrefix} (${typeName}) `);
        }
    } else {
        if (typeName !== 'all') {
            document.title = document.title.replace('Film Stocks', `Film Stocks: ${typeName} `);
        }
    }
</script>
{% endif %}
