{% url 'settings' as subscribe_url %}
{% load capture_tags %}
{% if not user.profile.has_active_subscription and user.profile.trial_period %}
        {% capture as message silent %}You have {{ user.profile.trial_days_remaining }} days left in your free trial. Whenever you’re ready, you can <a href="{{ subscribe_url }}#subscription">choose a plan</a>!{% endcapture %}
{% elif user.profile.subscription_status != 'none' %}
    {% if user.profile.subscription_status == 'past_due' %}
        {% capture as message silent %}Looks like there’s a problem with your subscription. <a href="{{ subscribe_url }}#subscription">Please check your settings.</a>{% endcapture %}
    {% elif user.profile.subscription_status == 'paused' %}
        {% capture as message silent %}Your subscription is currently paused. <a href="mailto:boss@treylabs.com">Get in touch</a> if you have questions.{% endcapture %}
    {% elif user.profile.subscription_status == 'deleted' %}
        {% now 'Y-m-d' as today %}
        {% capture as cancellation_date silent %}{{ user.profile.paddle_cancellation_date|date:'Y-m-d' }}{% endcapture %}
        {% if cancellation_date and cancellation_date > today %}
            {% capture as message silent %}Your subscription is scheduled to be canceled. <a href="{{ subscribe_url }}#subscription">Update your settings</a> if you change your mind.{% endcapture %}
        {% else %}
            {% capture as message silent %}Your subscription has been cancelled. <a href="{{ subscribe_url }}#subscription">Update your settings to resubscribe</a>.{% endcapture %}
        {% endif %}
    {% endif %}
{% endif %}

{% if message %}
    {% include 'inventory/_subscription-banner.html' with status=user.profile.subscription_status message=message %}
{% endif %}
