{% if not project %}
    {% if filters.format != 'all' or filters.type != 'all' %}
        <a hx-get="{% url 'inventory' %}" hx-indicator="#spinner" hx-target=".raw" href="{% url 'inventory' %}">Reset filter</a>
    {% endif %}
    <hr />
{% endif %}

<h3 id="film-summary">
    {% if not project %}
        {% if filters.format != 'all' or filters.type != 'all' %}
            {{ total_film_count.count }}
            roll{{ total_film_count.count|pluralize }} (filtered),
            <small><a hx-get="{% url 'inventory' %}" hx-indicator="#spinner" hx-target=".raw" href="{% url 'inventory' %}">
        {% endif %}
    {% endif %}
    {{ total_rolls }} roll{{ total_rolls|pluralize }}
    {% if project %}
        remaining
    {% else %}
        {% if filters.format != 'all' or filters.type != 'all' %}
            total</a></small>
        {% endif %}
    {% endif %}
</h3>

<section id="film-wrapper">
    {% if film_counts %}
        <section class="cards">
            {% for film in film_counts %}
                {% include 'inventory/_card.html' with name=film location=film.get_absolute_url slot='count' count=film.count type='film' film_type=film.type querystring='project' %}
            {% endfor %}
        </section>
    {% else %}
        <p>No rolls matching the current filter.</p>
    {% endif %}
</section>

{% if request.htmx %}
<script>
    // Reset the document <title> with the current info.
    titlePrefix = 'Inventory';
    newSubtitle = ''
    formatName = '{{ filters.format_name }}';
    typeName = '{{ filters.type_name }}';

    document.title = document.title.replace(/^[^/]+/, `${titlePrefix} `);

    if (formatName !== 'all') {
        if (typeName !== 'all') {
            newSubtitle = `${formatName}, ${typeName}`;
        } else {
            newSubtitle = formatName;
        }
    } else {
        if (typeName !== 'all') {
            newSubtitle = typeName;
        }
    }

    if (newSubtitle !== '') {
        document.title = document.title.replace(`${titlePrefix} `, `${titlePrefix} (${newSubtitle}) `);
    }
</script>
{% endif %}
