{% if total_film_count %}
    <h2>Film remaining: {{ total_film_count.count }} roll{{total_film_count.count|pluralize}}</h2>
{% endif %}

<section>
    <h3 class="c-heading c-heading--divider">Ready to Load</h3>
    <section class="cards">
        {% for film in film_counts %}
            {% include 'inventory/_card.html' with name=film location=film.get_absolute_url slot='count' count=film.count type='film' film_type=film.type querystring='project' %}
        {% endfor %}
    </section>
</section>
