{% extends 'base_site.html' %}

{% block title %} / {{ owner.username }} / Add film{% endblock %}

{% block content %}

<h1>Add rolls</h1>

<form action="{% url 'add-film' owner.username %}" method="post">
    {% csrf_token %}
    <select name="film">
        <option value="">Select a film</option>
        {% regroup films by manufacturer as films_list %}
        {% for manufacturer in films_list %}
        <optgroup label="{{ manufacturer.grouper }}">
            {% for film in manufacturer.list %}
                <option value="{{ film.id }}">{{ film.name }} in {{ film.get_format_display }}</option>
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    <input type="number" name="quantity" placeholder="quantity" />
    <input type="submit" value="Add">
</form>

{% endblock %}
