{% extends 'base_site.html' %}
{% load markdown_extras capture_tags %}

{% block title %}{{ camera.name }}{% endblock %}

{% block header %}
<div class="page-heading">
    {# include 'inventory/_heading-back.html' with url='cameras' name='cameras' #}
    <div class="inner">
        <h1>{{ camera.name }}</h1>
    </div>

    {% capture as additional_buttons silent %}
        {% if not camera.multiple_backs and camera.status == 'loaded' %}
            {% include 'inventory/_form-finish-roll.html' with camera=camera roll=roll %}
        {% elif camera.status != 'unavailable' %}
            <a class="button primary" href="{% url 'camera-load' camera.id %}">Load</a>
        {% endif %}
    {% endcapture %}

    {% include 'inventory/_heading-buttons.html' with item=camera url='camera' name='camera' prevent_delete=True additional_buttons=additional_buttons %}
</div>
{% endblock %}

{% block content %}
{% if not camera.multiple_backs %}
{# Don’t show status for a camera with backs. #}
<dl class="stats">
    <div>
        <dt>Status</dt>
        <dd>{{ camera.get_status_display }}</dd>
    </div>

    {% if rolls_history %}
    <div>
        <dt>Roll{{ rolls_history.count|pluralize }} finished</dt>
        <dd>{{ rolls_history.count }}</dd>
    </div>
    {% endif %}
</dl>
{% endif %}

<div class="metadata">
    <div>
        <dl>
            <div>
                <dt>
                    Format
                </dt>
                <dd>
                    {{ camera.get_format_display }}
                </dd>
            </div>
            {% if camera.notes %}
            <div>
                <dt>
                    Notes
                </dt>
                <dd>
                    {{ camera.notes|markdown }}
                </dd>
            </div>
            {% endif %}
        </dl>
    </div>
</div>

<div class="fix-this">
    {% if not camera.multiple_backs and camera.status == 'loaded' %}
        {% include 'inventory/_camera-loaded.html' %}
    {% elif camera.status != 'unavailable' %}
        {% if camera.multiple_backs %}
            <p>You can load this camera via one of its backs.</p>
        {% else %}
            <p><a href="{% url 'camera-load' camera.id %}">Load this camera</a></p>
        {% endif %}
    {% endif %}
</div>

{% if camera.multiple_backs %}
    <section class="backs">
        <h3>Camera Backs</h3>
        {% if camera.camera_backs.all %}
        <ul>
            {% for back in camera.camera_backs.all %}
            <li>
                <a href="{% url 'camera-back-detail' camera.id back.id %}">Back {{ back.name }}</a>
                ({{ back.get_status_display }})
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No camera backs found.</p>
        {% endif %}
        <div class="do-not-print">
            <p><a href="{% url 'camera-back-add' camera.id %}">Add a camera back</a></p>
        </div>
    </section>
{% endif %}

{% if rolls_history %}
    <div class="pb-5 my-10 border-b border-gray-200 dark:border-gray-600">
        <h3 id="previous-rolls" class="text-lg leading-6 font-medium">{{ rolls_history.count }} previous roll{{ rolls_history.count|pluralize }}</h3>
    </div>
    <div class="fix-this">
        {% if camera.multiple_backs %}
            {% include 'inventory/_logbook-table.html' with rolls=rolls_history page='camera_with_backs' %}
        {% else %}
            {% include 'inventory/_logbook-table.html' with rolls=rolls_history %}
        {% endif %}
    </div>
{% endif %}
{% endblock %}
