{% extends 'base_site.html' %}

{% block title %}Add a camera{% endblock %}

{% block content %}
<div class="raw">
<h1>Add a camera</h1>

<form method="post">
    {% csrf_token %}
    {% include 'inventory/_form-field.html' with field=form.name %}
    {% include 'inventory/_form-field.html' with field=form.format %}
    {% include 'inventory/_form-field.html' with field=form.multiple_backs %}
    {% include 'inventory/_form-field.html' with field=form.notes %}
    {% include 'inventory/_form-field.html' with field=form.unavailable %}

    <div class="action">
        <p><input type="submit" value="Save camera" /></p>
        <p><input type="submit" class="secondary" name="another" value="Save camera and add another" /></p>
    </div>
</form>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
