{% extends 'base_site.html' %}

{% block title %}Edit a camera{% endblock %}

{% block content %}
<div class="raw">
    <h1>Edit &ldquo;<a href="{% url 'camera-detail' camera.id %}">{{ camera.name }}</a>&rdquo;</h1>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="owner" value="{{ owner.id }}">
        {% include 'inventory/_form-field.html' with field=form.name %}
        {% include 'inventory/_form-field.html' with field=form.format %}
        {% include 'inventory/_form-field.html' with field=form.notes %}
        {% if camera.status != 'loaded' %}
        {% include 'inventory/_form-field.html' with field=form.unavailable %}
        {% endif %}
        <div class="action"><input type="submit" value="Update camera" /></div>
    </form>

    {% if not camera.roll_set.all %}
    <form onsubmit="return confirmDelete('camera')"  action="{% url 'camera-delete' camera.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="camera" value="{{ camera.id }}" />
        <div class="action">Since you've never used this, you can <input type="submit" class="secondary" value="delete this camera" /></div>
    </form>
    {% endif %}
</div>
{% endblock %}
