{% extends 'base_site.html' %}

{% block title %}Add a camera back for {{ camera.name }}{% endblock %}

{% block content %}
<div class="raw">
<h1>Add a camera back for <a href="{% url 'camera-detail' camera.id %}">{{ camera.name }}</a></h1>

<form method="post">
    {% csrf_token %}
    {% include 'components/form-field.html' with field=form.name %}
    {% include 'components/form-field.html' with field=form.format %}
    {% include 'components/form-field.html' with field=form.notes %}
    {% include 'components/form-field.html' with field=form.unavailable %}

    <div class="action">
        <button class="primary">Save camera back</button>
        <button name="another">Save camera back and add another</button>
    </div>
</form>
</div>
{% endblock %}
