{% extends 'base_site.html' %}
{% load markdown_deux_tags %}

{% block title %}{{ camera.name }}{% endblock %}

{% block content %}
<div class="raw">
    <div class="c-heading">
        <div class="flex">
            {% include 'inventory/_heading-back.html' with url='cameras' name='cameras' %}
            <h1>{{ camera.name }}</h1>
            {% include 'inventory/_heading-buttons.html' with item=camera url='camera' name='camera' prevent_delete=True %}
        </div>
    </div>

    {% if not camera.multiple_backs %}
        {% comment %}Don’t show status for a camera with backs.{% endcomment %}
        <section class="status">
            <h2>Status: {{ camera.get_status_display }}</h2>
        </section>
    {% endif %}

    <p>Format: {{ camera.get_format_display }}</p>

    {% if not camera.multiple_backs and camera.status == 'loaded' %}
        {% include 'inventory/_camera-loaded.html' %}
        <div class="action">{% include 'inventory/_form-finish-roll.html' with camera=camera roll=roll %}</div>
    {% elif camera.status != 'unavailable' %}
        {% if camera.multiple_backs %}
            <p>You can load this camera via one of its backs.</p>
        {% else %}
            <p><a href="{% url 'camera-load' camera.id %}">Load this camera</a></p>
        {% endif %}
    {% endif %}

    {% if camera.multiple_backs %}
        <section class="backs">
            <h3>Camera Backs</h3>
            {% if camera.camera_backs.all %}
            <ul>
                {% for back in camera.camera_backs.all %}
                <li>
                    <a href="{% url 'camera-back-detail' camera.id back.id %}">Back {{ back.name }}</a>
                    ({{ back.get_status_display }})
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No camera backs found.</p>
            {% endif %}
            <div class="do-not-print">
                <p><a href="{% url 'camera-back-add' camera.id %}">Add a camera back</a></p>
            </div>
        </section>
    {% endif %}

    {% if camera.notes %}
        <h2>Notes</h2>
        <div>{{ camera.notes|markdown }}</div>
    {% endif %}

    {% if rolls_history %}
        <hr />

        <section class="history">
            <h3 id="previous-rolls">{{ rolls_history.count }} previous roll{{ rolls_history.count|pluralize }}</h3>

            {% include 'inventory/_logbook-table.html' with rolls=rolls_history page='project' %}
        </section>
    {% endif %}
</div>
{% endblock %}
