{% extends 'base_site.html' %}
{% load markdown_deux_tags %}

{% block title %}{% if camera_back %}{{ camera_back }}{% else %}{{ camera.name }}{% endif %}{% endblock %}

{% block content %}
<div class="raw">
    <h1>
        {% if camera_back %}
            <a href="{% url 'camera-detail' camera.id %}">{{ camera.name }}</a>, Back “{{ camera_back.name }}”
        {% else %}
            {{ camera.name }}
        {% endif %}
    </h1>

    <div class="do-not-print">
        {% if camera_back %}
        <p><a href="{% url 'camera-back-edit' camera.id camera_back.id %}">Edit this back</a></p>
        {% else %}
        <p><a href="{% url 'camera-edit' camera.id %}">Edit this camera</a></p>
        <p><a href="#">Add a camera back</a></p>
        {% endif %}
    </div>

    <section class="status">
        <h2>Status: {{ camera_or_back.get_status_display }}</h2>
    </section>

    {% if camera_or_back.get_format_display %}
    <p>Format: {{ camera_or_back.get_format_display }}</p>
    {% endif %}

    {% if camera_or_back.status == 'loaded' %}
        {% include 'inventory/_camera-loaded.html' %}
        <div class="action">{% include 'inventory/_form-finish-roll.html' with camera=camera roll=roll %}</div>
    {% elif camera.status != 'unavailable' %}
        <p><a href="{% url 'camera-load' camera.id %}">Load this camera</a></p>
    {% endif %}

    {% if not camera_back and camera.multiple_backs %}
    <section class="backs">
        <h3>Camera Backs</h3>
        <ul>
            {% for back in camera.camera_backs.all %}
            <li><a href="{% url 'camera-back-detail' camera.id back.id %}">{{ back }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if camera_or_back.notes %}
    <h2>Notes</h2>
    <div>{{ camera_or_back.notes|markdown }}</div>
    {% endif %}

    {% if rolls_history %}
    <section class="history">
        <h3>{{ rolls_history.count }} previous roll{{ rolls_history.count|pluralize }}</h3>
        <ul>
            {% for roll in rolls_history %}
            <li><a href="{% url 'roll-detail' roll.id %}">{{ roll }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</div>
{% endblock %}
