{% extends 'base_site.html' %}

{% block title %}Cameras{% endblock %}

{% block content %}
<div class="raw">
<h1>Cameras</h1>

<p><a href="{% url 'camera-add' %}">Add a camera</a></p>

<section>
    {% regroup cameras by get_status_display as status_list %}
    {% for status in status_list reversed %}
        <h2 class="c-heading c-heading--divider">{{ status.grouper }}</h2>
        {% for camera in status.list %}
            {% include 'inventory/_card.html' with name=camera.name location=camera.get_absolute_url %}
        {% endfor %}
    {% endfor %}
</section>

</div>
{% endblock %}
