{% extends 'base_site.html' %}

{% block title %} / Load {{ camera.name }}{% endblock %}

{% block content %}
<div class="raw">
<h2><a href="{% url 'camera-detail' camera.id %}">{{ camera.name }}</a></h2>
<p><a href="{% url 'camera-edit' camera.id %}">Edit this camera</a></p>

{% if camera.status != 'loaded' %}
<h3>Pick a film to load: <small>(Format: {{ camera.get_format_display }})</small></h3>

{% if projects %}
{% include 'inventory/_form-project.html' %}
{% endif %}

{% if film_counts %}
{% include 'inventory/_form_iso.html' %}

{% include 'inventory/_form-load-camera.html' %}
{% else %}
<p>No film to load.</p>
{% endif %}

{% else %}
<p><a href="{% url 'camera-detail' camera.id %}">This camera</a> is already loaded.</p>
{% endif %}
</div>
{% endblock %}
