{% extends 'base_site.html' %}
{% load markdown_extras %}

{% block title %}{{ camera.name }}{% endblock %}

{% block header %}
<div class="page-heading">
    {# include 'inventory/_heading-back.html' with url='cameras' name='cameras' #}
    <div class="inner">
        <h1>{{ camera.name }}</h1>
    </div>
    {% include 'inventory/_heading-buttons.html' with item=camera url='camera' name='camera' prevent_delete=True %}
</div>
{% endblock %}

{% block content %}
{% if not camera.multiple_backs %}
{# Don’t show status for a camera with backs. #}
<dl class="stats">
    <div>
        <dt>Status</dt>
        <dd>{{ camera.get_status_display }}</dd>
    </div>

    {% if rolls_history %}
    <div>
        <dt>Roll{{ rolls_history.count|pluralize }} finished</dt>
        <dd>{{ rolls_history.count }}</dd>
    </div>
    {% endif %}
</dl>
{% endif %}

<div class="mt-10">
    <div class="mt-5 border-stone-200 dark:border-stone-600">
        <dl class="sm:divide-y sm:divide-stone-200 sm:dark:divide-stone-600">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm font-medium text-subdued">
                    Format
                </dt>
                <dd class="mt-1 text-sm sm:mt-0 sm:col-span-2">
                    {{ camera.get_format_display }}
                </dd>
            </div>
            {% if camera.notes %}
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm font-medium text-subdued">
                    Notes
                </dt>
                <dd class="mt-1 text-sm sm:mt-0 sm:col-span-2 prose prose-stone dark:prose-invert">
                    {{ camera.notes|markdown }}
                </dd>
            </div>
            {% endif %}
        </dl>
    </div>
</div>

{% if not camera.multiple_backs and camera.status == 'loaded' %}
    {% include 'inventory/_camera-loaded.html' %}
    <div class="action">{% include 'inventory/_form-finish-roll.html' with camera=camera roll=roll %}</div>
{% elif camera.status != 'unavailable' %}
    {% if camera.multiple_backs %}
        <p>You can load this camera via one of its backs.</p>
    {% else %}
        <p><a href="{% url 'camera-load' camera.id %}">Load this camera</a></p>
    {% endif %}
{% endif %}

{% if camera.multiple_backs %}
    <section class="backs">
        <h3>Camera Backs</h3>
        {% if camera.camera_backs.all %}
        <ul>
            {% for back in camera.camera_backs.all %}
            <li>
                <a href="{% url 'camera-back-detail' camera.id back.id %}">Back {{ back.name }}</a>
                ({{ back.get_status_display }})
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No camera backs found.</p>
        {% endif %}
        <div class="do-not-print">
            <p><a href="{% url 'camera-back-add' camera.id %}">Add a camera back</a></p>
        </div>
    </section>
{% endif %}

{% if rolls_history %}
    <hr />

    <section class="history">
        <h3 id="previous-rolls">{{ rolls_history.count }} previous roll{{ rolls_history.count|pluralize }}</h3>

        {% if camera.multiple_backs %}
            {% include 'inventory/_logbook-table.html' with rolls=rolls_history page='camera_with_backs' %}
        {% else %}
            {% include 'inventory/_logbook-table.html' with rolls=rolls_history %}
        {% endif %}
    </section>
{% endif %}
{% endblock %}
