{% extends 'base_site.html' %}

{% block title %}Load {{ camera_back }}{% endblock %}

{% block bodytag %}class="camera-load"{% endblock %}

{% block content %}
<div class="raw">
<h2><a href="{% url 'camera-detail' camera.id %}">{{ camera_back }}</a></h2>
<p><a href="{% url 'camera-edit' camera.id %}">Edit this camera</a></p>

{% if camera.status != 'loaded' %}
<h3>Pick a film to load:</h3>

{% if projects %}
{% include 'inventory/_form-project.html' %}
{% endif %}

{% if film_counts %}
{% include 'inventory/_form-load-camera.html' %}
{% else %}
<p>No film to load. <a href="{% url 'rolls-add' %}">Add some!</a></p>
{% endif %}

{% else %}
<p><a href="{% url 'camera-detail' camera.id %}">This camera</a> is already loaded.</p>
{% endif %}
</div>
{% endblock %}
