{% extends 'base_site.html' %}

{% block title %}Edit {{ camera.name }}{% endblock %}

{% block content %}
<div class="raw">
    <h1>Edit <a href="{% url 'camera-detail' camera.id %}">{{ camera.name }}</a></h1>

    <form method="post">
        {% csrf_token %}
        {% include 'inventory/_form-field.html' with field=form.name %}
        {% include 'inventory/_form-field.html' with field=form.format %}
        {% include 'inventory/_form-field.html' with field=form.notes %}
        {% if camera.format == '120' %}
        {% include 'inventory/_form-field.html' with field=form.multiple_backs %}
        {% endif %}
        {% if camera.status != 'loaded' %}
        {% include 'inventory/_form-field.html' with field=form.unavailable %}
        {% endif %}
        <div class="action">
            <input type="submit" value="Update camera" />
            <a href="{% url 'camera-detail' camera.id %}">Cancel</a>
        </div>
    </form>

    {% if not camera.roll_set.all %}
    <form x-data @submit.prevent="if (confirmDelete('camera')) $el.submit()" action="{% url 'camera-delete' camera.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="camera" value="{{ camera.id }}" />
        <div class="action">Since you’ve never used this, you can <input type="submit" class="destructive" value="delete this camera" /></div>
    </form>
    {% endif %}
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/confirmation.js' %}
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
