{% extends 'base_site.html' %}
{% load markdown_extras capture_tags %}

{% block title %}{{ camera_back }}{% endblock %}

{% block header %}
<div class="page-heading">
    <div class="inner">
        <h1><a href="{% url 'camera-detail' camera.id %}">{{ camera.name }}</a>, Back “{{ camera_back.name }}”</h1>
    </div>

    {% capture as additional_buttons silent %}
        {% if camera_back.status == 'loaded' %}
            {% include 'inventory/_form-finish-roll.html' with camera=camera roll=roll %}
        {% elif camera_back.status != 'unavailable' %}
            <a class="button primary" href="{% url 'camera-back-load' camera.id camera_back.id %}">Load</a>
        {% endif %}
    {% endcapture %}

    {% include 'inventory/_heading-buttons.html' with item=camera_back parent_item=camera url='camera-back' name='camera back' prevent_delete=True additional_buttons=additional_buttons %}
</div>
{% endblock header %}

{% block content %}
<div class="stats">
    <div class="flex justify-between">
        <dl>
            <dt>Status</dt>
            <dd>
                {{ camera_back.get_status_display }}
            </dd>
        </dl>
        {% if camera_back.status == 'loaded' %}
            <a href="{% url 'roll-detail' roll.id %}" class="py-1 no-underline hover:no-underline folded hover:unfolded md:unfolded md:hover:folded focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-stone-600 focus:ring-blue-500 rounded">
                {% include 'components/reminder.html' with item=roll %}
            </a>
        {% endif %}
    </div>
    {% if rolls_history %}
    <div>
        <dl>
            <dt>Roll{{ rolls_history.count|pluralize }} finished</dt>
            <dd>{{ rolls_history.count }}</dd>
        </dl>
    </div>
    {% endif %}
</div>

<div class="metadata">
    <div>
        <div class="dl">
            {% if camera_back.get_format_display %}
            <dl>
                <dt>Format</dt>
                <dd>{{ camera_back.get_format_display }}</dd>
            </dl>
            {% endif %}
            {% if camera_back.notes %}
            <dl>
                <dt>Notes</dt>
                <dd>{{ camera_back.notes|markdown }}</dd>
            </dl>
            {% endif %}
        </div>
    </div>
</div>

{% if rolls_history %}
    <section class="history">
        <h3 id="previous-rolls">{{ rolls_history.count }} previous roll{{ rolls_history.count|pluralize }} for this back <small>( <a href="{% url 'camera-detail' camera.id %}#previous-rolls">View all previous rolls for this camera</a> )</small></h3>
        {% include 'components/logbook-table.html' with rolls=rolls_history page='project' %}
    </section>
{% endif %}
{% endblock content %}
