{% extends 'base_site.html' %}

{% block title %}Add a camera{% endblock %}

{% block content %}
<div class="raw">
<h1>Add a camera</h1>

<form method="post">
    {% csrf_token %}
    {% include 'components/form-field.html' with field=form.name %}
    {% include 'components/form-field.html' with field=form.format %}
    {% include 'components/form-field.html' with field=form.multiple_backs %}
    {% include 'components/form-field.html' with field=form.notes %}
    {% include 'components/form-field.html' with field=form.unavailable class='last' %}

    <div class="action">
        <button class="primary">Save camera</button>
        <button name="another">Save camera and add another</button>
    </div>
</form>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
