{% extends 'base_site.html' %}
{% block title %} / Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>

<div class="wrapper dashboard">
    {% if rolls %}
    <ul>
        <li>
            <p><a href="{% url 'logbook' %}?status=loaded">Loaded: {{ rolls_loaded }}</a></p>
        </li>
        <li>
            <p><a href="{% url 'ready' %}">Ready: {{ rolls_ready }}</a></p>
        </li>
        <li>
            <form method="post">
                {% csrf_token %}
                <p><a href="{% url 'logbook' %}?status=processing">Processing: {{ rolls_processing }}</a></p>
                {% include 'inventory/_form-status.html' with current_status='processing' updated_status='processed' %}
            </form>
        </li>
        <li>
            <form method="post">
                {% csrf_token %}
                <p><a href="{% url 'logbook' %}?status=processed">Processed: {{ rolls_processed }}</a></p>
                {% include 'inventory/_form-status.html' with current_status='processed' updated_status='scanned' %}
            </form>
        </li>
        <li>
            <form method="post">
                {% csrf_token %}
                <p><a href="{% url 'logbook' %}?status=scanned">Scanned: {{ rolls_scanned }}</a></p>
                {% include 'inventory/_form-status.html' with current_status='scanned' updated_status='archived' %}
            </form>
        </li>
        <li>
            <p><a href="{% url 'logbook' %}?status=archived">Archived: {{ rolls_archived }}</a></p>
        </li>
    </ul>
    {% endif %}
</div>
{% endblock %}
