{% extends 'base_site.html' %}
{% block title %} / Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>

<div class="wrapper dashboard">
{% if rolls %}
<ul>
    <li>
        <form method="post">
            {% csrf_token %}
            <p>processing: {{ rolls_processing }}</p>
            <input type="hidden" name="current_status" value="processing">
            <input type="hidden" name="updated_status" value="processed">
            <input type="submit" value="Mark all as processed.">
        </form>
    </li>
    <li>
        <form method="post">
            {% csrf_token %}
            <p>processed: {{ rolls_processed }}</p>
            <input type="hidden" name="current_status" value="processed">
            <input type="hidden" name="updated_status" value="scanned">
            <input type="submit" value="Mark all as scanned.">
        </form>
    </li>
    <li>
        <form method="post">
            {% csrf_token %}
            <p>scanned: {{ rolls_scanned }}</p>
            <input type="hidden" name="current_status" value="scanned">
            <input type="hidden" name="updated_status" value="archived">
            <input type="submit" value="Mark all as archived.">
        </form>
    </li>
    <li>
        <p>archived: {{ rolls_archived }}</p>
    </li>
</ul>
{% endif %}
</div>
{% endblock %}
