{% extends 'base_site.html' %}
{% block title %}Dashboard{% endblock %}
{% block bodytag %}class="dashboard"{% endblock %}

{% block content %}
<div class="raw">
<h1>Dashboard</h1>

<div class="wrapper">
    <ul>
        <li>
            <p><a href="{% url 'inventory' %}">Storage: {{ rolls_storage }}</a></p>
        </li>
        <li>
            <p><a href="{% url 'logbook' %}?status=loaded">Loaded: {{ rolls_loaded }}</a></p>
        </li>
        <li>
            <p><a href="{% url 'ready' %}">Ready: {{ rolls_ready }}</a></p>
        </li>
        <li>
            <form method="post">
                {% csrf_token %}
                <p><a href="{% url 'logbook' %}?status=processing">Processing: {{ rolls_processing }}</a></p>
                {% if rolls_processing %}
                {% include 'inventory/_form-status.html' with current_status='processing' updated_status='processed' %}
                {% endif %}
            </form>
        </li>
        <li>
            <form method="post">
                {% csrf_token %}
                <p><a href="{% url 'logbook' %}?status=processed">Processed: {{ rolls_processed }}</a></p>
                {% if rolls_processed %}
                {% include 'inventory/_form-status.html' with current_status='processed' updated_status='scanned' %}
                {% endif %}
            </form>
        </li>
        <li>
            <form method="post">
                {% csrf_token %}
                <p><a href="{% url 'logbook' %}?status=scanned">Scanned: {{ rolls_scanned }}</a></p>
                {% if rolls_scanned %}
                {% include 'inventory/_form-status.html' with current_status='scanned' updated_status='archived' %}
                {% endif %}
            </form>
        </li>
        <li>
            <p><a href="{% url 'logbook' %}?status=archived">Archived: {{ rolls_archived }}</a></p>
        </li>
    </ul>
</div>
</div>
{% endblock %}
