{% extends 'base_site.html' %}

{% block title %}Add Film{% endblock %}

{% block content %}
<div class="raw">
    <h1>Add Film</h1>

    <div class="notes">
        {% include 'inventory/_github-icon.html' with id='beaker' %}
        <div class="inner">
            <p>Thanks for helping! For the sake of consistency, we may need to make adjustments to this new film before making it available for everyone to use.</p>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'manufacturer' or field.name == 'new_manufacturer'%}
                {% if field.name == 'manufacturer' %}
                    {% include 'inventory/_form-field.html' with field=field progressive=True primary=True progressive_text='…or add a new manufacturer.' %}
                {% else %}
                    {% include 'inventory/_form-field.html' with field=field progressive=True progressive_text='…or choose an existing manufacturer.' label_override='New Manufacturer' top_field=True %}
                {% endif %}
            {% else %}
                {% include 'inventory/_form-field.html' with field=field %}
            {% endif %}
        {% endfor %}

        <div class="action">
            <p><input type="submit" value="Save film" ></p>
            <p><input type="submit" class="secondary" name="another" value="Save film and add another" /></p>
        </div>
    </form>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/progressive-field.js' %}
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
