{% extends 'base_site.html' %}
{% load markdown_deux_tags %}

{% block title %} / {{ roll }}{% endblock %}

{% block content %}
<h1>{{ roll }}</h1>

<form action="{% url 'film-roll-update' roll.id %}" method="post">
    {% csrf_token %}
    {{ statusForm }}
    <input type="submit" value="Update status">
</form>

{% if roll.code %}
<p>Code: {{ roll.code }}</p>
{% endif %}

{% if roll.camera %}
<p>Camera: <a href="{% url 'camera-detail' roll.camera.id %}">{{ roll.camera.name }}</a></p>
{% endif %}

{% if projects %}
<form action="{% url 'film-roll-update-project' roll.id %}" method="post">
    {% csrf_token %}
    {{ projectForm }}
    <input type="submit" value="Update project">
</form>
{% endif %}

{% if roll.push_pull %}
<p>{{ roll.get_push_pull_display }} (effective ISO {{ roll.effective_iso }})</p>
{% endif %}

{% if roll.started_on %}
<p>Started on: {{ roll.started_on }}</p>
{% endif %}

{% if roll.ended_on %}
<p>Finished on: {{ roll.ended_on }}</p>
{% endif %}

<p>Notes:</p>
<p>{{ roll.notes|markdown }}</p>
<p>
    <a href="{% url 'film-roll-detail-notes' roll.film.slug roll.id %}">
        {% if roll.notes %}
        Edit
        {% else %}
        Add
        {% endif %}
        notes
    </a>
</p>
{% endblock %}
