{% extends 'base_site.html' %}

{% block title %}Add Film{% endblock %}

{% block content %}
<div class="raw">
    <h1>Add Film</h1>

    <div class="notes">
        {% include 'inventory/_github-icon.html' with id='beaker' %}
        <div class="inner">
            <p>Thanks for helping! For the sake of consistency, we may need to make adjustments to this new film before making it available for everyone to use.</p>
        </div>
    </div>

    {% if destination %}
        {{ destination }}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'manufacturer' or field.name == 'new_manufacturer'%}
                {% include 'inventory/_form-field.html' with field=field progressive_link=True %}
            {% else %}
                {% include 'inventory/_form-field.html' with field=field %}
            {% endif %}
        {% endfor %}

        <div class="action">
            <p><input type="submit" value="Save film" ></p>
            <p><input type="submit" class="secondary" name="another" value="Save film and add another" /></p>
        </div>
    </form>
</div>
{% endblock %}

{% block page_js %}
<script>
    // Fields & Containers
    const $existingManufacturer = $('#id_manufacturer');
    const $existingManufacturerContainer = $existingManufacturer.closest('.c-field');
    const $newManufacturer = $('#id_new_manufacturer');
    const $newManufacturerContainer = $newManufacturer.closest('.c-field');

    // Toggle Links
    const $showExistingLink = $('<a>…or choose existing manufacturer.</a>');
    const $showNewLink = $('<a>…or add a new manufacturer.</a>');

    // This field’s border-top should only show up when JavaScript isn’t running.
    // This label text makes more sense when its on its own in this progressively-enhanced form.
    $newManufacturerContainer.css('border-top', 0).find('label').text('New manufacturer');
    $newManufacturerContainer.find('.js-link').append($showExistingLink);
    $existingManufacturerContainer.find('.js-link').append($showNewLink);

    function showExisting() {
        $newManufacturer.val('').attr('required', false);
        $newManufacturerContainer.hide();
        $existingManufacturerContainer.show();
        $existingManufacturer.attr('required', true);
    }

    function showNew() {
        $existingManufacturer.attr('required', false);
        $existingManufacturerContainer.hide();
        $newManufacturerContainer.show();
        $newManufacturer.attr('required', true);
    }

    $showExistingLink.click(() => showExisting());
    $showNewLink.click(() => showNew());

    showExisting();
</script>
{% endblock %}
