{% extends 'base_site.html' %}

{% block title %}Add Film{% endblock %}

{% block content %}
<div class="raw">
    <h1>Add Film</h1>

    <div class="notes">
        {% include 'inventory/_github-icon.html' with id='beaker' %}
        <div class="inner">
            <p>Thanks for helping! For the sake of consistency, we may need to make adjustments to this new film before making it available for everyone to use.</p>
        </div>
    </div>

    {% if destination %}
        {{ destination }}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            {% include 'inventory/_form-field.html' with field=field %}
        {% endfor %}

        <div class="action">
            <p><input type="submit" value="Save film" ></p>
            <p><input type="submit" class="secondary" name="another" value="Save film and add another" /></p>
        </div>
    </form>
</div>
{% endblock %}
