{% extends 'base_site.html' %}

{% block content %}
<section>
    <h2 class="c-heading">Projects</h2>
    {% url 'projects' as projects_url %}

    {% if projects %}
        {% for project in projects %}
            {% include 'inventory/_card.html' with name=project.name location=project.get_absolute_url slot='count' count=project.get_rolls_remaining %}
        {% endfor %}
    {% endif %}
    {% include 'inventory/_card.html' with name='View all projects' location=projects_url %}
</section>

{% if rolls_loaded %}
<section>
    <h2 class="c-heading">Loaded Cameras</h2>
    {% for roll in rolls_loaded %}
        {% include 'inventory/_card.html' with name=roll.camera.name location=roll.camera.get_absolute_url slot='reminder' roll=roll %}
    {% endfor %}
</section>
{% endif %}

{% if cameras_empty %}
<section>
    <h2 class="c-heading">Ready to Load</h2>
    {% for camera in cameras_empty %}
        {% url 'camera-load' camera.id as camera_load %}
        {% include 'inventory/_card.html' with name=camera.name location=camera_load slot='reminder' %}
    {% endfor %}
</section>
{% endif %}

<section>
    <h2 class="c-heading">Inventory</h2>
    {% url 'ready' as ready_url %}
    {% url 'dashboard' as dashboard_url %}
    {% url 'inventory' as inventory_url %}
    {% url 'camera-add' as camera_add_url %}
    {% url 'roll-add' as roll_add_url %}

    {% include 'inventory/_card.html' with name='Ready to process' location=ready_url slot='count' count=rolls_ready_count %}
    {% include 'inventory/_card.html' with name='Storage  / Add rolls' location=inventory_url slot='count' count=rolls_storage_count %}
    {% include 'inventory/_card.html' with name='Dashboard' location=dashboard_url %}
    {% include 'inventory/_card.html' with name='+ Add a camera' location=camera_add_url %}
    {% include 'inventory/_card.html' with name='+ Add a roll to your logbook' location=roll_add_url %}
</section>
{% endblock %}
