{% extends 'base_site.html' %}

{% block content %}

<h2>Add film</h2>

<form action="{% url 'film-roll-add' %}" method="post">
    {% csrf_token %}
    <select name="film" required>
        <option value="">Select a film</option>
        {% regroup films by manufacturer as films_list %}
        {% for manufacturer in films_list %}
        <optgroup label="{{ manufacturer.grouper }}">
            {% for film in manufacturer.list %}
                <option value="{{ film.id }}">{{ film.name }} in {{ film.get_format_display }}</option>
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    <input type="number" min="1" name="quantity" placeholder="quantity" required />
    <input type="submit" value="Add">
</form>

<h2><a href="{% url 'camera-add' %}">Add a camera</a></h2>
<h2><a href="{% url 'project-add' %}">Add a project</a></h2>

<h2>Currently loaded cameras</h2>

{% if loaded_roll_list %}
<ul>
{% for roll in loaded_roll_list %}
    <li>
        <a href="{% url 'camera-detail' roll.camera.id %}">{{ roll.camera.name }}</a> with
        <a href="{% url 'film-roll-detail' roll.film.slug roll.id %}">{{ roll.film.name }} {{ roll.push_pull }}</a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>You have no loaded cameras.</p>
{% endif %}

<h2>Cameras ready to load</h2>

{% if empty_camera_list %}
<ul>
{% for camera in empty_camera_list %}
    <li><a href="{% url 'camera-load' camera.id %}">{{ camera.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>You have no cameras ready to load.</p>
{% endif %}

<hr />

{% if latest_finished_rolls %}
<h2>Recently finished rolls</h2>
<ul>
{% for roll in latest_finished_rolls %}
    <li>
        <a title="{{ roll.code }}" href="{% url 'film-roll-detail' roll.film.slug roll.id %}">{{ roll.film }}</a>
        {% include 'inventory/_roll-project-link.html' %}
    </li>
{% endfor %}
</ul>
{% endif %}

{% if latest_roll_list %}
<h2>Recently added rolls</h2>
<ul>
{% for roll in latest_roll_list %}
    <li>
        <a href="{% url 'film-roll-detail' roll.film.slug roll.id %}">{{ roll.film }}</a>
        {% include 'inventory/_roll-project-link.html' %}
    </li>
{% endfor %}
</ul>
{% else %}
<p>You have no film.</p>
{% endif %}

{% endblock %}
