{% extends 'base_site.html' %}

{% block title %}
{% spaceless %}
    Inventory
    {% if filters.format_name != 'all' %}
        ({{ filters.format_name }}{% if filters.type_name != 'all' %}, {{ filters.type_name }}{% endif %})
    {% elif filters.type_name != 'all' %}
        ({{ filters.type_name }})
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block header %}
<div class="page-heading">
    <div class="inner">
        <h1>Inventory</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="inventory-content-wrapper">
    {% include 'inventory/_inventory-content.html' %}
</div>
{% endblock %}

{% block page_js %}
<script>
    let titlePrefix;
    let newSubtitle = '';
    let formatName = '{{ filters.format_name }}';
    let typeName = '{{ filters.type_name }}';
</script>
{% endblock %}
