{% extends 'base_site.html' %}

{% block title %} / Profile{% endblock %}

{% block content %}
<div class="raw">
<h1>Inventory</h1>

{% if total_film_count %}
<h2>Formats</h2>
<ul>
    {% for format in format_counts %}
    <li><a href="{% url 'film-format' format.format %}">{{ format.format_display }} / {{ format.count }}</a></li>
    {% endfor %}
</ul>

<h2>Types</h2>
<ul>
    {% for type in type_counts %}
    <li><a href="{% url 'film-type' type.type %}">{{ type.type_display }} / {{ type.count }}</a></li>
    {% endfor %}
</ul>

{% include 'inventory/_unused-rolls.html' %}

{% else %}
<p>No films found.</p>
{% endif %}
</div>
{% endblock %}
