{% extends 'base_site.html' %}

{% block title %} / {{ owner.username }} / Load {{ camera.name }}{% endblock %}

{% block content %}
<h2>{{ camera.name }}</h2>
<p><a href="{% url 'edit-camera' user.username camera.id %}">Edit this camera</a></p>

{% if camera.status != 'loaded' %}
<h3>Pick a film to load:</h3>

<p>Format: {{ camera.get_format_display }}</p>

{% if roll_counts %}
<form action="{% url 'load-camera' camera.owner camera.id %}" method="post">
    {% csrf_token %}
    {% regroup roll_counts by get_type_display as roll_list %}
    <select name="film">
        <option value="">Select a film</option>
        {% for type in roll_list %}
        <optgroup label="{{ type.grouper }}">
            {% for film in type.list %}
            <option value="{{film.id}}">{{ film.manufacturer }} {{ film.name }} ({{ film.count }})</option>
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    <select name="push_pull">
        <option value="">Push/Pull</option>
        <option value="-2">Pull 2 stops</option>
        <option value="-1">Pull 1 stop</option>
        <option value="+1">Push 1 stop</option>
        <option value="+2">Push 2 stops</option>
        <option value="+3">Push 3 stops</option>
    </select>
    <input type="submit" value="Load camera" />
</form>
{% else %}
<p>No film to load.</p>
{% endif %}

{% else %}
<p><a href="{% url 'camera' camera.owner camera.id %}">This camera</a> is already loaded.</p>
{% endif %}

{% endblock %}
