{% extends 'base_site.html' %}

{% block title %}Logbook{% endblock %}
{% block bodytag %}class="logbook"{% endblock %}

{% block content %}
<div class="raw">
<h1>Logbook</h1>

<ul class="year-filter">
{% if year %}
    <li><a href="{% url 'logbook' %}">All years <small>({{ all_years_count }})</small></a></li>
{% else %}
    <li class="current">All years <small>({{ all_years_count }})</small></li>
{% endif %}
{% for key, value in all_years.items %}
    {% if key|stringformat:'s' == year %}
    <li class="current">{{ key }} <small>({{ value }})</small></li>
    {% else %}
    <li><a href="?year={{ key }}">{{ key }} <small>({{ value }})</small></a></li>
    {% endif %}
{% endfor %}
</ul>

<form method="get" class="do-not-print">
    <select name="status">
        <option value="0" {% if status == '0' %}selected{% endif %}>All rolls</option>
        <option value="loaded" {% if status == 'loaded' %}selected{% endif %}>Loaded</option>
        <option value="shot" {% if status == 'shot' %}selected{% endif %}>Shot</option>
        <option value="processing" {% if status == 'processing' %}selected{% endif %}>Processing</option>
        <option value="processed" {% if status == 'processed' %}selected{% endif %}>Processed</option>
        <option value="scanned" {% if status == 'scanned' %}selected{% endif %}>Scanned</option>
        <option value="archived" {% if status == 'archived' %}selected{% endif %}>Archived</option>
    </select>
    <input type="submit" value="Filter">
</form>

{% if description %}
<p>{{ description }}</p>
{% endif %}

{% if rolls %}
<form method="post" action="{% url 'rolls-update' %}">
    {% if status in bulk_status_keys %}
        {% csrf_token %}
        <div class="bulk-status do-not-print">
            <p>Bulk update the status of these rolls.</p>
            {% include 'inventory/_form-status.html' with page='logbook' current_status=status %}
        </div>
    {% endif %}

    {% include 'inventory/_logbook-table.html' with page='logbook' %}
</form>
{% else %}
<p>No rolls found.</p>
{% endif %}
</div>
{% endblock %}
