{% extends 'base_site.html' %}

{% block title %}Logbook{% endblock %}
{% block bodytag %}class="logbook"{% endblock %}

{% block content %}
<div class="raw">
<h1>Logbook</h1>

{% include 'inventory/_logbook-status-filter-nav.html' with querystring=request.META.QUERY_STRING %}

{% if rolls %}
<form method="post" action="{% url 'rolls-update' %}">
    {% if status in bulk_status_keys %}
        {% csrf_token %}
        <div class="bulk-status do-not-print">
            <p>Bulk update the status of these rolls.</p>
            {% include 'inventory/_form-status.html' with page='logbook' current_status=status updated_status=bulk_status_next %}
        </div>
    {% endif %}

    {% include 'inventory/_logbook-table.html' with page='logbook' %}
</form>
{% else %}
<p>No rolls found.</p>
{% endif %}
</div>
{% endblock %}
