{% extends 'base_site.html' %}

{% block title %} / {{ owner.username }}{% endblock %}

{% block content %}
<h1>{{ owner.username }}</h1>

{% if owner.film_set.all|length > 0 %}
<ul class="cards">
    {% for film in film_counts %}
    <li>
        <a class="card card__{{ film.type }}" href="{% url 'profile-films' owner.username film.slug %}">
            <header><h1>{{ film }}</h1> </header>
            <div class="count"><span>{{ film.count }}</span></div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
