{% extends 'base_site.html' %}

{% block title %} / {{ owner.username }}{% endblock %}

{% block content %}
<h1>{{ owner.username }}</h1>

{% if owner.film_set.all|length > 0 %}
<ul class="cards">
    {% for film in film_counts %}
    <li>
        <a class="card card__{{ film.type }}" href="{% url 'profile-films' owner.username film.slug %}">
            <header><h1>{{ film }}</h1> </header>
            <div class="count"><span>{{ film.count }}</span></div>
        </a>
    </li>
    {% endfor %}
</ul>

<h2>Formats</h2>
<ul>
    {% for format in format_counts %}
    <li><a href="{% url 'profile-format' owner.username format.format %}">{{ format.format_display }} / {{ format.count }}</a></li>
    {% endfor %}
</ul>

<h2>Types</h2>
<ul>
    {% for type in type_counts %}
    <li><a href="{% url 'profile-type' owner.username type.type %}">{{ type.type_display }} / {{ type.count }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No films found.</p>
{% endif %}
{% endblock %}
