{% extends 'base_site.html' %}

{% block title %} / {{ owner.username }}{% endblock %}

{% block content %}
<h1>{{ owner.username }}</h1>

{% if owner.roll_set.all|length > 0 %}
<ul class="cards">
    {% for roll in roll_counts %}
    <li>
        <a class="card card__{{ roll.type }}" href="{% url 'film-rolls' roll.slug %}">
            <header><h1>{{ roll }}</h1> </header>
            <div class="count"><span>{{ roll.count }}</span></div>
        </a>
    </li>
    {% endfor %}
</ul>

<h2>Formats</h2>
<ul>
    {% for format in format_counts %}
    <li><a href="{% url 'film-format' format.format %}">{{ format.format_display }} / {{ format.count }}</a></li>
    {% endfor %}
</ul>

<h2>Types</h2>
<ul>
    {% for type in type_counts %}
    <li><a href="{% url 'film-type' type.type %}">{{ type.type_display }} / {{ type.count }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No films found.</p>
{% endif %}
{% endblock %}
