{% extends 'base_site.html' %}
{% load markdown_deux_tags %}

{% block title %} / {{ project.name }}{% endblock %}

{% block content %}
<h2>{{ project.name }}</h2>
{% if project.notes %}
<h3>Notes</h3>
<div>{{ project.notes|markdown }}</div>
{% endif %}

<hr />

<h3>Add rolls to this project</h3>

{% if roll_available_count %}
<form action="{% url 'project-rolls-add' project.id %}" method="post">
    {% csrf_token %}
    {% regroup roll_available_count by get_type_display as roll_list %}
    <select name="film" required>
        <option value="">Select a film</option>
        {% for type in roll_list %}
        <optgroup label="{{ type.grouper }}">
            {% for film in type.list %}
            <option value="{{ film.id }}">{{ film }} ({{ film.count }})</option>
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    <input type="number" name="quantity" value="0" required />
    <input type="submit" value="Add rolls" />
</form>
{% endif %}

<hr />

{% if roll_counts %}
<ul class="cards">
    {% for roll in roll_counts %}
    <li>
        <form action="{% url 'project-rolls-remove' project.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="film" value="{{ roll.id }}" />
            <input type="submit" value="Remove from project" />
        </form>

        <a class="card card__{{ roll.type }}" href="{% url 'film-rolls' roll.slug %}">
            <header><h1>{{ roll }}</h1> </header>
            <div class="count"><span>{{ roll.count }}</span></div>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No rolls in this project.</p>
{% endif %}

{% endblock %}
