{% extends 'base_site.html' %}

{% block title %}{{ action }} a project{% endblock %}

{% block content %}
<div class="raw">
<h1>{{ action }} project</h1>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="owner" value="{{ owner.id }}">

    {% include 'inventory/_form-field.html' with field=form.name %}
    {% include 'inventory/_form-field.html' with field=form.status %}
    {% include 'inventory/_form-field.html' with field=form.notes %}

    <div class="action"><input type="submit" value="Save project" /></div>
</form>

{% if project %}
<form onsubmit="return confirmDelete('project');" action="{% url 'project-delete' project.id %}" method="post">
    {% csrf_token %}
    <div class="action"><input type="submit" value="Delete project" /></div>
</form>
{% endif %}
</div>
{% endblock %}
