{% extends 'base_site.html' %}
{% load markdown_extras %}

{% block title %}{{ project.name }}{% endblock %}

{% block header %}
<div class="page-heading">
    <div class="inner">
        {# include 'inventory/_heading-back.html' with url='projects' name='projects' #}
        <h1>{{ project.name }}</h1>
    </div>

    {% if user.profile.account_active %}
        {% include 'inventory/_heading-buttons.html' with item=project url='project' name='project' %}
    {% endif %}
</div>
{% endblock %}

{% block content %}
<dl class="stats">
    {% if roll_logbook %}
    <div>
        <dt>Roll{{ roll_logbook.count|pluralize}} Used</dt>
        <dd>{{ roll_logbook.count }}</dd>
    </div>
    {% endif %}
    {% if film_counts %}
    <div>
        <dt>Roll{{ total_rolls|pluralize }} Remaining</dt>
        <dd>{{ total_rolls }}</dd>
    </div>
    {% endif %}
</dl>

<div class="metadata">
    <div>
        <dl>
            <div>
                <dt>Status</dt>
                <dd>{{ project.get_status_display }}</dd>
            </div>
            {% if project.notes %}
            <div>
                <dt>Notes</dt>
                <dd>{{ project.notes|markdown }}</dd>
            </div>
            {% endif %}
        </dl>
    </div>
</div>

{% include 'partials/project-camera-logbook-wrapper.html' %}

{% if film_counts %}
    {% include 'inventory/_unused-rolls.html' %}
{% elif project.status != 'archived' %}
    <h3>Film remaining: 0 rolls</h3>
{% endif %}

<div class="print:hidden">
{% if project.status != 'archived' %}
    {% if user.profile.account_active %}
        {% if film_available_count %}
            {% include 'inventory/_project-add-rolls.html' %}
        {% endif %}

        {% if cameras_to_add %}
            {% include 'inventory/_project-add-camera.html' %}
        {% endif %}
    {% endif %}
{% else %}
    <p><i>This project is archived. You can add rolls and cameras to it if you <a href="{% url 'project-edit' project.id %}">change its status</a>.</i></p>
{% endif %}
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/confirmation.js' %}
</script>
{% endblock %}
