{% extends 'base_site.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="raw">
<h1>Projects</h1>

<p><a href="{% url 'project-add' %}">Add a project</a></p>

<section>
    {% regroup projects by get_status_display as status_list %}
    {% for status in status_list %}
        <h2 class="c-heading c-heading--divider">{{ status.grouper }}</h2>
        {% for project in status.list %}
            {% if project.get_rolls_remaining %}
                {% include 'inventory/_card.html' with name=project.name location=project.get_absolute_url slot='count' count=project.get_rolls_remaining %}
            {% else %}
                {% include 'inventory/_card.html' with name=project.name location=project.get_absolute_url %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</section>

</div>
{% endblock %}
