{% extends 'base_site.html' %}
{% load markdown_deux_tags %}

{% block title %} / {{ project.name }}{% endblock %}

{% block content %}
<h1>{{ project.name }}</h1>

<p>Status: {{ project.get_status_display }}</p>

<p><a href="{% url 'project-edit' project.id %}">Edit project</a></p>

<form action="{% url 'project-delete' project.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete this project." />
</form>

{% if project.cameras.all %}
    <hr />
    {% include 'inventory/_project-cameras.html' %}
{% endif %}

{% if film_counts %}
    <hr />
    {% include 'inventory/_unused-rolls.html' with page='project' %}
{% elif project.status != 'archived' %}
    <p>No unused rolls in this project.</p>
{% endif %}

{% if roll_logbook %}
    <hr />
    {% include 'inventory/_project-logbook.html' %}
{% endif %}

{% if project.status != 'archived' %}
    {% if film_available_count %}
        <hr />
        {% include 'inventory/_project-add-rolls.html' %}
    {% endif %}

    {% if cameras %}
        <hr />
        {% include 'inventory/_project-add-camera.html' %}
    {% endif %}
{% else %}
    <hr />
    <p><i>This project is archived. You can add rolls and cameras to it if you <a href="{% url 'project-edit' project.id %}">change its status</a>.</i></p>
{% endif %}

{% if project.notes %}
<hr />
<h3>Notes</h3>
<div>{{ project.notes|markdown }}</div>
{% endif %}

{% endblock %}
