{% extends 'base_site.html' %}

{% block title %}{{ action }} a project{% endblock %}

{% block content %}
<div class="raw">
<h1>{{ action }} project</h1>

<form method="post">
    {% csrf_token %}
    {% include 'inventory/_form-field.html' with field=form.name %}
    {% include 'inventory/_form-field.html' with field=form.status %}
    {% include 'inventory/_form-field.html' with field=form.notes %}

    <div class="action">
        <input type="submit" value="Save project" />
        {% if action == 'Edit' %}
        <a href="{% url 'project-detail' project.id %}">Cancel</a>
        {% endif %}
    </div>
</form>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
