{% extends 'base_site.html' %}
{% load markdown_deux_tags %}

{% block title %}
    {% if roll.status != '01_storage' %}
    / {{ roll.code }} / {{ roll.started_on|date:'Y' }}
    {% else %}
    / {{ roll }}
    {% endif %}
{% endblock %}

{% block bodytag %}class="roll-detail"{% endblock %}

{% block content %}
{% if roll.status != '01_storage' %}
<h1>{{ roll.code }} / {{ roll.started_on|date:'Y' }}</h1>
<h2>{{ roll.film }}</h2>
{% else %}
<h1>{{ roll }}</h1>
{% endif %}

<p><a href="{% url 'film-rolls' roll.film.slug %}">View all your rolls of this film.</a></p>

<p><a href="{% url 'roll-edit' roll.id %}">Edit roll</a></p>

<ul>
    <li>Status: {{ roll.get_status_display }}</li>

    {% if roll.code %}
    <li>Code: {{ roll.code }}</li>
    {% endif %}

    {% if roll.camera %}
    <li>Camera: <a href="{% url 'camera-detail' roll.camera.id %}">{{ roll.camera.name }}</a></li>
    {% endif %}

    {% if roll.lens %}
    <li>Lens(es): {{roll.lens}}</li>
    {% endif %}

    {% if roll.project %}
    <li>Project: <a href="{% url 'project-detail' roll.project.id %}">{{ roll.project }}</a></li>
    {% endif %}

    {% if roll.push_pull %}
    <li>{{ roll.get_push_pull_display }} (effective ISO {{ roll.effective_iso }})</li>
    {% endif %}

    {% if roll.location %}
    <li>Location(s): {{ roll.location }}</li>
    {% endif %}

    {% if roll.started_on %}
    <li>Started on: {{ roll.started_on }}</li>
    {% endif %}

    {% if roll.ended_on %}
    <li>Finished on: {{ roll.ended_on }}</li>
    {% endif %}

    {% if roll.notes %}
    <li>Notes:
        <ul>
            <li>{{ roll.notes|markdown }}</li>
        </ul>
    </li>
    {% endif %}

    {% if roll.status in development_statuses %}
    <li class="development">Development
        <ul>
            {% if roll.lab %}
            <li>Lab: {{ roll.lab }}</li>
            {% endif %}

            {% if roll.scanner %}
            <li>Scanner: {{ roll.scanner }}</li>
            {% endif %}

            {% if roll.notes_on_development %}
            <li>Notes on Development:
                <ul>
                    <li>{{ roll.notes_on_development|markdown }}</li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
</ul>

<hr />

{% if journal_entries %}
<table>
    <thead>
        <tr>
            <th>Frames</th>
            <th>Notes</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in journal_entries %}
        <tr>
            <td>
                {{ entry.starting_frame }}
                {% if entry.frame != entry.starting_frame %}
                    &ndash;
                    {{ entry.frame }}
                {% endif %}
            </td>
            <td>{{ entry.notes }}</td>
            <td><a href="{% url 'roll-journal-edit' roll.id entry.id %}">{{ entry.date }}</a></td>
            <td>
                <form onsubmit="return confirmDelete('journal entry');" action="{% url 'roll-journal-delete' roll.id entry.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<ul>
    {% if roll.status != '01_storage' %}
    <li><a href="{% url 'roll-journal-add' roll.id %}">Add a new journal entry</a></li>
    {% endif %}
    <li>
        <form action="{% url 'roll-delete' roll.id %}" onsubmit="return confirmDelete('roll');" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" />
        </form>
    </li>
</ul>
{% endblock %}
