{% extends 'base_site.html' %}
{% load markdown_extras %}
{% block bodytag %}class="journal-entry"{% endblock %}

{% block title %}Journal entry for {{ roll.code }} / {{ roll.started_on|date:'Y' }}{% endblock %}

{% block header %}
<div class="page-heading">
    <div class="inner">
        <h1>Journal entry for <a href="{% url 'roll-detail' roll.id %}">{{ roll.code }} / {{ roll.started_on|date:'Y' }}</a></h1>
    </div>
    {% if user.profile.account_active %}
        {% include 'inventory/_heading-buttons.html' with item=entry parent_item=roll url='roll-journal' name='journal entry' %}
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="metadata">
    <div>
        <div class="dl">
            <dl>
                <dt>Date</dt>
                <dd>{{ entry.date|date:'l, F j, Y' }}</dd>
            </dl>
            <dl>
                <dt>Frame{% if entry.starting_frame != entry.frame %}s{% endif %}</dt>
                <dd>
                    {% if entry.starting_frame and entry.starting_frame != entry.frame %}
                    <small>{{ entry.starting_frame}} &ndash; </small>
                    {% endif %}
                    {{ entry.frame }}
                </dd>
            </dl>
            {% if entry.notes %}
            <dl>
                <dt>Notes</dt>
                <dd>{{ entry.notes|markdown }}</dd>
            </dl>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/confirmation.js' %}
</script>
{% endblock %}
