{% extends 'base_site.html' %}
{% load markdown_deux_tags %}

{% block title %}{{ roll }}{% endblock %}

{% block bodytag %}class="roll-detail"{% endblock %}

{% block content %}
<div class="raw">
    <header class="c-heading">
        <h1>{{ roll }}</h1>
        <div class="action">
            <a class="button icon icon-edit" href="{% url 'roll-edit' roll.id %}">{% include 'inventory/_github-icon.html' with id='pencil' %}</a>
        </div>
    </header>
{% if roll.status != '01_storage' %}
<h2>{{ roll.film.manufacturer }} <a href="{% url 'film-rolls' roll.film.slug %}">{{ roll.film.name }} in {{ roll.film.get_format_display }}</a> </h2>
{% endif %}

<ul>
    <li>Status: <a href="{% url 'logbook' %}?status={{ roll.status|slice:'3:' }}">{{ roll.get_status_display }}</a></li>

    {% if roll.code %}
    <li>Code: {{ roll.code }}</li>
    {% endif %}

    {% if roll.camera %}
    <li>Camera: <a href="{% url 'camera-detail' roll.camera.id %}">{{ roll.camera.name }}</a></li>
    {% endif %}

    {% if roll.lens %}
    <li>Lens(es): {{roll.lens}}</li>
    {% endif %}

    {% if roll.project %}
    <li>Project: <a href="{% url 'project-detail' roll.project.id %}">{{ roll.project }}</a></li>
    {% endif %}

    {% if roll.push_pull %}
    <li>{{ roll.get_push_pull_display }} (effective ISO {{ roll.effective_iso }})</li>
    {% endif %}

    {% if roll.location %}
    <li>Location(s): {{ roll.location }}</li>
    {% endif %}

    {% if roll.started_on %}
    <li>Started on: {{ roll.started_on }}</li>
    {% endif %}

    {% if roll.ended_on %}
    <li>Finished on: {{ roll.ended_on }}</li>
    {% endif %}

    {% if roll.notes %}
    <li>Notes:
        <ul>
            <li>{{ roll.notes|markdown }}</li>
        </ul>
    </li>
    {% endif %}

    {% if roll.status in development_statuses %}
    <li class="development">Development
        <ul>
            {% if roll.lab %}
            <li>Lab: {{ roll.lab }}</li>
            {% endif %}

            {% if roll.scanner %}
            <li>Scanner: {{ roll.scanner }}</li>
            {% endif %}

            {% if roll.notes_on_development %}
            <li>Notes on Development:
                <ul>
                    <li>{{ roll.notes_on_development|markdown }}</li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
</ul>

{% if roll.status != '01_storage' %}
<p class="do-not-print"><a href="{% url 'roll-journal-add' roll.id %}">Add a new journal entry</a></p>
{% endif %}

{% if journal_entries %}
<hr />

<div class="journal-entries overflow-x">
    <table>
        <thead>
            <tr>
                <th class="entry-date">Date</th>
                <th class="entry-frames">Frames</th>
                <th class="entry-notes">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in journal_entries %}
            <tr>
                <td>
                    <a href="{% url 'roll-journal-detail' roll.id entry.id %}" title="{{ entry.date|date:'l, F j, Y' }}">
                        <span class="do-not-print">{{ entry.date|date:'M j' }}</span>
                        <span class="print-only">{{ entry.date|date:'M j, Y' }}</span>
                    </a>
                </td>
                <td>
                    {{ entry.starting_frame }}
                    {% if entry.frame != entry.starting_frame %}
                        &ndash;
                        {{ entry.frame }}
                    {% endif %}
                </td>
                <td>
                    <span class="do-not-print">{{ entry.notes }}</span>
                    <div class="print-only">{{ entry.notes|markdown }}</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<hr />

<div class="action">
    {% if roll.status == '02_loaded' %}
    {% include 'inventory/_form-finish-roll.html' with camera=roll.camera roll=roll %}
    {% endif %}
    <form action="{% url 'roll-delete' roll.id %}" onsubmit="return confirmDelete('roll');" method="post" class="do-not-print">
        {% csrf_token %}
        <input type="submit" class="destructive" value="Delete" />
    </form>
</div>
{% endblock %}
