{% extends 'base_site.html' %}

{% block title %}Add rolls to storage{% endblock %}

{% block content %}
<div class="raw">
    <h1>Add rolls to storage</h1>
    <p>Or <a href="{% url 'roll-add' %}">add a roll to your logbook</a>.</p>

    {% include 'inventory/_note-missing-film.html' %}

    <form method="post">
        {% csrf_token %}
        <div class="c-field">
            <fieldset>
                {% include 'inventory/_film-selector.html' %}
                <input type="number" min="1" value="1" name="quantity" required />
            </fieldset>
        </div>
        <div class="action"><input type="submit" value="Add to storage" /></div>
    </form>
</div>
{% endblock %}
