{% extends 'inventory/roll_journal_entry.html' %}
{% load markdown_deux_tags %}

{% block entry %}
<div class="c-field">
    <label>Date</label>
    <p>{{ entry.date|date:'l, F j, Y' }}</p>
</div>

<div class="c-field">
    <label>Frame{% if entry.starting_frame != entry.frame %}s{% endif %}</label>
    <p>
        {% if entry.starting_frame and entry.starting_frame != entry.frame %}
        <small>{{ entry.starting_frame}} &ndash; </small>
        {% endif %}
        {{ entry.frame }}
    </p>
</div>

<div class="c-field">
    <label>Notes</label>
    {{ entry.notes|markdown }}
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/confirmation.js' %}
</script>
{% endblock %}
