{% extends 'base_site.html' %}
{% load markdown_extras %}

{% block title %}{{ frame }}{% endblock %}

{% block bodytag %}class="frame-detail"{% endblock %}

{% block header %}
<div class="page-heading">
    <div class="inner">
        <h1>Frame #{{ frame.number }} of <a href="{% url 'roll-detail' frame.roll.id %}">{{ frame.roll }}</a></h1>
    </div>

    {% include 'inventory/_heading-buttons.html' with item=frame key=frame.number parent_item=frame.roll url='roll-frame' name='frame' %}
</div>
{% endblock %}

{% block content %}
{% if previous_frame or next_frame %}
<ol class="flex justify-between">
    <li>
    {% if previous_frame %}
        <a title="Previous frame: {{ previous_frame.date}}" href="{% url 'roll-frame-detail' frame.roll.id previous_frame.number %}" class="button icon">
            &larr;
        </a>
    {% else %}
        <button disabled>&larr;</button>
    {% endif %}
    </li>
    <li>
    {% if next_frame %}
        <a title="Next frame: {{ next_frame.date }}" href="{% url 'roll-frame-detail' frame.roll.id next_frame.number %}" class="button icon">
            &rarr;
        </a>
    {% else %}
        <button disabled>&rarr;</button>
    {% endif %}
    </li>
</ol>
{% endif %}

<div class="metadata">
    <div>
        <dl>
            <div>
                <dt>Date</dt>
                <dd>{{ frame.date }}</dd>
            </div>
            {% if frame.aperture %}
            <div>
                <dt>Aperture</dt>
                <dd><span class="subdued">ƒ/</span> {{ frame.aperture }}</dd>
            </div>
            {% endif %}
            {% if frame.shutter_speed %}
            <div>
                <dt>Shutter speed</dt>
                <dd>{{ frame.shutter_speed }} <span class="subdued" title="second(s)">s</span></dd>
            </div>
            {% endif %}
            {% if frame.notes %}
            <div>
                <dt>Notes</dt>
                <dd>{{ frame.notes|markdown }}</dd>
            </div>
            {% endif %}
        </dl>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/confirmation.js' %}
</script>
{% endblock %}
