{% extends 'base_site.html' %}

{% block title %}{{ action }} frame for {{ roll }}{% endblock %}

{% block content %}
<div class="raw">
    <h1>{{ action }} frame for {{ roll }}</h1>

    <form method="post">
        {% csrf_token %}
        {# TODO: Don’t loop--just enter these manually. It’ll be less confusing. #}
        {% for field in form %}
            {% if field.name == 'aperture_preset' or field.name == 'shutter_speed_preset' %}
                {% include 'inventory/_form-field.html' with field=field progressive=True primary=True %}
            {% elif field.name == 'aperture' or field.name == 'shutter_speed'%}
                {% include 'inventory/_form-field.html' with field=field progressive=True %}
            {% else %}
                {% include 'inventory/_form-field.html' with field=field %}
            {% endif %}
        {% endfor %}
        <div class="action">
            <input type="submit" value="Save" />
            <a href="{% url 'roll-detail' roll.id %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/progressive-field.js' %}
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
