{% extends 'base_site.html' %}
{% block bodytag %}class="journal-entry"{% endblock %}

{% block title %}Journal entry for {{ roll.code }} / {{ roll.started_on|date:'Y' }}{% endblock %}

{% block content %}
<div class="raw">
<h1>Journal entry for <span><a href="{% url 'roll-detail' roll.id %}">{{ roll.code }}</a></span> / {{ roll.started_on|date:'Y' }}</h1>

{% if roll.status == '02_loaded' %}
<p><a href="{% url 'camera-detail' roll.camera.id %}">Currently loaded in {{ roll.camera }}.</a></p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div>
        <label for="{{ form.frame.id_for_label }}">{{ form.frame.help_text }}</label>
        <span>
        {% if starting_frame %}
            {{ starting_frame }}
            &ndash;
        {% endif %}
        {{ form.frame }}
        </span>
    </div>
    {% comment %}
    <div>
        <label for="checkbox-done">Done?</label>
        <input id="checkbox-done" type="checkbox" />
    </div>
    {% endcomment %}
    <div class="notes">
        <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
        {{ form.notes }}
    </div>
    <div>
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
        {{ form.date }}
    </div>
    <div class="action"><input type="submit" value="Save" /></div>
</form>
</div>
{% endblock %}
