{% extends 'base_site.html' %}

{% block title %}{{ action }} journal entry for {{ roll }}{% endblock %}

{% block content %}
<div class="raw">
    <h1>{{ action }} journal entry for {{ roll }}</h1>

    <form method="post">
        {% csrf_token %}
        {% comment %}
        <div>
            <label for="checkbox-done">Done?</label>
            <input id="checkbox-done" type="checkbox" />
        </div>
        {% endcomment %}
        {% include 'inventory/_form-field.html' with field=form.date %}
        {% include 'inventory/_form-field.html' with field=form.frame %}
        {% include 'inventory/_form-field.html' with field=form.notes %}

        <div class="action">
            <input type="submit" value="Save" />
            {% if action == 'Edit' %}
            <a href="{% url 'roll-journal-detail' roll.id entry.id %}">Cancel</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
