{% extends 'base_site.html' %}
{% block bodytag %}class="journal-entry"{% endblock %}

{% block title %}Journal entry for {{ roll.code }} / {{ roll.started_on|date:'Y' }}{% endblock %}

{% block content %}
<div class="raw">
    <div class="c-heading">
        <div class="flex">
            <h1>Journal entry for <a href="{% url 'roll-detail' roll.id %}">{{ roll.code }} / {{ roll.started_on|date:'Y' }}</a></h1>
            {% if user.profile.account_active %}
                {% include 'inventory/_heading-buttons.html' with item=entry parent_item=roll url='roll-journal' name='journal entry' %}
            {% endif %}
        </div>
    </div>

    {% block entry %}{% endblock %}
</div>
{% endblock %}
