{% extends 'base_site.html' %}

{% block title %}Edit: {{ roll }}{% endblock %}

{% block content %}
<div class="raw">

    <header class="c-heading">
        {% if roll.code %}
        <h1>Edit: {{ roll.code }}</h1>
        <small class="year">{{ roll.started_on|date:'Y' }}</small>
        {% else %}
        <h1>Edit: {{ roll }}</h1>
        {% endif %}
    </header>

    <form method="post">
        {% csrf_token %}
        {% include 'inventory/_form-field.html' with field=form.code %}
        {% include 'inventory/_form-roll.html' with status=roll.status %}

        <div class="action"><input type="submit" value="Save changes" /></div>
    </form>
</div>
{% endblock %}
