{% extends 'base_site.html' %}

{% block title %}{{ action }} journal entry for {{ roll }}{% endblock %}

{% block content %}
<div class="raw">
    <h1>{{ action }} journal entry for {{ roll }}</h1>

    <form method="post">
        {% csrf_token %}
        {% comment %}
        <div>
            <label for="checkbox-done">Done?</label>
            <input id="checkbox-done" type="checkbox" />
        </div>
        {% endcomment %}
        {% include 'inventory/_form-field.html' with field=form.date %}
        {% include 'inventory/_form-field.html' with field=form.frame %}
        {% include 'inventory/_form-textarea-enhanced.html' with field=form.notes %}

        <div class="action">
            <input type="submit" value="Save" />
            {% if action == 'Edit' %}
            <a href="{% url 'roll-journal-detail' roll.id entry.id %}">Cancel</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block page_js %}
<script>
    const box = document.getElementById('id_notes');
    const $addList = $('.js-add-list');
    const $addLink = $('.js-add-link');

    function addOrderedListItem() {
        $(box).append('\n\n1. ').focus();
    }

    function addUnorderedListItem() {
        $(box).append('\n\n- ').focus();
    }

    function getInputSelection(el) {
        var start = 0, end = 0, normalizedValue, range,
            textInputRange, len, endRange;

        if (typeof el.selectionStart == "number" && typeof el.selectionEnd == "number") {
            start = el.selectionStart;
            end = el.selectionEnd;
        } else {
            range = document.selection.createRange();

            if (range && range.parentElement() == el) {
                len = el.value.length;
                normalizedValue = el.value.replace(/\r\n/g, "\n");

                // Create a working TextRange that lives only in the input
                textInputRange = el.createTextRange();
                textInputRange.moveToBookmark(range.getBookmark());

                // Check if the start and end of the selection are at the very end
                // of the input, since moveStart/moveEnd doesn't return what we want
                // in those cases
                endRange = el.createTextRange();
                endRange.collapse(false);

                if (textInputRange.compareEndPoints("StartToEnd", endRange) > -1) {
                    start = end = len;
                } else {
                    start = -textInputRange.moveStart("character", -len);
                    start += normalizedValue.slice(0, start).split("\n").length - 1;

                    if (textInputRange.compareEndPoints("EndToEnd", endRange) > -1) {
                        end = len;
                    } else {
                        end = -textInputRange.moveEnd("character", -len);
                        end += normalizedValue.slice(0, end).split("\n").length - 1;
                    }
                }
            }
        }

        return {
            start: start,
            end: end
        };
    }

    function replaceSelectedText(el, text) {
        var sel = getInputSelection(el), val = el.value;
        el.value = val.slice(0, sel.start) + text + val.slice(sel.end);
    }

    function addLink(e) {
        e.preventDefault();
        var text = box.value.substring(box.selectionStart, box.selectionEnd);

        replaceSelectedText(box, `[${text}](url)`);
    }

    $addList.click(() => addOrderedListItem());
    $addLink.click((e) => addLink(e));
</script>
{% endblock page_js %}
