{% extends 'base_site.html' %}

{% block title %}Add rolls to storage{% endblock %}

{% block content %}
<h1>Add rolls to storage</h1>

<form method="post">
    {% csrf_token %}
    <div class="field">
        <p class="col-span-3">Or <a href="{% url 'roll-add' %}">add a roll to your logbook</a>.</p>
    </div>

    <div class="field">
        <label for="id_film">Film</label>
        <div class="col-span-2">
            {% include 'inventory/_film-selector.html' %}
            <div class="mt-2 text-sm text-stone-500 dark:text-stone-300 prose dark:prose-invert">
                Not seeing what you need?
                <a href="{% url 'stock-add' %}">Add a new kind of film to the list.</a>
            </div>
        </div>
    </div>

    {% include 'components/form-field.html' with field=form.quantity %}
    {% include 'components/form-field.html' with field=form.notes class='last' %}

    <div class="action"><button class="primary">Add to storage</button></div>
</form>
{% endblock %}

{% block page_js %}
<script>
    // Automatically select a film if possible.
    // ?film=[film id]
    (new URL(window.location)).searchParams.forEach((x, y) => {
        document.getElementById(`id_${y}`).value = x;
    });
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
