{% extends 'base_site.html' %}
{% load markdown_deux_tags %}
{% load waffle_tags %}

{% block title %}{{ roll }}{% endblock %}

{% block bodytag %}class="roll-detail"{% endblock %}

{% block content %}
<div class="raw">
    <header class="c-heading">
        <div class="flex">
            {% if roll.code %}
            <h1>{{ roll.code }}</h1>
            <small class="year">{{ roll.started_on|date:'Y' }}</small>
            {% else %}
            <h1>{{ roll }}</h1>
            {% endif %}

            {% include 'inventory/_heading-buttons.html' with item=roll url='roll' name='roll' %}
        </div>

        <h2>{{ roll.film.manufacturer }} <a href="{% url 'film-rolls' roll.film.slug %}">{{ roll.film.name }} in {{ roll.film.get_format_display }}</a> </h2>
    </header>

<ul class="meta">
    <li><a href="{% url 'logbook' %}?status={{ roll.status|slice:'3:' }}">{{ roll.get_status_display }}</a></li>

    {% if roll.camera_back %}
    <li>Camera: <a href="{% url 'camera-detail' roll.camera.id %}">{{ roll.camera.name }}</a>, <a href="{% url 'camera-back-detail' roll.camera.id roll.camera_back.id %}">Back “{{ roll.camera_back.name }}”</a></li>
    {% elif roll.camera %}
    <li>Camera: <a href="{% url 'camera-detail' roll.camera.id %}">{{ roll.camera.name }}</a></li>
    {% endif %}

    {% if roll.lens %}
    <li>Lens(es): {{roll.lens}}</li>
    {% endif %}

    {% if roll.project %}
    <li>Project: <a href="{% url 'project-detail' roll.project.id %}">{{ roll.project }}</a></li>
    {% endif %}

    {% if roll.push_pull %}
    <li>{{ roll.get_push_pull_display }} (effective ISO {{ roll.effective_iso }})</li>
    {% endif %}

    {% if roll.location %}
    <li>Location(s): {{ roll.location }}</li>
    {% endif %}

    {% if roll.started_on %}
    <li>Started: {{ roll.started_on }}</li>
    {% endif %}

    {% if roll.ended_on %}
    <li>Finished: {{ roll.ended_on }}</li>
    {% endif %}

    {% if roll.notes %}
    <li>Notes:
        <ul>
            <li>{{ roll.notes|markdown }}</li>
        </ul>
    </li>
    {% endif %}

    {% if roll.status in development_statuses %}
    <li class="development">Development
        <ul>
            {% if roll.lab %}
            <li>Lab: {{ roll.lab }}</li>
            {% endif %}

            {% if roll.scanner %}
            <li>Scanner: {{ roll.scanner }}</li>
            {% endif %}

            {% if roll.notes_on_development %}
            <li>Notes on Development:
                <ul>
                    <li>{{ roll.notes_on_development|markdown }}</li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
</ul>

{% if frames %}
{% flag 'frames' %}
<div class="frames overflow-x">
    <h3>Frames</h3>
    <table>
        <thead>
            <tr>
                <th class="entry-number">#</th>
                <th class="entry-date">Date</th>
                <th class="entry-aperture">Aperture</th>
                <th class="entry-shutter">Shutter Speed</th>
            </tr>
        </thead>
        <tbody>
            {% for frame in frames %}
            <tr>
                <td><a href="{% url 'roll-frame-detail' frame.roll.id frame.number %}">{{ frame.number }}</a></td>
                <td>{{ frame.date }}</td>
                <td>
                    {% if frame.aperture %}
                        <span class="subdued">ƒ/</span>
                        {{ frame.aperture }}
                    {% endif %}
                </td>
                <td>
                    {% if frame.shutter_speed %}
                        {{ frame.shutter_speed }}
                        <span class="subdued" title="second(s)">s</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endflag %}
{% endif %}

{% flag 'frames' %}
<div class="action">
    <p><a class="button" href="{% url 'roll-frame-add' roll.id %}">Add a new frame</a></p>
</div>
{% endflag %}

{% if journal_entries %}
<div class="journal-entries overflow-x">
    <h3>Journal Entries</h3>
    <table>
        <thead>
            <tr>
                <th class="entry-date">Date</th>
                <th class="entry-frames">Frames</th>
                <th class="entry-notes">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in journal_entries %}
            <tr>
                <td>
                    <a href="{% url 'roll-journal-detail' roll.id entry.id %}" title="{{ entry.date|date:'l, F j, Y' }}">
                        <span class="do-not-print">{{ entry.date|date:'M j' }}</span>
                        <span class="print-only">{{ entry.date|date:'M j, Y' }}</span>
                    </a>
                </td>
                <td>
                    {{ entry.starting_frame }}
                    {% if entry.frame != entry.starting_frame %}
                        &ndash;
                        {{ entry.frame }}
                    {% endif %}
                </td>
                <td>
                    <span class="do-not-print">{{ entry.notes }}</span>
                    <div class="print-only">{{ entry.notes|markdown }}</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if roll.status != '01_storage' %}
<div class="action">
    {% flag 'frames' %}
        {% if journal_entries %}
            <p><a class="button" href="{% url 'roll-journal-add' roll.id %}">Add a new journal entry</a></p>
        {% endif %}
    {% else %}
        <p><a class="button" href="{% url 'roll-journal-add' roll.id %}">Add a new journal entry</a></p>
    {% endflag %}
</div>
{% endif %}

{% if roll.status == '02_loaded' %}
<hr />
<div class="action">
    {% include 'inventory/_form-finish-roll.html' with camera=roll.camera roll=roll %}
</div>
{% endif %}
{% endblock %}
