{% extends 'base_site.html' %}

{% block title %}Edit: {{ roll }}{% endblock %}

{% block content %}
<header class="c-heading">
    {% if roll.code %}
    <div class="flex items-center">
        <h1>Edit: {{ roll.code }}</h1>
        <small class="year ml-3 inline-flex items-center rounded-full bg-stone-300 dark:bg-stone-600 print:bg-transparent px-3 py-0.5 print:border-2 print:border-stone-500 text-sm font-medium text-stone-700 dark:text-stone-200 print:text-black">{{ roll.started_on|date:'Y' }}</small>
    </div>
    {% else %}
    <h1>Edit: {{ roll }}</h1>
    {% endif %}
</header>

<form method="post">
    {% csrf_token %}
    {% include 'components/form-field.html' with field=form.code %}
    {% include 'inventory/_form-roll.html' %}

    <div class="action">
        <button class="primary">Save changes</button>
        <a href="{% url 'roll-detail' roll.id %}">Cancel</a>
    </div>
</form>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
