{% extends 'base_site.html' %}
{% load waffle_tags %}

{% block title %}Settings{% endblock %}
{% block bodytag %}class="settings"{% endblock %}

{% block content %}
<div class="raw">
    <h1>Settings</h1>

    {% flag 'paddle' %}
        {% include 'inventory/_settings-subscription.html' %}
    {% endflag %}

    <form method="post">
        {% csrf_token %}
        {% for field in user_form %}
            {% include 'inventory/_form-field.html' with field=field %}
        {% endfor %}
        {% for field in profile_form %}
            {% include 'inventory/_form-field.html' with field=field %}
        {% endfor %}
        <div class="action"><input type="submit" value="Save settings" /></div>
    </form>
    <p><a href="{% url 'password_change' %}">Change your password</a></p>

    {% flag 'export-data' %}
    {% if exportable_data %}
    <hr />

    <h2 id="export">Export your data</h2>
    <ul>
        {% for k, v in exportable.items %}
            {% if v %}
                <li><a href="{% url 'export-'|add:k %}">Download your {{ k }} data.</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% endflag %}

    {% flag 'import-data' %}
    <hr />

    <h2 id="import">Import previously exported data</h2>
    <ul>
        {% for import in imports %}
            <li>
                {{ import }}
                <form method="post" action="{% url 'import-'|add:import|lower %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ csv_form.csv }}
                    <input type="submit" value="Upload" />
                </form>
            </li>
        {% endfor %}
    </ul>
    {% endflag %}
</div>
{% endblock %}

{% block page_js %}
<script>
    {% flag 'paddle' %}
        {% if paddle.live_mode == 0 %}
        Paddle.Environment.set('sandbox');
        {% endif %}

        Paddle.Setup({ vendor: {{ paddle.vendor_id }} });

        function openCheckout(product) {
            Paddle.Checkout.open({
                product: product,
                email: '{{ user.email }}',
                passthrough: '{{ user.id }}',
                success: `${window.location.protocol}//${window.location.host}{% url 'subscription-created' %}?plan=${product}`,
            });
        }

        $('.paddle-subscribe').click(e => {
            openCheckout($(e.target).data('product'));
        });

        {% if user.profile.paddle_update_url %}
        $('.paddle-update').click(() => {
            Paddle.Checkout.open({
                override: '{{ user.profile.paddle_update_url|safe }}',
            });
        });
        {% endif %}

        {% if user.profile.paddle_cancel_url %}
        $('.paddle-cancel').click(() => {
            Paddle.Checkout.open({
                override: '{{ user.profile.paddle_cancel_url|safe }}',
            });
        });
        {% endif %}
    {% endflag %}
</script>
{% endblock %}
