{% extends 'base_site.html' %}

{% block title %}Settings{% endblock %}
{% block bodytag %}class="settings"{% endblock %}

{% block content %}
<div class="raw">
    <h1>Settings</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in user_form %}
            {% include 'inventory/_form-field.html' with field=field %}
        {% endfor %}
        {% for field in profile_form %}
            {% include 'inventory/_form-field.html' with field=field %}
        {% endfor %}
        <div class="action"><input type="submit" value="Save settings" /></div>
    </form>
    <p><a href="{% url 'password_change' %}">Change your password</a></p>

    {% if user.is_staff %}
    <hr />

    <h2>Manage your subscription</h2>

    {% if subscription and user.profile.has_active_subscription %}
        <p>You’re subscribed to the <b>{{ subscription.plan }}</b> plan.</p>
        {% if subscription.cancel_at_period_end %}
            <p><i>You requested that your subscription be canceled.</i></p>
            <p>Your subscription is scheduled to end on <b>{{ subscription.current_period_end|date:'l, F j, Y' }}</b>.</p>
        {% else %}
            <p>Your current payment source is a <b>{{ payment_method.brand }}</b> ending in <b>{{ payment_method.last4 }}</b>.</p>
            <p>It will renew on <b>{{ subscription.current_period_end|date:'l, F j, Y' }}</b>.</p>
            <form method="post" onsubmit="return confirm('Are you sure?')" action="{% url 'subscription-cancel' %}">
                {% csrf_token %}
                <button>Cancel subscription</button>
            </form>
        {% endif %}
    {% endif %}

    {% if charges %}
    <h3>Payment history</h3>
    <ul>
        {% for charge in charges %}
            <li>
                <b>{{ charge.charge }}</b> on
                {{ charge.date|date:'F j, Y' }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <hr />
    <hr />

    <p>If you have a subscription:</p>
    <ul>
        <li>☑️ Show current plan</li>
        <li>☑️ Show last 4 of current card</li>
        <li>Link to update card</li>
    </ul>

    <p>If you don’t have a subscription:</p>
    <ul>
        <li>Pick plan (radio buttons?)</li>
        <li>Enter credit card</li>
    </ul>
    {% endif %}
</div>
{% endblock %}
