{% extends 'base_site.html' %}

{% block title %}Film Stocks{% if manufacturer %}: {{ manufacturer }}{% endif %}{% endblock %}

{% block content %}
{% url 'stocks' as stocks_url %}
<div class="raw">
    <h1>
        {% if request.path != stocks_url %}<a href="{{ stocks_url }}">{% endif %}
        Film Stocks
        {% if request.path != stocks_url %}</a>{% endif %}
        {% if manufacturer %} &gt; {{ manufacturer }}{% endif %}
    </h1>

    <form id="stock_filter" method="get" action={% url 'stocks' %}>
        <div class="c-field--filter">
            <div class="inner">
                <label for="id_manufacturer">
                    Manufacturer:
                    <select name="manufacturer" id="id_manufacturer">
                        <option value="all">All manufacturers</option>
                        {% for m in manufacturers %}
                        <option value={{ m.slug }}{% if manufacturer.slug == m.slug %} selected{% endif %}>
                            {{ m }}
                        </option>
                        {% endfor %}
                    </select>
                </label>
                <label for="id_type">
                    Type:
                    <select name="type" id="id_type">
                        <option value="all">All types</option>
                        {% for key, value in type_choices.items %}
                        <option value="{{ key }}"{% if filters.type == key %} selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <button class="no-js">Filter</button>
        </div>
    </form>

    <hr />

    <div id="stocks-list-wrapper">
        {% include 'inventory/_stocks-list.html' %}
    </div>
</div>
{% endblock %}

{% block page_js %}
<script>
$('#stock_filter select').change((e) => {
    const url = new URL(window.location);
    const newManufacturer = $('#id_manufacturer').val();
    const newType = $('#id_type').val();
    let manufacturerUrl = (newManufacturer === 'all')
        ? `{% url 'stocks' %}`
        : `{% url 'stocks-manufacturer' manufacturer='m-none' %}`.replace('m-none', newManufacturer);
    const typeUrl = `{% url 'stocks-ajax' manufacturer='m-none' type='t-none' %}`
        .replace('m-none', newManufacturer)
        .replace('t-none', newType);

    const $wrapper = $('#stocks-list-wrapper');

    $wrapper.html('<div class="loader" />');
    fetch(typeUrl).then((response) => {
        response.text().then((text) => {
            $wrapper.html(text);
            url.pathname = manufacturerUrl;
            url.searchParams.set('type', newType);
            window.history.pushState({}, '', url);
        });
    });
});
</script>
{% endblock %}
