{% extends 'base_site.html' %}

{% block title %}
{% spaceless %}
    Film Stocks{% if manufacturer or filters.type != 'all' %}: {% endif %}
    {% if manufacturer %}
        {{ manufacturer }}
        {% if filters.type != 'all' %} ({{ type_name }}){% endif %}
    {% else %}
        {% if filters.type != 'all' %}
            {{ type_name }}
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block content %}
<div class="raw">
    {% include 'inventory/_stocks-content.html' %}
</div>
{% endblock %}

{% block page_js %}
<script>
    if (typeof(manufacturerName) === 'undefined') {
        let manufacturerName;
    }
    if (typeof(typeName) === 'undefined') {
        let typeName;
    }
</script>
{% endblock %}
