{% extends 'base_site.html' %}

{% block title %}Film Stocks{% if manufacturer %}: {{ manufacturer }}{% endif %}{% endblock %}

{% block content %}
<div class="raw">
    <h1>Film Stocks</h1>

    <form id="stock_filter" method="get" action={% url 'stocks' %}>
        <div class="c-field--filter">
            <div class="inner">
                <label for="id_manufacturer">
                    Manufacturer:
                    <select name="manufacturer" id="id_manufacturer">
                        <option value="all">All manufacturers</option>
                        {% for m in manufacturers %}
                        <option value={{ m.slug }}{% if manufacturer.slug == m.slug %} selected{% endif %}>
                            {{ m }}
                        </option>
                        {% endfor %}
                    </select>
                </label>
                <label for="id_type">
                    Type:
                    <select name="type" id="id_type"{% if type_choices.items|length == 1 %} disabled{% endif %}>
                        {% if type_choices.items|length > 1 %}
                            <option value="all">All types</option>
                        {% endif %}
                        {% for key, value in type_choices.items %}
                        <option value="{{ key }}"{% if filters.type == key %} selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <button class="no-js">Filter</button>
        </div>
    </form>

    <div id="stocks-list-wrapper">
        {% include 'inventory/_stocks-list.html' %}
    </div>
</div>
{% endblock %}

{% block page_js %}
<script>
const $wrapper = $('#stocks-list-wrapper');
const $typeSwitcher = $('#id_type');
let typeChoices;

function resetTypes() {
    if (Object.keys(typeChoices).length > 1) {
        $typeSwitcher.html('<option value="all">All types</option>');
        $typeSwitcher.removeAttr('disabled');
    } else {
        $typeSwitcher.html('');
        $typeSwitcher.attr('disabled', 'true');
    }
    for (const key in typeChoices) {
        $typeSwitcher.append(`<option value="${key}">${typeChoices[key]}</option>`);
    }
}

function resetLink(e) {
    e.preventDefault();

    fetch(`{% url 'stocks-ajax' manufacturer='all' type='all' %}`)
        .then(response => response.text().then(text => {
            $wrapper.html(text);
            $('#id_manufacturer').val('all');
            $('#id_type').val('all');
            window.history.pushState({}, '', `{% url 'stocks' %}`);
            resetTypes();
        }));
}

$('#stock_filter select').change((e) => {
    const url = new URL(window.location);
    const newManufacturer = $('#id_manufacturer').val();
    const newType = $('#id_type').val();
    let manufacturerUrl = (newManufacturer === 'all')
        ? `{% url 'stocks' %}`
        : `{% url 'stocks-manufacturer' manufacturer='m-none' %}`.replace('m-none', newManufacturer);
    let typeUrl = `{% url 'stocks-ajax' manufacturer='m-none' type='t-none' %}`;

    // If we’re switching manufacturer, reset type to `all`.
    let t = (e.target.name === 'manufacturer') ? 'all' : newType;
    typeUrl = typeUrl.replace('t-none', t).replace('m-none', newManufacturer);

    $wrapper.html('<div class="loader" />');
    fetch(typeUrl).then((response) => {
        response.text().then((text) => {
            $wrapper.html(text);
            $('.js-reset-filter').click((e) => resetLink(e));
            url.pathname = manufacturerUrl;

            if (e.target.name === 'type') {
                url.searchParams.set('type', newType);
            } else {
                url.searchParams.set('type', 'all');
            }

            if (e.target.name === 'manufacturer') {
                resetTypes();
            }
            window.history.pushState({}, '', url);
        });
    });
});

$('.js-reset-filter').click((e) => resetLink(e));
</script>
{% endblock %}
