{% extends 'base_site.html' %}

{% block title %}Add Film Stock{% endblock %}

{% block content %}
<div class="raw">
    <h1>Add Film Stock</h1>

    <div class="notes">
        {% include 'inventory/_github-icon.html' with id='beaker' %}
        <div class="inner">
            <p>Thanks for helping! For the sake of consistency, we may need to make adjustments to this new film stock before <a target="_blank" rel="noopener" href="https://cassettenest.com/policies/privacy/content/">making it available for everyone to use</a>.</p>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div x-data="{ primary: true }" class="progressive-field-wrapper progressive-field-wrapper__top">
            {% include 'components/form-field.html' with field=form.manufacturer progressive=True primary=True progressive_text='…or add a new manufacturer.' %}
            {% include 'components/form-field.html' with field=form.new_manufacturer progressive=True progressive_text='…or choose an existing manufacturer.' label_override='New Manufacturer' top_field=True %}
        </div>

        {% for field in form %}
            {% if field.name != 'manufacturer' and field.name != 'new_manufacturer'%}
                {% include 'components/form-field.html' with field=field %}
            {% endif %}
        {% endfor %}

        <div class="action">
            <p><input type="submit" value="Save film stock" /></p>
            <p><input type="submit" class="secondary" name="another" value="Save film stock and add another" /></p>
        </div>
    </form>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
