{% extends 'base_site.html' %}
{% load capture_tags %}

{% block title %}Film Stock: {{ stock }}{% endblock %}

{% block content %}
    <h1><a href="{% url 'stocks' %}">Film Stocks</a> &gt; <a href="{% url 'stocks-manufacturer' manufacturer.slug %}">{{ manufacturer.name }}</a> {{ stock.name }}</h1>

    {% if stock.added_by %}
        <div class="notes sm:flex gap-3 sm:items-center bg-white shadow-lg dark:shadow-none dark:bg-stone-900 rounded-xl py-4 px-6">
            {% include 'svg/heroicons/heart.svg' with class='float-left sm:float-none mt-1 mr-4 mb-1 sm:m-0 h-8 w-8 sm:flex-shrink-0' %}
            <p>This stock was added by the Cassette Nest community!</p>
        </div>
    {% endif %}

    <p>Total rolls of this stock in Cassette Nest: <b>{{ total_rolls }}</b></p>

    <section class="logbook">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left">Format</th>
                            <th class="text-left">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for film in films %}
                        <tr>
                            <td>{{ film.get_format_display }}</td>
                            <td>{{ film.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    {% if user.is_authenticated %}

    <h2>Your inventory of this stock ({{ total_inventory }})</h2>

    <section class="logbook">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left">Format</th>
                            <th class="text-left">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for film in films_list %}
                            <tr>
                                <td>{{ film.name }}</td>
                                <td>{{ film.user_inventory_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <h2>Your history of this stock ({{ total_history }})</h2>

    <section class="logbook">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left">Format</th>
                            <th class="text-left">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for film in films_list %}
                        <tr>
                            {% capture as history_url silent %}{{ film.url }}#film_history_heading{% endcapture %}
                            <td><a href="{{ history_url }}">{{ film.name }}</a></td>
                            <td>{{ film.user_history_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
