{% extends 'base_site.html' %}

{% block title %}Film Stock: {{ stock }}{% endblock %}

{% block content %}
<div class="raw">
    <h1>Film Stock: <a href="{% url 'stocks-manufacturer' manufacturer.slug %}">{{ manufacturer.name }}</a> {{ stock.name }}</h1>

    <section class="cards">
        {% for film in films %}
            {% include 'inventory/_card.html' with name=film location=film.get_absolute_url slot='count' count=film.count type='film' film_type=film.stock.type %}
        {% endfor %}
    </section>
</div>
{% endblock %}
