{% extends 'base_site.html' %}

{% block title %}Manage Your Subscription{% endblock %}

{% block content %}
<div class="raw">
    <h1>Manage Your Subscription</h1>

    <h2>Choose your plan</h2>

    <ol>
        <li><button class="subscribe" id="btn-monthly" data-price="monthly">$2 / month</button></li>
        <li><button class="subscribe" id="btn-yearly" data-price="annual">$20 / year</button></li>
    </ol>
</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/subscription.js' %}
</script>
{% endblock %}
