{% extends 'base_site.html' %}

{% block title %}Subscribe{% endblock %}
{% block bodytag %}class="subscribe"{% endblock %}

{% block content %}
<div class="raw">
    <h1>Subscribe</h1>

    {% if owner.profile.has_active_subscription %}
        <p>You’re already subscribed!</p>
        <p>View <a href="{% url 'settings' %}">your settings</a> to make changes.</p>
    {% endif %}

    {% if not owner.profile.has_active_subscription %}
        <form method="post" id="payment-form">
            {% csrf_token %}
            <div class="form-row">
            {{ form }}
            </div>

            {% include 'inventory/_stripe-card-field.html' %}

            <button>Submit payment</button>
        </form>
    {% endif %}
</div>
{% endblock %}

{% block page_js %}
{% if not owner.profile.has_active_subscription %}
    {% include 'inventory/_stripe-javascript.html' %}
{% endif %}
{% endblock %}
