{% extends 'base_site.html' %}

{% block title %}Manage Your Subscription{% endblock %}

{% block content %}
<div class="raw">
    <h1>Manage Your Subscription</h1>

    {% if user.is_staff %}
        <div>
            <p>You’re good to go. You have a special account and you don’t need to subscribe! ❤️</p>
        </div>
    {% else %}

        <div class="js-required">
            {% csrf_token %}
            {% if not user.profile.has_active_subscription %}
            <h2>You’re not currently subscribed. Choose a plan:</h2>

            <ol>
                <li><button class="subscribe" id="btn-monthly" data-price="monthly">$2 / month</button></li>
                <li><button class="subscribe" id="btn-yearly" data-price="annual">$20 / year</button></li>
            </ol>
            {% else %}
            <p>You’re currently subscribed to the <b>{{ user.profile.subscription }}</b> plan.</p>
            <p><button class="manage-subscription">View and manage your subscription details.</button></p>
            {% endif %}
        </div>
        <div class="no-js">
            <p>Sorry, this is one page that actually requires JavaScript to work.</p>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/subscription.js' %}
</script>
{% endblock %}
