{% extends 'base_site.html' %}

{% block title %}Subscribe{% endblock %}
{% block bodytag %}class="subscribe"{% endblock %}

{% block content %}
<div class="raw">
    <h1>Subscribe</h1>

    <div class="js-required">
        {% if owner.profile.has_active_subscription %}
            <p>You’re already subscribed!</p>
            <p>View <a href="{% url 'settings' %}">your settings</a> to make changes.</p>
        {% endif %}

        {% if not owner.profile.has_active_subscription %}
            <form method="post" id="payment-form">
                {% csrf_token %}
                <div class="c-field c-field--radio">
                    <fieldset>
                        <legend>Plan</legend>
                        <div>
                            {% for price in prices reversed %}
                                <label for="id_{{ price.id }}">
                                    <input id="id_{{ price.id }}" type="radio" name="plan" value="{{ price.djstripe_id }}" required />
                                    {{ price.human_readable_price }}
                                </label>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                {{ form.stripe_source }}
                {% include 'inventory/_stripe-card-field.html' %}
                <button>Submit payment</button>
            </form>
        {% endif %}
    </div><!-- js-required -->
    <div class="no-js">
        <p>Sorry, this is one page that actually requires JavaScript to work.</p>
    </div>
</div>
{% endblock %}

{% block page_js %}
{% if not owner.profile.has_active_subscription %}
    {% include 'inventory/_stripe-javascript.html' %}
{% endif %}
{% endblock %}
