{% extends 'base_site.html' %}

{% block title %} / {{ owner.username }} / {{ type }}{% endblock %}

{% block content %}
<h1>{{ owner.username }} / {{ type }}</h1>

{% if film_counts %}
<ul class="cards">
    {% for film in film_counts %}
    <li>
        <a class="card card__{{ film.type }}" href="{% url 'profile-films' owner.username film.slug %}">
            <header><h1>{{ film }}</h1> </header>
            <div class="count"><span>{{ film.count }}</span></div>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{{ owner.username }} doesn't have any of this film.</p>
{% endif %}
{% endblock %}
