& {
    .c-site-nav {
        border-bottom: 0;
        justify-content: flex-end;

        // Make sure the `Log in` link is in the same position as the
        // `Log out` link when logged in.
        li {
            display: flex;
            align-items: center;
            height: $logo-size;
        }
    }

    .icon {
        background: $dark;
        text-align: center;
        padding-bottom: 3rem;
    }

    form { margin-top: 2rem; }

    input {
        margin-bottom: 1rem;

        &[type='email'] { margin-right: 0.5rem; }
    }

    label {
        display: block;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}
