.bulk-status {
    @include divider-solid;
    border-width: $divider-width 0 0;
    padding: 1.8rem 0 2rem;

    p { margin-top: 0; }

    select,
    input { margin-top: 0.5rem; }
}

.year-filter,
.status-filter {
    background: $light;
    list-style: none;
    padding: 0;
    margin: 0;

    li { display: inline-block; }

    li span,
    a:hover { background: $medium; }

    li a,
    li span {
        padding: 0.75rem 1rem;
        display: block;
    }
}

.year-filter {
    margin-bottom: 2rem;
    background: $light;
    border-top: 1px solid $medium;
}

.status-filter {
    margin-top: 2rem;
    border-bottom: 1px solid $medium;
}

.status-description {
    background: $light;
    font-style: italic;
    margin: 0;
    padding: 1rem;

    // If the year filter isn’t showing.
    & + form { margin-top: 2rem; }
}
