.pattern {
    padding-top: 1rem;
    margin-top: 3rem;
}

.space {
    > div + div:not(.wrap) { margin-top: 1.5rem; }
}

.wrap {
    margin-top: 1rem;

    // Override the default in _buttons.scss:
    button + button { margin-left: 0; }

    button {
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
}

section.pattern {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        &:not(.c-heading) {
            @include gradient(#fff);
            color: $dark;
            font-style: italic;
            padding: 0.5rem 1rem;
            margin-bottom: 1.5rem;
        }
    }
}
