{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whoops! / Cassette Nest</title>
    <meta name="description" content="An easy and fun way to build an lifelong archive of metadata about your film photography." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}" />
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">
    <style>svg { max-width: 50px; }</style>
</head>
<body class="landing error" ontouchstart>
    <div class="wrapper">
        <div class="flex print:block flex-col">
            <div class="flex-1 relative z-0 overflow-y-auto focus:outline-hidden">
                <main class="pt-2 md:pt-6 pb-16">
                    <div class="main-header max-w-7xl mx-auto mb-6 md:mb-8 px-4 sm:px-6 lg:px-8 space-y-8">
                        <h1>Something is broken.</h1>
                    </div>
                    <div class="main-content max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 space-y-12">
                        <div>
                            <p>Sorry about that. I’m on the case and will have this fixed soon.</p>
                            <p><a href="mailto:trey@cassettenest.com">Contact me</a> if you have any questions.</p>
                        </div>

                        <footer>
                            <div class="mt-28 border-t border-stone-300 dark:border-stone-700 pt-8 text-xs xl:text-center">
                                <p class="text-stone-400 dark:text-stone-600 xl:text-center">Copyright &copy; 2016–{% now 'Y' %} <a href="https://piep.works">Piepworks LLC</a>. All rights reserved.</p>
                                <ul class="policies print:hidden inline-flex gap-3">
                                    <li><a href="https://cassettenest.com/policies/terms/">Terms of Service</a></li>
                                    <li><a href="https://cassettenest.com/policies/privacy/">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </footer>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>
