{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whoops! / Cassette Nest</title>
    <meta name="description" content="An easy and fun way to build an lifelong archive of metadata about your film photography." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}" />
</head>
<body class="landing error" ontouchstart>
    <div class="wrapper">
        <div class="icon">
            <img src="{% static 'img/icon.svg' %}" height="100" width="100" alt="Cassette Nest Icon" />
        </div>

        <main>
            <h1>Something is broken.</h1>
            <p>Sorry about that. I’m on the case and will have this fixed soon.</p>
            <p><a href="https://cassettenest.com/feedback/?choice=bug" rel="noopener">Contact me</a> if you have any questions.</p>
        </main>
        <footer>
            <div class="mt-28 border-t border-stone-300 dark:border-stone-700 pt-8 text-xs xl:text-center">
                <p class="text-stone-400 dark:text-stone-600 xl:text-center">Copyright &copy; 2016–{% now 'Y' %} <a href="https://piep.works">Piepworks LLC</a>. All rights reserved.</p>
                <ul class="policies print:hidden inline-flex gap-3">
                    <li><a href="https://cassettenest.com/policies/terms/">Terms of Service</a></li>
                    <li><a href="https://cassettenest.com/policies/privacy/">Privacy Policy</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
