{% load static %}
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cassettenest.com" />
    <meta property="og:title" content="Cassette Nest — Your analog photography deserves metadata." />
    <meta property="og:description" content="An easy and fun way to build a lifelong archive of metadata about your film photography." />
    <meta property="og:image" content="{% static 'img/meta-card.png' %}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://cassettenest.com" />
    <meta property="twitter:title" content="Cassette Nest — Your analog photography deserves metadata." />
    <meta property="twitter:description" content="An easy and fun way to build a lifelong archive of metadata about your film photography." />
    <meta property="twitter:image" content="{% static 'img/meta-card.png' %}" />
