{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <title>Cassette Nest{% block title %}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'inventory/scss/main.scss' %}" />
    {% endcompress %}
</head>

<body {% block bodytag %}{% endblock %}>
    <header>
        <h1><a href="{% url 'index' %}">Cassette Nest</a></h1>
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'profile' %}">Your profile</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
        </nav>
        {% endif %}
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
