{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% url 'index' as index_url %}
    <title>{% block title %}{% endblock %}{% if request.get_full_path != index_url %} / {% endif %}Cassette Nest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'inventory/scss/main.scss' %}" />
    {% endcompress %}
    <script src="{% static 'inventory/js/vendor/jquery.min.js' %}"></script>
</head>

<body {% block bodytag %}{% endblock %}>
    <header class="c-site-nav">
        {% if request.get_full_path != index_url or user.is_authenticated %}
        <h1><a href="{% url 'index' %}"><img src="{% static 'inventory/img/icon.svg' %}" alt="Cassette Nest" /></a></h1>
        {% endif %}
        <nav>
            <ul>
            {% url 'login' as login_url %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Log out</a></li>
            {% elif request.path != login_url %}
                <li><a href="{{ login_url }}">Log in</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if 'safe' in message.tags %}
                {{ message|safe }}
            {% else %}
                {{ message }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if request.get_full_path == index_url and not user.is_authenticated %}
    <div class="icon">
        <img src="{% static 'inventory/img/full-icon.svg' %}" alt="Cassette Nest" />
    </div>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright &copy; {% now 'Y' %} <a href="https://treylabs.com">Trey Labs LLC</a>. All rights reserved.</p>
    </footer>
    <script src="{% static 'inventory/js/main.js' %}"></script>
</body>
</html>
