{% load static tz capture_tags waffle_tags django_htmx %}{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html>
<html lang="en" class="no-js{% if user.profile.color_preference != 'light' %} dark{% endif %}">
<head>
    {% url 'index' as index_url %}
    <title>{% block title %}{% endblock %}{% if request.path != index_url %} / {% endif %}Cassette Nest</title>
    <meta name="description" content="An easy and fun way to build an lifelong archive of metadata about your film photography." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'tailwind.css' %}" />
    {% include 'partials/pwa-meta.html' %}
    {% include '_meta-tags.html' %}
    {% if not user.is_authenticated and not debug %}
    <script async defer data-domain="app.cassettenest.com" src="https://plausible.io/js/plausible.js"></script>
    {% endif %}
    {% if wc_needed %}
    <script type="module" src="{% static 'js/vendor/wc/@github/markdown-toolbar-element/index.js' %}"></script>
    {% endif %}
    <style>svg { max-width: 50px; }</style>
</head>
{% capture as bodytag silent %}{% block bodytag %}{% endblock %}{% endcapture %}
{% url 'patterns' as patterns_url %}
<body{% if bodytag %} {{ bodytag }}{% endif %} ontouchstart>
    <div class="wrapper md:h-screen md:print:h-auto md:overflow-hidden md:flex">
        {% if user.is_authenticated and request.path != patterns_url %}{% include '_menu.html' %}{% endif %}
        <div class="flex flex-col md:w-0 flex-1 overflow-hidden min-h-screen">
            {% if user.is_authenticated %}{% include '_hamburger.html' %}{% endif %}
            <div class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
                {% if user.is_authenticated %}
                    {% if subscription_banner != '' and request.path != patterns_url %}
                    <div class="print:hidden px-6 py-4 mb-4 md:mb-0 subscription-banner{% if subscription_banner.status != 'none' %} {{ subscription_banner.status }}{% endif %}">
                        {{ subscription_banner.message | safe }}
                    </div>
                    {% endif %}
                {% endif %}
                <main class="pt-2 md:pt-6 pb-16">
                    {% spaceless %}
                    <div class="print:hidden main-header max-w-7xl mx-auto mb-6 md:mb-8 px-4 sm:px-6 lg:px-8 space-y-8">
                        {% include 'components/message.html' %}

                        {% block header %}{% endblock %}
                    </div>
                    {% endspaceless %}
                    <div class="main-content max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 space-y-12">
                        {% block content %}{% endblock %}

                        <footer>
                            <div class="mt-28 border-t border-stone-300 dark:border-stone-700 pt-8 text-xs xl:text-center">
                                <p class="text-stone-400 dark:text-stone-600 print:text-stone-800 xl:text-center print:xl:text-left"><span class="hidden print:inline">Cassette Nest is </span>Copyright &copy; 2016–{% now 'Y' %} <a href="https://piep.works">Piepworks LLC</a>. All rights reserved.</p>
                                <ul class="policies print:hidden inline-flex gap-3">
                                    <li><a href="https://cassettenest.com/policies/terms/">Terms of Service</a></li>
                                    <li><a href="https://cassettenest.com/policies/privacy/">Privacy Policy</a></li>
                                </ul>
                                <p class="text-stone-400 dark:text-stone-600 print:text-stone-800 xl:text-center print:xl:text-left">v4</p>
                            </div>
                        </footer>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <script src="{% static 'js/vendor/htmx-1.8.6.min.js' %}" defer></script>
    <script src="{% static 'js/vendor/hyperscript-0.9.8.min.js' %}" defer></script>
    {% django_htmx_script %}

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('has-js');

        {% if user.is_authenticated and request.path != patterns_url %}
            {% include 'js/menu.js' %}
            {% include 'js/htmx-fade.js' %}
        {% endif %}

        {% include 'js/color-preference.js' %}

        {% if not debug %}
            {% include 'js/sw-setup.js' %}
        {% endif %}
    </script>
    {% block page_js %}{% endblock %}
</body>
</html>
