{% extends 'base_site.html' %}
{% block title %}Pattern Library{% endblock %}
{% block bodytag %}class="patterns"{% endblock %}

{% block content %}
<h1>Pattern Library</h1>

<section id="section-onboarding" class="gap-5">
    <h2><a href="#section-onboarding">Onboarding</a></h2>
    {% include 'inventory/_onboarding.html' with email=True user=onboarding_user cameras_total=False rolls=False %}
</section>

<section id="section-ready-table">
    <h2><a href="#section-ready-table">Ready Table</a></h2>

    {% include 'components/ready-table.html' with rolls=test_rolls %}
</section>

<section id="section-notifications">
    <h2><a href="#section-notifications">Notifications</a></h2>

    {% include 'components/message.html' with messages=test_messages %}
</section>

<section id="section-form-fields">
    <h2><a href="#section-form-fields">Form Fields</a></h2>
    <form>
        {% for field in form %}
            {% include 'components/form-field.html' with field=field %}
        {% endfor %}
        <div>
            <fieldset>
                <legend>Fieldset & Legend</legend>
                <div class="space-y-2">
                    {{ form.choice }}
                    {{ form.number }}
                </div>
            </fieldset>
        </div>
    </form>
</section>

<section id="section-buttons">
    <h2><a href="#section-buttons">Buttons</a></h2>

    <div class="space-y-4">
        <div><button>Button Tag</button></div>
        <div><input type="submit" value="Input Button"></div>
        <div><a class="button" href="#">Link Button</a></div>

        <div class="pt-6 space-x-2">
            <button class="primary">Primary</button>
            <button class="secondary">Secondary</button>
        </div>
        <div class="space-x-2">
            <button class="destructive" title="DANGER!">Destructive</button>
            <button disabled>Disabled</button>
        </div>
    </div>
</section>
{% endblock %}

{% block page_js %}
<script>
    {% include 'js/markdown-autocomplete.js' %}
</script>
{% endblock %}
