{% extends 'base_site.html' %}
{% block title %}Pattern Library{% endblock %}
{% block content %}
<div class="raw">
    <h1>Pattern Library</h1>

    <h2>Form Fields</h2>
    {% for field in form %}
        {% include 'inventory/_form-field.html' with field=field %}
    {% endfor %}

    <div class="c-field">
        <fieldset>
            <legend>Fieldset & Legend</legend>
            {{ form.choice }}
            {{ form.number }}
        </fieldset>
    </div>

    <h2>Buttons</h2>
    <div><button>Button Tag</button></div>
    <hr />
    <div><input type="submit" value="Input Button"></div>
    <hr />
    <div>
        <button>Primary (default)</button>
        <button class="secondary">Secondary</button>
    </div>
    <hr />
    <div>
        <button class="icon icon-remove">
            {% include 'inventory/_github-icon.html' with id='x' %}
        </button>
        <button class="icon icon-edit">
            {% include 'inventory/_github-icon.html' with id='pencil' %}
        </button>
    </div>

    <h2>Cards</h2>
    {% include 'inventory/_card.html' with name='Plain card' %}
    {% include 'inventory/_card.html' with name='Plain card with count' slot='count' %}
    <hr />
    {% include 'inventory/_card.html' with name='Film count: E6' slot='count' count=50 type='film' film_type='e6' %}
    {% include 'inventory/_card.html' with name='Film count: C41' slot='count' count=25 type='film' film_type='c41' %}
    {% include 'inventory/_card.html' with name='Film count: B&W' slot='count' count=12 type='film' film_type='bw' %}
    <hr />
    {% include 'inventory/_card.html' with name='Camera card with empty reminder' slot='reminder' %}
    {% include 'inventory/_card.html' with name='Camera card with E6 film reminder' slot='reminder' roll=roll1 %}
    {% include 'inventory/_card.html' with name='Camera card with pushed C41 film reminder' slot='reminder' roll=roll2 %}
    {% include 'inventory/_card.html' with name='Camera card with B&W film reminder' slot='reminder' roll=roll3 %}

    <h2>Tables</h2>
    <p>&hellip;</p>
</div>
{% endblock %}
