{% extends 'registration/base.html' %}
{% load static honeypot %}

{% block title %}Create an account{% endblock %}

{% block heading %}
<h2>Create an account</h2>
<p>Or <a href="{% url 'login' %}">sign in</a></p>
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
    {% render_honeypot_field "phonenumber" %}
    {% for field in form %}
        {% include 'components/form-field-plain.html' with field=field %}
    {% endfor %}

    <p class="policies">By creating an account, you agree to our <a href="https://cassettenest.com/policies/terms/" target="_blank" rel="noopener">Terms of Service</a> and <a href="https://cassettenest.com/policies/privacy/" target="_blank" rel="noopener">Privacy Policy</a>.</p>

    <div class="action">
        <button class="button primary">Create your account</button>
    </div>
</form>
{% endblock %}
