{% extends 'base_site.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="raw">
    <h1>Log in to continue.</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% include 'inventory/_form-field.html' with field=field %}
        {% endfor %}
        <div class="action"><input type="submit" value="Login" /></div>
    </form>

    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <p>Don't have an account yet? <a href="{% url 'register' %}">Create one.</a></p>
</div>
{% endblock %}
