{% extends 'base_site.html' %}
{% load static %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-20 w-auto" src="{% static 'img/icon.svg' %}" alt="Cassette Nest" title="Cassette Nest" />
        <h2 class="mt-6 text-center text-3xl font-extrabold">Sign in to your account</h2>
        <p class="mt-2 text-center text-sm ">
            Or
            <a href="{% url 'register' %}" class="font-medium text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300"> start your 14-day free trial </a>
        </p>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <form class="space-y-6" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% include 'components/form-field.html' with field=field %}
            {% endfor %}
            <div class="flex items-center justify-between">
                <div class="text-sm">
                    <a href="{% url 'password_reset' %}" class="font-medium text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300"> Forgot your password? </a>
                </div>
            </div>
            <div>
                <button class="w-full flex justify-center button primary">Sign in</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
