{% extends 'base_site.html' %}

{% block title %}Reset your password{% endblock %}

{% if validlink %}
    <h2>Enter new password</h2>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    {% block form %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% include 'components/form-field.html' with field=field %}
        {% endfor %}
        <div class="action"><button class="button primary">Change my password</button></div>
    </form>
    {% endblock  %}
{% else %}
    {% block heading %}
    <h2>Whoops!</h2>
    <p>Sorry, that link expired. <a href="{% url 'password_reset' %}">Try again.</a></p>
    {% endblock %}
{% endif %}
