{% extends 'base_site.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="raw">
    <h2>Reset your password</h2>

    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% include 'components/form-field.html' with field=field %}
        {% endfor %}
        <div class="action"><input type="submit" value="Send confirmation link" /></div>
    </form>
</div>
{% endblock %}
