{% extends 'registration/base.html' %}

{% block title %}Reset your password{% endblock %}

{% block heading %}
<h2>Reset your password</h2>

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        {% include 'components/form-field-plain.html' with field=field %}
    {% endfor %}
    <div class="action">
        <button class="button primary">Send confirmation link</button>
    </div>
</form>
{% endblock %}
