{% extends 'base_site.html' %}

{% block title %}Create an account{% endblock %}

{% block bodytag %}class="register"{% endblock %}

{% block content %}
<div class="raw">
    <h1>Create an account to continue.</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% include 'inventory/_form-field.html' with field=field %}
        {% endfor %}


        <p class="policies">By creating an account, you agree to our <a href="https://cassettenest.com/policies/terms/" target="_blank" rel="noopener">Terms of Service</a> and <a href="https://cassettenest.com/policies/privacy/" target="_blank" rel="noopener">Privacy Policy</a>.</p>

        <div class="action"><input type="submit" value="Create your account" /></div>
    </form>
</div>
{% endblock %}
