main .wrapper {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 30px;
        list-style: none;
        padding: 0;
    }

    li {
        background: $light;
        text-align: center;
    }

    input[type=submit],
    button { margin-top: 1em; }
}
