main {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 0;
    max-width: 55ch;
    padding: 2ch 2ch 0;

    h1 {
        margin-bottom: 4rem;
        text-align: center;
    }

    hr { margin: 4rem 0; }

    li + li { margin-top: 1.5rem; }
}
