{% load capture_tags %}
{% capture as action_url silent %}
{% spaceless %}
{% if items.current_tab_action == 'load' %}
    {% if item.camera %}
        {# This is a camera back. #}
        {% url 'camera-back-load' item.camera.id item.id %}
    {% else %}
        {% url 'camera-load' item.id %}
    {% endif %}
{% else %}
    {{ item.get_absolute_url }}
{% endif %}
{% endspaceless %}
{% endcapture %}

{% capture as querystring silent %}
{% if project and items.current_tab_action == 'load' %}?project={{ project.id }}{% endif %}
{% endcapture %}
<li class="flex items-center hover:bg-stone-100 dark:hover:bg-stone-700 transition-colors">
    {% if project and not item.camera_back and item|model_name != 'CameraBack' %}
    {% capture as remove_text silent %}{% if item|model_name == 'Camera' %}{{ item }}{% else %}{{ item.camera }}{% endif %}{% endcapture %}
    <form onsubmit="return confirmRemove('{{ remove_text }} from {{ project.name }}')" class="remove ml-5" action="{% url 'project-camera-update' project.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="cameras" value="{% if item|model_name == 'Camera' %}{{ item.id }}{% else %}{{ item.camera.id }}{% endif %}">
        <input type="hidden" name="action" value="remove">
        <button title="Remove camera">
            <span class="sr-only">Remove camera</span>
            {% include 'svg/heroicons/x.svg' with class="h-3 w-3 text-white" %}
        </button>
    </form>
    {% elif project %}
    <form onsubmit="return confirmRemove('{{ item.camera }} and all its backs from {{ project.name }}')" class="remove ml-5" action="{% url 'project-camera-update' project.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="cameras" value="{{ item.camera.id }}">
        <input type="hidden" name="action" value="remove">
        <button title="Remove camera">
            <span class="sr-only">Remove camera</span>
            {% include 'svg/heroicons/x.svg' with class="h-3 w-3 text-white" %}
        </button>
    </form>
    {% endif %}
    <a
        href="{{ action_url }}{{ querystring }}"
        class="folded hover:unfolded md:unfolded md:hover:folded flex flex-grow items-center justify-between no-underline hover:no-underline p-4 sm:px-6">
        <div>
            <div class="flex items-center font-medium text-stone-900 dark:text-white">
                {% if items.current_tab_action == 'roll'%}
                    <span class="text-sm pr-2">
                    {% if item.camera_back %}
                        {{ item.camera_back }}
                    {% else %}
                        {{ item.camera }}
                    {% endif %}
                    </span>
                {% else %}
                    {{ item }}
                {% endif %}
            </div>
            {% if items.current_tab_action == 'roll' %}
            <div class="mt-2 sm:flex sm:justify-between">
                <div class="mt-2 flex items-center text-sm text-stone-400 dark:text-stone-400 sm:mt-0">
                    <p>Loaded on <time datetime="{{ item.started_on }}">{{ item.started_on|date:'F j, Y' }}</time></p>
                </div>
            </div>
            {% endif %}
        </div>
        {% if items.current_tab_action == 'roll' or items.current_tab_action == 'load' %}
            {% include 'components/reminder.html' %}
        {% endif %}
    </a>
</li>
