{% load widget_tweaks %}
{% load capture_tags %}

{% if field.field.widget.input_type == 'hidden' %}
    {{ field }}
{% else %}
<div
    class="c-field {% if not field.field.widget.input_type %} c-field--textarea
        {% else %} c-field--{{ field.field.widget.input_type }}{% endif %}
        {% if progressive %} c-field--progressive
            {% if primary %} c-field--progressive-primary{% endif %}
        {% endif %}
        {% if top_field %} c-field--progressive__top{% endif %}"
    {% if progressive_text %} data-progressive-text="{{ progressive_text }}"{% endif %}
    {% if label_override %} data-label-override="{{ label_override }}"{% endif %}
    {% if show_first %} data-show-first="self"{% endif %}
    data-label="{{ field.field.label }}"
    {% if progressive %} x-show="{{ primary|yesno:'primary,!primary' }}"{% endif %}>
    {% if field.field.widget.input_type == 'checkbox' %}
        {% if field|length > 1 %}
            <fieldset>
                <legend>{{ field.label }}</legend>
                {% if field.help_text %}
                    <small class="prose dark:prose-invert">{{ field.help_text }}</small>
                {% endif %}
                {% for f in field %}
                    <div>{{ f }}</div>
                {% endfor %}
            </fieldset>
        {% else %}
            {% if field.help_text %}
                <small class="prose dark:prose-invert">{{ field.help_text }}</small>
            {% endif %}
            <label for="{{ field.id_for_label }}">
                {{ field }}
                {{ field.label }}
            </label>
        {% endif %}
    {% elif field.field.widget.input_type == 'radio' %}
        <fieldset>
            <legend>{{ field.label }}</legend>
            {% if field.help_text %}
                <small class="prose dark:prose-invert">{{ field.help_text }}</small>
            {% endif %}
            {% for f in field %}
                <div>{{ f }}</div>
            {% endfor %}
        </fieldset>
    {% else %}
        <label class="block text-sm font-medium" for="{{ field.id_for_label }}"{% if label_override %} x-text="'{{ label_override }}'"{% endif %}>{{ field.label }}</label>
        {% if field.help_text and field.label != 'Username' %}
            <small class="prose dark:prose-invert">{{ field.help_text }}</small>
        {% endif %}
        {% if not field.field.widget.input_type %}
            {% include 'inventory/_form-markdown-toolbar.html' with id=field.id_for_label %}
        {% endif %}
        {% if enhanced_label.before %}
            <span class="subdued"{% if enhanced_label.before_tooltip %} title="{{ enhanced_label.before_tooltip }}"{% endif %}>{{ enhanced_label.before }}</span>
        {% endif %}

        {% capture as xref silent %}{{ primary|yesno:'primary,secondary' }}{% endcapture %}

        <div class="mt-1">
            {% if not field.field.widget.input_type %}
                {# Set autocomplete on Markdown textareas. #}
                {% render_field field x-ref=xref x-data='' x-on::keyup.enter="checkAutocomplete($el)" %}
            {% else %}
                {% render_field field x-ref=xref %}
            {% endif %}
        </div>

        {% if enhanced_label.after %}
            <span class="subdued"{% if enhanced_label.after_tooltip %} title="{{ enhanced_label.after_tooltip }}"{% endif %}>{{ enhanced_label.after }}</span>
        {% endif %}
    {% endif %}
    {% if progressive %}
        <div class="js-link">
            <a @click="primary = !primary; $nextTick(() => $refs.{{ primary|yesno:'secondary,primary' }}.focus())" tabindex="0">{{ progressive_text }}</a>
        </div>
    {% endif %}
</div>
{% endif %}
