{% load widget_tweaks %}
{% load capture_tags %}
{% capture as f silent %}{{ field.id_for_label }}{% endcapture %}

<div class="flex">
    <button _="on load remove .hidden
               set minValue to #{{ f }}.min as Int or 0
               if #{{ f }}.value == minValue
                 add [@disabled]
               end

               on click
                 set minValue to #{{ f }}.min as Int or 0

                 if #{{ f }}.value > minValue
                   decrement #{{ f }}.value by 1
                   remove [@disabled] from #{{ f }}-add

                   if #{{ f }}.value == minValue
                     add [@disabled]"
      id="{{ f }}-remove" class="hidden stepper left" type="button" aria-label="Remove">&minus;</button>

    {# If both fields don't have a "max", Safari renders them as different sizes. #}
    {% render_field field x-ref=xref max='5' %}

    <button _="on load remove .hidden
               if #{{ f }}.value == #{{ f }}.max as Int
                 add [@disabled]
               end

               on click
                 if #{{ f }}.value as Int < #{{ f }}.max as Int
                   increment #{{ f }}.value by 1
                   remove [@disabled] from #{{ f }}-remove

                   if #{{ f }}.value == #{{ f }}.max as Int
                     add [@disabled]"
        id="{{ f }}-add" class="hidden stepper right" type="button" aria-label="Add">&plus;</button>
</div>
