{% load widget_tweaks %}
<div class="flex">
    <button _="on load remove .hidden
            then on click
                halt the event
                if #{{ field.id_for_label }}.value as Int > #{{ field.id_for_label }}.min as Int
                    decrement #{{ field.id_for_label }}.value by 1"
        class="hidden stepper left" type="button" aria-label="Remove" aria-describedby="adults-label">−</button>

    {# If both fields don't have a "max", Safari renders them as different sizes. #}
    {% render_field field x-ref=xref max='100' %}

    <button _="on load remove .hidden
                then on click
                    halt the event
                    if #{{ field.id_for_label }}.value as Int < #{{ field.id_for_label }}.max as Int
                        increment #{{ field.id_for_label }}.value by 1"
        class="hidden stepper right" type="button" aria-label="Add" aria-describedby="adults-label">+</button>
</div>
