<tr
    {% if class %}
        class="{{ class }}"
        {% if class == 'nested' %}
            _="on load add .hidden to me"
        {% endif %}
    {% endif %}>
    <td>
        {% if summary %}
            <a class="print-no-href" href="{% url 'roll-frame-detail' roll.id frame.number %}"
                _="on click
                    halt the event
                    toggle .hidden on .nested
                ">
                {{ frame_range }}
            </a>
        {% else %}
            <a class="print-no-href" href="{% url 'roll-frame-detail' roll.id frame.number %}">{{ frame.number }}</a>
        {% endif %}
    </td>
    <td title="{{ frame.date|date:'l, F j, Y' }}">
        <span class="print:hidden">{{ frame.date|date:'M j' }}</span>
        <span class="hidden print:inline">{{ frame.date|date:'M j, Y' }}</span>
    </td>
    <td class="entry-notes">
        {% if frame.notes %}
            {{ frame.notes|markdown }}
        {% endif %}
    </td>
</tr>
