{# Make sure this partial is wrapped in a <form> if you need to perform an action with this data. #}
<div class="logbook-wrapper">
    <div class="logbook flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-stone-200 dark:divide-stone-600">
                    <thead>
                        <tr>
                            {% if page != 'project' and status in bulk_status_keys %}
                            <th scope="col" class="print:hidden">
                                <input id="select-all-rolls" class="hidden"
                                    _="on load
                                           remove .hidden from me
                                           send updateCount(count: .roll-checkbox.checked.length) to me

                                       on change
                                       if my.checked is true
                                           set .roll-checkbox.checked to true
                                       else
                                           set .roll-checkbox.checked to false
                                       end

                                       send updateCount(count: .roll-checkbox.checked.length) to #update-order-count
                                       send updateCount(count: .roll-checkbox.checked.length) to #update-order-count-placeholder

                                       on updateCount(count)
                                       if count < .roll-checkbox.length
                                           set my.checked to false
                                       else
                                           set my.checked to true"
                                    class="select-all" type="checkbox" title="Select or deselect all items">
                            </th>
                            {% endif %}
                            <th scope="col">Code</th>
                            <th scope="col">Film</th>
                            <th scope="col">Started</th>
                            <th scope="col">Finished</th>
                            {% if page != 'project' %}
                            <th scope="col">Project</th>
                            {% endif %}
                            {% if page == 'logbook' or page == 'project' %}
                            <th scope="col">Status</th>
                            {% endif %}
                            <th scope="col">Back</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for roll in page_obj %}
                        <tr>
                            {% if page != 'project' and status in bulk_status_keys %}
                            <td class="print:hidden">
                                <input
                                    _="on change
                                       send updateCount(count: .roll-checkbox.checked.length) to #update-order-count
                                       send updateCount(count: .roll-checkbox.checked.length) to #update-order-count-placeholder
                                       send updateCount(count: .roll-checkbox.checked.length) to #select-all-rolls"
                                    type="checkbox" class="roll-checkbox" value="{{ roll.id }}" name="roll">
                            </td>
                            {% endif %}
                            <td><a href="{% url 'roll-detail' roll.id %}">{{ roll.code }}</a></td>
                            <td>{{ roll.film }}</td>
                            <td>{{ roll.started_on|date:'Y-m-d' }}</td>
                            <td>{{ roll.ended_on|date:'Y-m-d' }}</td>
                            {% if page != 'project' %}
                            <td class="wrap">{% if roll.project %}<a href="{% url 'project-detail' roll.project.id %}">{{ roll.project }}</a>{% endif %}</td>
                            {% endif %}
                            {% if page == 'logbook' or page == 'project' %}
                            <td>{{ roll.get_status_display }}</td>
                            {% endif %}
                            <td>{{ roll.camera_back.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'components/logbook-pagination.html' %}

    {% if page == 'ready' %}
        {% include 'partials/logbook-ready-update-buttons.html' %}
    {% endif %}
</div>
