{% if page_obj.has_previous or page_obj.has_next %}
<div class="pagination mt-6 py-3 flex items-center justify-between" hx-push-url="true" hx-target=".logbook-wrapper">
    <div class="flex-1 flex justify-between align-center sm:hidden">
        {# Mobile #}
        {% if page_obj.has_previous %}
            <div>
                {# <a class="button" title="First page" href="?page=1{{ pagination_querystring }}">First</a> #}
                <a class="button" title="Previous page" hx-get="?page={{ page_obj.previous_page_number }}{{ pagination_querystring }}" href="?page={{ page_obj.previous_page_number }}{{ pagination_querystring }}">Previous</a>
            </div>
        {% else %}
            <div>
                {# <span title="No previous page" class="placeholder">«</span> #}
                <button disabled aria-disabled="true" title="No previous page" class="button-inactive">Previous</button>
            </div>
        {% endif %}

        <div class="flex items-center">
            <p class="text-sm text-subdued">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        </div>

        {% if page_obj.has_next %}
            <div>
                <a class="button" title="Next page" hx-get="?page={{ page_obj.next_page_number }}{{ pagination_querystring }}" href="?page={{ page_obj.next_page_number }}{{ pagination_querystring }}">Next</a>
                {# <a class="button" title="Last page" href="?page={{ page_obj.paginator.num_pages }}{{ pagination_querystring }}">»</a> #}
            </div>
        {% else %}
            <div>
                <button disabled aria-disabled="true" title="No next page" class="button-inactive">Next</button>
                {# <span title="No next page" class="placeholder">»</span> #}
            </div>
        {% endif %}
    </div>
    <div class="hidden sm:flex flex-col items-center min-w-full">
        {# Desktop #}
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            {% if page_obj.has_previous %}
                <a hx-get="?page={{ page_obj.previous_page_number }}{{ pagination_querystring }}" href="?page={{ page_obj.previous_page_number }}{{ pagination_querystring }}">{% include 'svg/heroicons/chevron-left.svg' %}</a></li>
            {% else %}
                <button title="No previous page" disabled aria-disabled="true">{% include 'svg/heroicons/chevron-left.svg' %}</button>
            {% endif %}
            {% for i in page_obj.paginator.get_elided_page_range %}
                {% if page_obj.number == i %}
                    <span aria-current="page" class="current">{{ i }} <span class="sr-only">(current)</span></span>
                {% else %}
                    {% if i == page_obj.paginator.ELLIPSIS %}
                        <span class="ellipsis">{{ i }}</span>
                    {% else %}
                        <a hx-get="?page={{ i }}{{ pagination_querystring }}" href="?page={{ i }}{{ pagination_querystring }}">{{ i }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="page-link" hx-get="?page={{ page_obj.next_page_number }}{{ pagination_querystring }}" href="?page={{ page_obj.next_page_number }}{{ pagination_querystring }}">{% include 'svg/heroicons/chevron-right.svg' %}</a>
            {% else %}
                <button title="No next page" disabled aria-disabled="true">{% include 'svg/heroicons/chevron-right.svg' %}</button>
            {% endif %}
        </nav>
    </div>
</div>
{% endif %}
