<section class="rounded-lg bg-white dark:bg-gray-600 shadow">
    <div class="px-4 pt-5 sm:px-6 border-b border-gray-200 dark:border-gray-700">
        <div class="mb-5 -ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
            <div class="ml-4 mt-2">
                <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
                    {{ title }}
                </h3>
            </div>
            <div class="ml-4 mt-2 flex-shrink-0">
                <a type="button" class="button primary" href="{{ add_url }}">
                    {% include 'svg/heroicons/plus.svg' with class='-ml-1 mr-2 h-5 w-5' %}
                    New
                </a>
            </div>
        </div>
    </div>
    <div class="bg-white dark:bg-gray-600 overflow-hidden rounded-b-md mb-6">
        {% if items %}
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                {% for item in items %}
                    {% include 'components/card.html' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No items</p>
        {% endif %}
    </div>
</section>
