{% load capture_tags %}
{% if page == 'index' %}
    {# Ignore all this for camera/backs. #}
    {% capture as target silent %}#homepage_sections{% endcapture %}
    {% capture as adjacent_section silent %}{% if items.slug == 'c' %}{{ request.GET.p }}{% else %}{{ request.GET.c }}{% endif %}{% endcapture %}
    {% if adjacent_section %}
        {% capture as adjacent_slug silent %}{% if items.slug == 'c' %}p{% else %}c{% endif %}{% endcapture %}
    {% endif %}
{% else %}
    {% capture as target silent %}#camera_backs_section{% endcapture %}
{% endif %}
<section id="section_{{ items.slug }}" class="rounded-lg bg-white dark:bg-stone-600 shadow">
    <div class="px-4 pt-5 sm:px-6 border-b border-stone-200 dark:border-stone-700">
        <div class="mb-5 -ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
            <div class="ml-4 mt-2">
                <h3 class="text-lg leading-6 font-medium text-stone-900 dark:text-white">
                    {{ items.title }}
                </h3>
            </div>
            <div class="ml-4 mt-2 flex-shrink-0">
                <a type="button" class="button primary" href="{{ items.add_url }}">
                    {% include 'svg/heroicons/plus.svg' with class='-ml-1 mr-2 h-5 w-5' %}
                    New
                </a>
            </div>
        </div>
        {% if items.tabs %}
            <div class="mt-4">
                <div class="sm:hidden mb-5">
                    <label for="{{ slug }}_current-tab" class="sr-only">Select a tab</label>
                    <form
                        id="section_form_{{ items.slug }}"
                        method="get"
                        hx-get="?{{ items.slug }}={{ forloop.counter0 }}{{ pagination_querystring }}"
                        action="{% if page == 'index' %}.#section_{{ items.slug }}{% endif %}"
                        hx-trigger="change"
                        hx-target="{{ target }}"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-vals='{"slug": "{{ items.slug }}"{% if items.slug == 'c' and request.GET.p %}, "p": "{{ request.GET.p }}"{% elif items.slug == 'p' and request.GET.c %}, "c": "{{ request.GET.c }}"{% endif %}}'
                        class="flex">
                        {% if items.slug == 'c' and request.GET.p %}
                            <input type="hidden" name="p" value="{{ request.GET.p }}" />
                        {% elif items.slug == 'p' and request.GET.c %}
                            <input type="hidden" name="c" value="{{ request.GET.c }}" />
                        {% endif %}
                        <select
                            name="{{ items.slug }}"
                            class="block dark:bg-stone-700 w-full pl-3 pr-10 py-2 text-base border-stone-300 dark:border-stone-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                            {% for tab in items.tabs %}
                                <option value="{{ forloop.counter0 }}"{% if items.current_tab == forloop.counter0 %} selected{% endif %}>{{ tab.name }}</option>
                            {% endfor %}
                        </select>

                        <button class="no-js button primary ml-4">Go</button>
                    </form>
                </div>
                <div class="hidden sm:block">
                    <nav class="tabs -mb-px flex space-x-8">
                        {% for tab in items.tabs %}
                            <a
                                id="section_{{ items.slug }}_{{ forloop.counter0 }}"
                                hx-get="?{{ items.slug }}={{ forloop.counter0 }}{{ pagination_querystring }}"
                                hx-vals='{"slug": "{{ items.slug }}", "{{ items.slug }}": "{{ forloop.counter0 }}"{% if items.slug == 'c' and request.GET.p %}, "p": "{{ request.GET.p }}"{% elif items.slug == 'p' and request.GET.c %}, "c": "{{ request.GET.c }}"{% endif %}}'
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                hx-target="{{ target }}"
                                href="?{{ items.slug }}={{ forloop.counter0 }}{% if adjacent_section %}&{{ adjacent_slug }}={{ adjacent_section }}{% endif %}{% if page == 'index' %}#section_{{ items.slug }}{% endif %}"
                                class="{% if forloop.counter0 == items.current_tab %}current {% endif %}whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
                                {{ tab.name }}
                                {% if tab.count > 0 %}
                                    <span class="{% if forloop.counter0 == items.current_tab %}bg-blue-100 dark:bg-blue-400 text-blue-600 dark:text-blue-900 {% else %}bg-stone-100 dark:bg-stone-700 text-stone-900 dark:text-stone-300 {% endif %}hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block">
                                        {{ tab.count }}
                                    </span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="bg-white dark:bg-stone-600 overflow-hidden rounded-b-md mb-6">
        {% if items.current_rows %}
            <ul role="list" class="divide-y divide-stone-200 dark:divide-stone-700">
                {% for row in items.current_rows %}
                    {% include 'components/card.html' with item=row %}
                {% endfor %}
            </ul>
        {% else %}
            <div class="flex items-center p-7 text-2xl text-stone-400">Nothing here…</div>
        {% endif %}
    </div>
</section>
