<section class="logbook">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <table>
                <thead>
                    <tr>
                        {% for heading in table.headings %}
                        <th class="text-left">{{ heading }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table.rows %}
                    <tr>
                        {% for col in row.columns %}
                        <td>
                            {% if col.href %}
                            <a href="{{ col.href }}">{{ col.title }}</a>
                            {% else %}
                            {{ col }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
