$e6: #6542f4;
$c41: #419af4;
$bw: #555;
$dark: rgba(0, 0, 0, 0.9);
$medium-dark: rgba(0, 0, 0, 0.5);
$medium: #ccc;
$light: #eee;
$gold: #f3ba4c;
$button: darken($c41, 20%);
$button-hover: darken($button, 10%);
$destructive: #fd6666; // "Salmon" from macOS color picker's "Pencils" panel
$white: #fff;
