$e6: #6542f4;
$c41: #419af4;
$bw: #555;
$dark: rgba(0, 0, 0, 0.9);
$medium-dark: rgba(0, 0, 0, 0.5);
$medium: #ccc;
$light: #eee;
$gold: #f3ba4c;
$gold-light: #f5d327;
$button: darken($c41, 20%);
$button-hover: darken($button, 10%);
$destructive: #fd6666; // "Salmon" from macOS color picker's "Pencils" panel
$white: #fff;

// From Bootstrap
// https://getbootstrap.com/docs/3.3/components/#alerts
$bs-green: #3c763d;
$bs-green-bg: #dff0d8;
$bs-blue: #31708f;
$bs-blue-bg: #d9edf7;
$bs-red: #a94442;
$bs-red-bg: #f2dede;
$bs-yellow: #8a6d3b;
$bs-yellow-bg: #fcf8e3;

// https://design-system.service.gov.uk/styles/colour/
// https://design-system.service.gov.uk/components/tag/#additional-colours
$govuk-colours: (
    black: #0b0c0c,
    grey-dark: #383f43,
    grey-light: #eeefef,
    blue-dark: #144e81,
    blue-light: #d2e2f1,
    purple-light: #dbd5e9,
    purple-dark: #3d2375,
);

$light-border: darken($light, 20%);

@mixin slot-colors($color) {
    background: map-get($govuk-colours, #{$color}-light);

    &,
    a { color: map-get($govuk-colours, #{$color}-dark); }

    &:focus,
    &:hover,
    a:focus &,
    a:hover & {
        color: map-get($govuk-colours, #{$color}-light);
        background: map-get($govuk-colours, #{$color}-dark);
    }
}

@mixin film-card-colors($color) {
    background: map-get($govuk-colours, #{$color}-light);

    a { color: map-get($govuk-colours, #{$color}-dark); }

    &:focus,
    &:hover,
    &:focus a,
    &:hover a,
    a:hover,
    a:focus {
        color: map-get($govuk-colours, #{$color}-light);
        background: map-get($govuk-colours, #{$color}-dark);

        button.icon-destructive svg { fill: map-get($govuk-colours, #{$color}-light); }
    }
}
