$spacing: 0.6rem;

$breakpoints: (
    S:  '(min-width: 580px)',
    M:  '(min-width: 890px)',
    L:  '(min-width: 1120px)',
    XL: '(min-width: 1400px)'
);

// Example usage:
//     @include breakpoint('S') { /*...*/ }

@mixin breakpoint($query) {
    @media only screen and #{map-get($breakpoints, $query)} {
        @content;
    }
}

@mixin gradient($color) {
    background: $color;
    background-image: linear-gradient($color, darken($color, 10%));

    &:hover {
        background: darken($color, 15%);
        background-image: linear-gradient(darken($color, 15%), darken($color, 20%));
    }
}

$divider-width: 0.2rem;

@mixin divider {
    border-color: $light;
    // Define where you want the border to show up after including the mixin.
    border-width: 0;
}

@mixin divider-solid {
    @include divider;
    border-style: solid;
}

@mixin divider-dashed {
    @include divider;
    border-style: dashed;
}

// For wide tables or whatever.
.overflow-x { overflow-x: auto; }

// For parts of the app that still need to be properly designed.
.raw {
    $raw-padding: 1.25rem;
    padding: $raw-padding;
    padding-top: 0;

    // Let the slightly more sophisticated Card and Heading styles break out of
    // the .raw padding.
    .c-heading--divider,
    .c-card {
        margin-left: -$raw-padding;
        margin-right: -$raw-padding;
    }
}

// TODO: Make this better and more flexible.
.toggle {
    background: $light;
    padding: 0 1rem 2rem;

    p {
        margin: 0;
        padding-top: 1.5rem;
    }

    .action { margin-top: 0; }
}

.js-link,
.toggle-button { display: none; }

html.has-js {
    .toggle { display: none; }

    .toggle-button { display: inline; }

    .js-link { display: block; }
}

// Print
.print-only { display: none; }

@media print {
    a {
        text-decoration: none;
        color: black;

        &[href^='http'] {
            text-decoration: underline;
            &::after { content: ' (' attr(href) ')'; }
        }
    }

    .action,
    .do-not-print { display: none; }

    .print-only { display: block; }
}
